<!-- Copy and paste these scripts into the bottom of your <body> tag, but before you use any Firebase services: -->
<!-- <body>  -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="/__/firebase/8.1.2/firebase-app.js"></script> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- <script src="/__/firebase/8.1.2/firebase-analytics.js"></script> -->

<!-- Initialize Firebase -->
<!-- <script src="/__/firebase/init.js"></script>
</body> -->

<!-- ||
      (isRetrievePScreen$ | async) -->

<form
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
  [ngClass]="
    ((isHomeScreen$ | async) ||
      (isVerifiedScreen$ | async) ||
      (isSignUpScreen$ | async) ||
      (isResetPScreen$ | async) ||
      (isRetrievePScreen$ | async) ||
      (isForgotPasswordScreen$ | async)) === true
      ? 'background'
      : 'background_'
  "
>
  <ng-container *ngIf="minHeight && minwidth">
    <div class="root-container">
      <router-outlet>
      
         </router-outlet>
    </div>

    <div class="root-container">
      
      <ng-container
        *ngIf="
          ((isHomeScreen$ | async) ||
            (isSignUpScreen$ | async) ||
            (isVerifiedScreen$ | async) ||
            (isResetPScreen$ | async) ||
            (isRetrievePScreen$ | async)||
            (isForgotPasswordScreen$ | async)) === false
        "
      >
        <mat-toolbar class="header" id="nav-bar">
          <!-- <div *ngIf=[routerLink]="['/app-home-page']" routerLinkActive=nav-bar></div> -->
          <img
            class="toolbar-logo"
            Src="../assets/Pics/2022-06-15 (6) (1).png"
          />
          <span class="fill-space">
      
          </span>

          <!-- Small screens top nav -->

          <div class="small-icons">
            <div  [ngClass]="searchPop === false ? 'search-box' : 'search-box_'">
                <mat-icon
                  class="material-icons"
                  [ngClass]="
                    searchPop === false
                      ? 'search-box__icon'
                      : 'search-box__icon_'
                  "
                >
                  search</mat-icon
                >
              <!-- </button> -->
              <input
                placeholder="Search Fellow Scholars"
                class="standard"
                [ngClass]="
                  searchPop === false ? 'searchHide' : 'search-box__input,fas'
                "
              />
        
            </div>

            <button
              class="lowerSettings"
              mat-icon-button
              [matMenuTriggerFor]="settingsMenu"
              type="button"
            >
              <mat-icon class="settings">settings</mat-icon>
            </button>
          </div>

          <!-- Desktop -->
          <!--Icons autosize to sidenav  -->
          <div class="large-screen-icons">
            <!-- seaech fellow skalar-->
            <div class="search-box" *ngIf="!Hashtag">
        <button mat-icon-button  matTooltip="Click To Search By Hashtag" (click)="hashTagSearch()">
                <span class="material-icons search-box__icon"> search </span>
              </button>
              <!-- </button> -->
              <input
                matInput
                type="search"
                name="search-box"
                (keyup)="sendData($event)"
                class="search-box__input"
                placeholder="Search Fellow Skalars"
                [formControl]="search"
              />
         
                <div class="text" *ngIf="users.length < 1 && hasQuery && search.value">Sorry no skalar found 
        
                </div>
                <!-- Hide -->
                <div class="showOptions showSpace" *ngIf="!(users.length < 1 && hasQuery && search.value)" [ngClass]="
                (users.length >= 1 && search.value)
                  ? 'hideSpace'
                  : '' " >
                  </div>
                <!-- Show -->
                <div [ngClass]="
                (users.length >= 1 && search.value)
                  ? 'below_search showOptions'
                  : 'hideSpace'" >
                                    <mat-select id="trigger" matTooltip="Click To See Skalars"
                                    (click)="checkFollowingSearch(search.value)" class="triggerContainer" placeholder="Fellow Skalar(s)">
                                      <div class="title">Fellow Skalars</div>
                                      <mat-divider></mat-divider>
                                      <div *ngFor="let user of users;let even = even; let odd = odd" class="triggerContainer_">
                                        
                                      <mat-option 
                                        class="options"   id="userName" >
                                        <mat-card [ngClass]="{ even_: even, odd_: odd }">
                                          <mat-card-content>
                                            <div >
                                        <div  class="columnInfo" >
                                          <!-- button to profile -->
                                          <div class="profilePic">
                                         <img class="profilePic_" src="{{user.ProfilePicPath}}"> 
                                        </div> 
                                        <div class="displayContents">
                                        <div class="name">{{user.name}}</div>
                                          <div class="username">
                                          <button  mat-button (click)="navigateToPage(user.username)" class="usernameBtn">                                            
                                            @{{user.username}}
                                      </button>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- follow -->
                                      <!--  -->
                                      <div class="center_" *ngIf="user.following == 'false' ">
                                        <mat-chip-list class="center_">
                                          <mat-chip selected class="followColor"
                                          (click)="stopPropagation($event)" (click)="followClicked(user.username, user.Creator)"
                                          matTooltip="Follow">
                                             Follow
                                          </mat-chip>
                                        </mat-chip-list>
                                      </div>
                                      <!-- following -->
                                      <div class="center_" *ngIf="user.following == 'true' ">
                                        <mat-chip-list class="center_">
                                          <mat-chip selected (click)="stopPropagation($event)" (click)="onUnfololow(user.username, user.Creator)"
                                          class="followingColor" matTooltip="Unfollow">
                                             Following
                                          </mat-chip>
                                        </mat-chip-list>
                                      </div>
                                    </div>
                                        <!-- </div> -->

                                      </mat-card-content>
                                    </mat-card>
                                      </mat-option>
                                  
                                    <!-- </mat-autocomplete> -->
                                    </div>
                                    </mat-select>
                                 <!-- </mat-form-field> -->
                                    </div>
            </div>


<!-- Show hashtag search -->

<div class="search-box" *ngIf="Hashtag">
  <button mat-icon-button matTooltip="Click To Search By Username" (click)="skalarSearch()" >
          <span class="material-icons search-box__icon"> tag </span>
        </button>
        <!-- </button> -->
        <input
          matInput
          type="search"
          name="search-box"
          (keyup)="sendDataHash($event)"
          class="search-box__input"
          placeholder="Search By Hashtags"
          [formControl]="searchHash"
        />
   
          <div class="text" *ngIf="hashs.length < 1 && hasQueryHash && searchHash.value">Sorry no hashtag found 
  
          </div>
          <!-- Hide -->
          <div class="showOptions showSpace"  *ngIf="!(hashs.length < 1 && hasQueryHash && searchHash.value)" [ngClass]="
          (hashs.length >= 1 && searchHash.value)
            ? 'hideSpace'
            : '' " >
            </div>
          <!-- Show -->
          <div [ngClass]="
          (hashs.length >= 1 && searchHash.value)
            ? 'below_search showOptions'
            : 'hideSpace'" >
                              <mat-select id="trigger" matTooltip="Click To See Hashtags" class="triggerContainer" placeholder="Hashtags">
                                <div class="title">Hashtags</div>
                                <mat-divider></mat-divider>
                                <div *ngFor="let hash of hashs;let even = even; let odd = odd" class="triggerContainer_">
                                <mat-option *ngIf="hash !== ''"
                                 class="options"  (click)="navToHashTag(hash)" id="hashName" >
                                 <mat-card [ngClass]="{ even_: even, odd_: odd }">
                                  <mat-card-content>
                                  <div  class="rowInfo_" >
                                    <i matPrefix class="fas fa-hashtag hash"></i>
                                   {{hash}}
                              
                                  </div>
                            </mat-card-content>
                              </mat-card>
                                </mat-option>
          

                              <!-- </mat-autocomplete> -->
                              </div>
                              </mat-select>
                           <!-- </mat-form-field> -->
                              </div>
      </div>

            <!-- End -->
            <div class="icon-top">
              <div class="icon-btn-fit">
                <button
                  mat-icon-button
                  type="button"
                  (click)="postUnClickedBtn()"
                  (click)="messagesUnClickedBtn()"
                  routerLink="/search"
                  class="a_up"
                >
                  <span
                    class="material-icons-sharp"
                    [ngClass]="
                      router?.url === '/search' ? 'PublicOn' : 'public'
                    "
                  >
                    travel_explore
                  </span>
                </button>
              </div>
              <div class="icon-btn-fit">
                <button
                  mat-icon-button
                  type="button"
                  (click)="postUnClickedBtn()"
                  (click)="messagesUnClickedBtn()"
                  (click)="updateSettingsIcon()"
                  routerLink="/recent"
                  class="a_up"
                >
                  <span
                    class="material-icons-sharp"
                    [ngClass]="
                      router?.url === '/recent' ? 'RecentOn' : 'recent'
                    "
                  >
                  schedule
                  </span>
                </button>
              </div>

        
              <div class="icon-btn-fit" >
                <button
                  mat-icon-button
                  type="button"
                  (click)="postUnClickedBtn()"
                  (click)="messagesUnClickedBtn()"
                  (click)="updateSettingsIcon()"
                  routerLink="/friends-activity"
                  class="a_up"
                >
                  <div matBadge="*" [matBadgeHidden]="newfollowerCheck.length == 0" matBadgeColor="primary"
                    class="material-icons-sharp"
                    [ngClass]="
                      router?.url === '/friends-activity'
                        ? 'GroupsOn'
                        : 'groups'
                    ">
                    groups
              </div>
                </button>
              </div>
              <div class="icon-btn-fit"  >
                <!-- routerLink="/post-page" -->
                <button
                  mat-icon-button
                  type="button"
                  (click)="postClickedBtn()"
                  (click)="navigateToPost()"
                  (click)="messagesUnClickedBtn()"
                  (click)="updateSettingsIcon()"
                  class="a_up"
                >
                  <span
                    class="material-icons-sharp"
                    [ngClass]="postClicked == true ? 'PostOn' : 'post'"
                  >
                    add_circle_outline 
                  </span>
                </button>
              </div>

              <div class="icon-btn-fit">
                <button
                  mat-icon-button
                  type="button"
                  (click)="postUnClickedBtn()"
                  (click)="messagesClickedBtn()"
                  (click)="navigateToMessages()"
                  (click)="updateSettingsIcon()"
                  class="a_up"
                >
                  <div
                  matBadge="*" [matBadgeHidden]="newMessageCheck.length == 0" matBadgeColor="primary"
                    class="material-icons-sharp"
                    [ngClass]="
                      commentClicked == true ? 'MessageOn' : 'message'
                    "
                  >
                    pending
              </div>
                  <!-- <i class="fal fa-comments" [ngClass]="router?.url === '/messages' 
                  ? 'MessageOn' : 'message' "></i> -->
                </button>
              </div>

              <div class="icon-btn-fit">
                <button
                  mat-icon-button
                  type="button"
                  (click)="messagesUnClickedBtn()"
                  (click)="postUnClickedBtn()"
                  (click)="updateSettingsIcon()"
                  routerLink="/profile"
                  class="a_up"
                >
                  <span
                    class="fas fa-graduation-cap"
                    [ngClass]="
                      router?.url === '/profile' ? 'ProfileOn' : 'profile'
                    "
                  >
        
                    <!-- school -->
                  </span>
                  <!-- <i class="fal fa-user-graduate" [ngClass]="router?.url === '/profile' 
              ? 'ProfileOn' : 'profile'"></i> -->
                </button>
              </div>
            </div>
            <button 
              mat-icon-button
              [matMenuTriggerFor]="settingsMenu"
              type="button"
              class="b_up"
              matBadge="!" [matBadgeHidden]="(notif.length == 0) " matBadgeColor="warn" 
              (click)="updateSettingsIcon()"
            >
              <!-- <mat-icon *ngIf="(newsharedCheck.length && newComment.length) == 0" class="settings">settings</mat-icon> -->
              <mat-icon [ngClass]="(newsharedCheck.length || newComment.length) !== 0 ? 'settingsNew' : 'settings'" >settings</mat-icon>

            </button>

            
          </div>
        </mat-toolbar>
      </ng-container>

      <mat-menu #settingsMenu="matMenu">
        <button
          mat-menu-item
          type="button"
          routerLink="/retrieve-password"
          class="look-nice"
        >
        <div class="align">
          <span class="material-icons d_settings" style="color: burlywood">
            vpn_key
          </span>
          Account Settings
          </div>
        </button>
        <button 
        mat-menu-item
        type="button"
        routerLink="/activity-history"
        class="look-nice"
      >
      <div class="align"  >
        <span class="material-icons d_settings" [ngClass]="(newsharedCheck.length || newComment.length) !== 0 ? 'blueActivity' : 'greyActivity'" >
          history
        </span>
        <div matBadge="!" [ngClass]="(newsharedCheck.length || newComment.length) !== 0 ? 'blueActivity' : 'greyActivity'" [matBadgeHidden]="notif.length == 0" matBadgeColor="warn" >
        Activity History
      </div>
        </div>
      </button>
        <button
          mat-menu-item
          type="button"
                      [matMenuTriggerFor]="settingsMenuCourses"
          class="look-nice"
        >
        <div class="align">
          <div class="material-icons d_settings" style="color: #9c6f24">
            lock
          </div>
          Edit Profile
          </div>
        </button>
        <mat-menu #settingsMenuCourses="matMenu">
          <button
          mat-menu-item
          type="button"
          (click)="messagesUnClickedBtn()"
          (click)="postUnClickedBtn()"
          
          (click)="navigateToEditProfile()"
          class="look-nice"
        >
        <div class="align">
          <span class="material-icons d_settings" style="color: #9c6f24">
            lock_open
          </span>
          Edit Profile
        </div>
        </button>
        <button
        mat-menu-item
        type="button"
        [matMenuTriggerFor]="settingsMenuComp1"
        class="look-nice"
      >
      <div class="align">
        <div class="material-icons d_settings" style="color: cadetblue">
     check
        </div>
         Completed Courses 1st Year
         </div>
      </button>
<mat-menu #settingsMenuComp1="matMenu">
  <button
        mat-menu-item
        type="button"
        (click)="messagesUnClickedBtn()"
        (click)="postUnClickedBtn()"
        (click)="navigateToEditComp()"
        class="look-nice"
      >
      <div class="align">
        <span class="fas fa-leaf d_settings" style="color: saddlebrown">
        </span>
         Completed Courses 1st Year Fall
         </div>
      </button>


      <button
      mat-menu-item
      type="button"
      (click)="messagesUnClickedBtn()"
      (click)="postUnClickedBtn()"
      (click)="navigateToEditCompW()"
      class="look-nice"
    >
    <div class="align">
      <span class="fas fa-snowflake d_settings" style="color: #88c4f9">
      </span>
       Completed Courses 1st Year Winter
       </div>
    </button>
</mat-menu>



      <button
      mat-menu-item
      type="button"
      [matMenuTriggerFor]="settingsMenuComp2"
      class="look-nice"
    >
    <div class="align">
      <span class="material-icons d_settings" style="color: cadetblue">
   check
      </span>
       Completed Courses 2nd Year
       </div>
    </button>  
    <mat-menu #settingsMenuComp2="matMenu">
      <button
            mat-menu-item
            type="button"
            (click)="messagesUnClickedBtn()"
            (click)="postUnClickedBtn()"
            (click)="navigateToEditComp2()"
            class="look-nice"
          >
          <div class="align">
            <span class="fas fa-leaf d_settings" style="color: saddlebrown">
            </span>
             Completed Courses 2nd Year Fall
             </div>
          </button>
    
          <button
          mat-menu-item
          type="button"
          (click)="messagesUnClickedBtn()"
          (click)="postUnClickedBtn()"
          (click)="navigateToEditComp2W()"
          class="look-nice"
        >
        <div class="align">
          <span class="fas fa-snowflake d_settings" style="color: #88c4f9">
          </span>
           Completed Courses 2nd Year Winter
           </div>
        </button>
    </mat-menu>
      
     <button
    mat-menu-item
    type="button"
    [matMenuTriggerFor]="settingsMenuComp3"
    class="look-nice"
  >
  <div class="align">
    <span class="material-icons d_settings" style="color: cadetblue">
 check
    </span>
     Completed Courses 3rd Year
     </div>
  </button>   
  <mat-menu #settingsMenuComp3="matMenu">
    <button
          mat-menu-item
          type="button"
          (click)="messagesUnClickedBtn()"
          (click)="postUnClickedBtn()"
          (click)="navigateToEditComp3()"
          class="look-nice"
        >
        <div class="align">
          <span class="fas fa-leaf d_settings" style="color: saddlebrown">
          </span>
           Completed Courses 3rd Year Fall
           </div>
        </button>
  
  
        <button
        mat-menu-item
        type="button"
        (click)="messagesUnClickedBtn()"
        (click)="postUnClickedBtn()"
        (click)="navigateToEditComp3W()"
        class="look-nice"
      >
      <div class="align">
        <span class="fas fa-snowflake d_settings" style="color: #88c4f9">
        </span>
         Completed Courses 3rd Year Winter
         </div>
      </button>
  </mat-menu> 
   <button
  mat-menu-item
  type="button"
  [matMenuTriggerFor]="settingsMenuComp4"
  class="look-nice"
>
<div class="align">
  <span class="material-icons d_settings" style="color: cadetblue">
check
  </span>
   Completed Courses 4th Year
   </div>
</button>
<mat-menu #settingsMenuComp4="matMenu">
  <button
        mat-menu-item
        type="button"
        (click)="messagesUnClickedBtn()"
        (click)="postUnClickedBtn()"
        (click)="navigateToEditComp4()"
        class="look-nice"
      >
      <div class="align">
        <span class="fas fa-leaf d_settings" style="color: saddlebrown">
        </span>
         Completed Courses 4th Year Fall
         </div>
      </button>


      <button
      mat-menu-item
      type="button"
      (click)="messagesUnClickedBtn()"
      (click)="postUnClickedBtn()"
      (click)="navigateToEditComp4W()"
      class="look-nice"
    >
    <div class="align">
      <span class="fas fa-snowflake d_settings" style="color: #88c4f9">
      </span>
       Completed Courses 4th Year Winter
       </div>
    </button>
</mat-menu> 
<button
mat-menu-item
type="button"
[matMenuTriggerFor]="settingsMenuPur"
class="look-nice"
>
<div class="align">
<span class="material-icons d_settings" style="color: #7474e6">
  format_list_numbered
</span>
Next Courses 
</div>
</button>
<mat-menu #settingsMenuPur="matMenu">
  <button
        mat-menu-item
        type="button"
        (click)="messagesUnClickedBtn()"
        (click)="postUnClickedBtn()"
        (click)="navigateToEditPur()"
        class="look-nice"
      >
      <div class="align">
        <span class="fas fa-leaf d_settings" style="color: saddlebrown">
        </span>
        Next Courses Fall
        </div>
      </button>


      <button
      mat-menu-item
      type="button"
      (click)="messagesUnClickedBtn()"
      (click)="postUnClickedBtn()"
      (click)="navigateToEditPurW()"
      class="look-nice"
    >
    <div class="align">
      <span class="fas fa-snowflake d_settings" style="color: #88c4f9">
      </span>
      Next Courses Winter
      </div>
    </button>
    <button
    mat-menu-item
    type="button"
    (click)="messagesUnClickedBtn()"
    (click)="postUnClickedBtn()"
    (click)="navigateToEditPurSp()"
    class="look-nice"
  >
  <div class="align">
    <span class="fas fa-seedling d_settings" style="color: cadetblue">
    </span>
    Next Courses Spring
    </div>
  </button>


  <button
  mat-menu-item
  type="button"
  (click)="messagesUnClickedBtn()"
  (click)="postUnClickedBtn()"
  (click)="navigateToEditPurSu()"
  class="look-nice"
>
<div class="align">
  <span class="fas fa-sun d_settings" style="color: #d89163">
  </span>
  Next Courses Summer
  </div>
</button>
</mat-menu>
</mat-menu>
        <button
          mat-menu-item
          type="button"
          (click)="postUnClickedBtn()"
          (click)="onLogout()"
          (click)="messagesUnClickedBtn()"
          class="look-nice"
        >
        <div class="align">
          <span class="material-icons d_settings" style="color: darkcyan">
            exit_to_app </span>
            Log Out
            </div>
        </button>
        <!-- TODO: wire up log out button -->
      </mat-menu>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

      <!-- Bottom nav bar for small screens -->

      <ng-container
        *ngIf="
          ((isHomeScreen$ | async) ||
            (isSignUpScreen$ | async) ||
            (isResetPScreen$ | async) ||
            (isVerifiedScreen$ | async) ||
            (isRetrievePScreen$ | async)) === false
        "
      >
        <mat-toolbar class="lower">
          <div class="icon-top">
            <div class="icon-btn-fit">
              <button
                mat-icon-button
                type="button"
                routerLink="/search"
                class="a_up"
              >
                <mat-icon
                  [ngClass]="
                    router?.url === '/search' ? 'PublicOnM' : 'publicM'
                  "
                  >public</mat-icon
                >
              </button>
            </div>
            <div class="icon-btn-fit">
              <button
                mat-icon-button
                type="button"
                routerLink="/friends-activity"
                class="a_up"
              >
                <mat-icon
                  [ngClass]="
                    router?.url === '/friends-activity'
                      ? 'GroupsOnM'
                      : 'groupsM'
                  "
                  >groups</mat-icon
                >
              </button>
            </div>
            <div class="icon-btn-fit">
              <button
                mat-icon-button
                type="button"
                routerLink="/post-page"
                class="a_up"
              >
                <mat-icon
                  [ngClass]="router?.url === '/post-page' ? 'PostOnM' : 'postM'"
                  >add_circle</mat-icon
                >
              </button>
            </div>

            <div class="icon-btn-fit">
              <button
                mat-icon-button
                type="button"
                routerLink="/messages"
                class="a_up"
              >
                <i
                  [ngClass]="
                    router?.url === '/messages' ? 'MessageOnM' : 'messageM'
                  "
                  class="far fa-comment-dots"
                ></i>
              </button>
            </div>

            <div class="icon-btn-fit">
              <button
                mat-icon-button
                type="button"
                routerLink="/profile"
                class="a_up"
              >
                <mat-icon
                  [ngClass]="
                    router?.url === '/profile' ? 'ProfileOnM' : 'profileM'
                  "
                  >account_circle</mat-icon
                >
              </button>
            </div>
          </div>
        </mat-toolbar>
      </ng-container>
    </div>

    <ng-container *ngIf="(isHomeScreen$ | async) === false">
      <div class="main-content"></div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!minHeight || !minwidth" class="allBox">
    <div class="Text1box">
      <mat-card-title class="Text1_">
      <img Src="../../assets/Pics/Skalarly jpeg 2 (hat & logo).png" class="pic">

      <div class="centerIcon">
        Coming Soon!
        <!-- <span class="material-icons-outlined icon"> self_improvement </span> -->
      </div>

        <div class="Text1"> 
          Skalarly currently isn't supported on this screen size.
          For now please try again on a larger window.
        </div>
      </mat-card-title>
    </div>
  </ng-container>
</form>
