@import "../theme.scss";
.allBox {
  display: flex;
  height: 100%;
  justify-content: center;
}
.background {
  // background: linear-gradient(225deg, #6ca2d9, #e2eaed, #6ca2d9);
  height: 100%;
  background: white;
}
 .mat-menu-item-highlighted:hover{
   background: rgb(231, 230, 230) !important;
}
.mat-menu-item-highlighted{
  background: rgb(231, 230, 230) !important;

}
.mat-menu-item:hover{
  background: rgb(231, 230, 230) !important;
}
// .background_ {
// }
.below_search{
  display: flex;
  justify-content: center;
  font-family:  'Poppins', sans-serif;
  margin-right: 5% ;
  color: #928787;
}
.centerIcon{
  display: flex;
    align-items: center;
    justify-content: center;
}
.displayContents{
  display: contents;
}
.pic {
  // border-radius: 25px;
  margin-top: 1%;
  // display: flex;
  justify-content: center;
  // border-radius: 50%;
  // border: outset;
  width: 21%;
  // box-shadow: 0px 5px 10px;
}
.profilePic{
  margin-top: 1%;
  box-shadow: 0 2px 3px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profilePic_{
  width: 100%;
  height: auto;
}
.root-container {
  display: flex;
  flex-direction: column;
  // position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // box-shadow: 0px 15px 10px -15px rgb(239, 237, 237); 
}
.row{
  flex-direction: row;
  display: flex;
  font-family: 'Poppins',sans-serif;
  color: black;
  justify-content: space-around;
}

$box-shadow-color: rgba(0, 0, 0, 0.25);
.sub_title{
  display: flex;
  font-size: medium;
}
.header {
  background-color: #282828;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0px 2px 5px 0px $box-shadow-color;
  height: 75px;
  padding-left: 0;
}

.toolbar-logo {
  height: inherit;
}
@media (max-width: 580px) {
  .toolbar-logo {
    height: inherit;
    width: 53vw;
  }
}
.mat-divider{
border-top-width: 2px;
}
.main-content {
  //padding: 72px 0px 16px;
  height: 100%;
}
::ng-deep.mat-dialog-container {
  // background: linear-gradient(225deg, #6ca2d9, #e2eaed, #6ca2d9);
  height: 100%;
  background-color: #ffffff;
}
.material-icons {
  color: white;
}
h4:focus {
  outline: none;
  border: 0;
  padding-left: 16px;
}

.route-active {
  background-color: $secondary !important;
}

.fill-space {
  flex: 1 1 auto;
}

.settings {
  color: gray;
}
// top nav icon
.icon-btn-fit {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
}
.a_up {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  align-items: center;
  // box-shadow: 0px 2px 3px;
}
.b_up {
  display: flex;
  justify-content: center;
  // margin: 0% 2%;
  // box-shadow: 0px -2px 3px;
  margin: 0% 2% 0% 5%;
  box-shadow: 0px 0px 13px grey;
}

.look-nice {
  display: flex;
  justify-content: center;
  border-bottom: solid #808080;
  align-items: center;
  background: white;
}
.nav-bar {
  display: hide;
}
// New Add focus!!! hide input box until icon is focused and then is visbile and expands
@media (min-width: 1025px) {
  .search-box {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    // display: inline-block;
    border-style: hidden;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    // border: ridge;
    // border-color: azure;
    background-color: white;
    border-radius: 5px;
    // box-shadow: 0px 0px 7px 3px;
  }
  .search-box__icon {
    display: flex;
    font-size: 26px;
    right: 10%;
    color: lightblue;
    background-color: white;
    padding: 1%;
    justify-content: center;
    border-color: azure;
    border-radius: 25px;
  }
  .search-box__input {
    // transition: right, 0.7s;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    // width: 20%;
    font-size: initial;
    float: right;
    position: relative;
    // border-radius: 5%;
    // margin-right: 10%;
    // opacity: 0.7%;
    height: 25px;
    // cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    font-weight: initial;
    background-color: white;
    // border: ridge;
    border-color: azure;
    display: flex;
    color: rgb(126, 113, 113);
    font-family: 'Poppins', sans-serif;
  
  }
}
.text{
  font-family: 'Poppins',sans-serif;
    padding-right: 5%;
    color: #958a8a;
    font-size: small;
    font-weight: lighter;
}
.title{
  font-family: 'Cinzel',serif;
  display: flex;
  justify-content: center;
  margin: 4%;
  font-size: larger;
  // color: #668ad2;
}
// transition to the left and have box initially invisible
// .search-box__input:focus {
//   width: 50%;
//   visibility: visible;
//   box-sizing: content-box;
//   opacity: 1;
// }
@media (min-width: 1025px) {
  .large-screen-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1025px) {
  .large-screen-icons {
    display: none;
  }
}

@media (min-width: 1025px) {
  .small-icons {
    display: none;
  }
}
@media (max-width: 1025px) {
  .small-icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-right: 5%;
  }
}
.space{
  margin-left: 2%;
}
.space_{
  margin-right: 2%;
}
// Bottom Nav
@media (max-width: 1025px) {
  .lower {
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px $box-shadow-color;
    bottom: 0;
    background-color: rgb(9, 0, 61);
    color: white;
  }
}
.lowerSettings {
  box-shadow: 0px -2px 3px;
}
@media (min-width: 1025px) {
  .lower {
    display: none;
  }
}
.even{
  padding: 1%;
}
.odd{
  padding: 1%;
  background-color: whitesmoke;

}
// bottom nav
.publicM {
  display: flex;
  color: #f5f5f5;
  justify-content: center;
  font-size: 5vmax;
}
.PublicOnM {
  display: flex;
  justify-content: center;
  color: #b8dde9;
  font-size: 6vmax;
}

.postM {
  display: flex;
  color: #f5f5f5;
  justify-content: center;
  font-size: 5vmax;
}
.PostOnM {
  display: flex;
  justify-content: center;
  color: #b8dde9;
  font-size: 6vmax;
}
.place_holder{
  margin: 0% 5%;
}
::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
::ng-deep .mat-divider{
  border-top-width: 2px;
}
.messageM {
  display: flex;
  color: #f5f5f5;
  justify-content: center;
  font-size: 5vmax;
}
.MessageOnM {
  font-size: 6vmax;
  display: flex;
  color: #b8dde9;
  justify-content: center;
}
.groupsM {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-size: 5vmax;
}
.GroupsOnM {
  font-size: 6vmax;
  display: flex;
  color: #b8dde9;
  justify-content: center;
}
.profileM {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-size: 5vmax;
}
.ProfileOnM {
  display: flex;
  font-size: 6vmax;
  color: #b8dde9;
  justify-content: center;
}
.postM {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-size: 5vmax;
}
// .d_settings {

// }
.icon-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  height: 100%;
}
@media (max-width: 1700px) {
.public {
  font-size: 3vmax;
  display: flex;
  color: #f5f5f5;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .public {
    font-size: 2vmax;
    display: flex;
    color: #f5f5f5;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  }
@media (max-width: 1700px) {
.PublicOn {
  display: flex;
  justify-content: center;
  // color: #b8dde9;
  color: #C0C0C0;
  font-size: 4vmax;
}
}
@media (min-width: 1700px) {
  .PublicOn {
    display: flex;
    justify-content: center;
    // color: #b8dde9;
    color: #C0C0C0;
    font-size: 3vmax;
  }
  }
@media (max-width: 1700px) {
.groups {
  color: #f5f5f5;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .groups {
    color: #f5f5f5;
    font-size: 2vmax;
    display: flex;
    justify-content: center;
  }
  }
@media (max-width: 1700px) {
.GroupsOn {
  font-size: 4vmax;
  display: flex;
  // color: #b8dde9;
  color: #C0C0C0;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .GroupsOn {
    font-size: 3vmax;
    display: flex;
    // color: #b8dde9;
    color: #C0C0C0;
    justify-content: center;
  }
  }
@media (max-width: 1700px) {
.profile {
  color: #f5f5f5;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .profile {
    color: #f5f5f5;
    font-size: 2vmax;
    display: flex;
    justify-content: center;
  }
  }
@media (max-width: 1700px) {
.ProfileOn {
  display: flex;
  font-size: 4vmax;
  // color: #b8dde9;
  color: #C0C0C0;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .ProfileOn {
    display: flex;
    font-size: 3vmax;
    // color: #b8dde9;
    color: #C0C0C0;
    justify-content: center;
  }
  }
  @media (min-width: 1700px) {
    .post {
      color: #f5f5f5;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    }
@media (max-width: 1700px) {
.post {
  color: #f5f5f5;
  font-size: 3vw;
  display: flex;
  justify-content: center;
}
}
@media (max-width: 1700px) {
.PostOn {
  display: flex;
  font-size: 4vw;
  // color: #b8dde9;
  color: #C0C0C0;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .PostOn {
    display: flex;
    font-size: 3vw;
    // color: #b8dde9;
    color: #C0C0C0;
    justify-content: center;
  }
  }
@media (max-width: 1700px) {
.message {
  color: #f5f5f5;
  font-size: 3vw;
  display: flex;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .message {
    color: #f5f5f5;
    font-size: 2vw;
    display: flex;
    justify-content: center;
  }
  }
@media (max-width: 1700px) {
.MessageOn {
  display: flex;
  font-size: 4vw;
  // color: #b8dde9;
  color: #C0C0C0;
  justify-content: center;
}
}
@media (min-width: 1700px) {
  .MessageOn {
    display: flex;
    font-size: 3vw;
    // color: #b8dde9;
    color: #C0C0C0;
    justify-content: center;
  }
  }
.options{
  display: flex;
  overflow-y: scroll visible;
}
@media (max-width: 1025px) {
  .search-box__input {
    // transition: left, 1.7s;
    right: 0;
    padding: 1px;
    max-width: fit-content;
    font-size: initial;
    float: right;
    position: absolute;
    border-radius: 9%;
    display: flex;
    flex-direction: row;
    opacity: 0.7%;
    height: fit-content;
    cursor: pointer;
    font-family:  'Poppins', sans-serif;
    font-weight: initial;
    background-color: white;
    color: rgb(126, 113, 113);
  }
  .standard {
    outline: none;
    color: rgb(126, 113, 113);
    font-family:  'Poppins', sans-serif;
    font-weight: initial;
    font-size: initial;
    border: none;
  }
  .searchHide {
    display: none;
    outline: none;
  }
  .search-box__icon {
    color: lightblue;
    display: flex;
    justify-content: center;
    width: auto;
    font-size: xx-large;
  }
  .search-box__icon_ {
    color: lightblue;
    display: flex;
    justify-content: center;
    width: auto;
    background: white;
    height: 100%;
    flex-direction: column;
    font-size: 38px;
  }
  .search-box {
    display: flex;
    margin-right: 16%;
    position: absolute;
  }
  @media (min-width: 400px) {
    .search-box_ {
      display: flex;
      margin-right: 8%;
      font-family:  'Poppins', sans-serif;
      font-weight: initial;
      position: absolute;
      border: ridge;
      border-color: azure;
    }
  }
  @media (max-width: 400px) {
    .search-box_ {
      display: flex;
      margin-right: 11%;
      font-family:  'Poppins', sans-serif;
      font-weight: initial;
      position: absolute;
      border: ridge;
      border-color: azure;
    }
  }
}

::ng-deep .mat-toolbar-single-row {
  padding: 0px !important;
}
.trash {
  display: flex;
  justify-content: center;
  font-size: large;
  color: #7e7171;
}
.Text1box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 108vh;
  text-align: center;
}
.Text1 {
  display: flex;
  font-family:  'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  font-size: initial;
}
// Search box style
::ng-deep .mat-select-panel-wrap {
  width: 500px;
}
