<div class="reauthBox">
    <header class="reauthHeader"> Session Timeout 
    <div class="reauthIcon"> <i class="fas fa-history "></i> </div>
    </header>
<div class="reauthTitle" > 
    Your session is about to expire
</div>

    <div class="reauthTimer" id="Timer"></div>

    <div class="reauthButtons" mat-dialog-actions>
        <button class="reauthLogout" mat-raised-button  (click)="logOut()">Logout</button>
        <button class="reauthStayIn" mat-raised-button  (click)="reAuthorize()">Remain Logged In</button>
    </div>
</div>