<div class="reauthBox">
    <header class="reauthHeader"> Session Timeout</header>
<h2 class="reauthTitle" > 
    <div class="reauthIcon"> <i class="fas fa-history "></i> </div>
    Your session is about to expire
</h2>

    <div class="reauthTimer" id="Timer"></div>

    <div class="reauthButtons" mat-dialog-actions>
        <button class="reauthLogout" mat-raised-button  (click)="logOut()">Logout</button>
        <button class="reauthStayIn" mat-rasied-button  (click)="reAuthorize()">Remain Logged In</button>
    </div>
</div>