.btn_color{
  color: #fff;
  font-size: initial;
  background-color: grey;
  font-family: 'Cormorant Garamond', serif;
}
.center {
  display: flex;
  justify-content: center;
}

.columnC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
}

.entirePage {
  display: flex;
  flex-direction: column;
  // font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;

}
::ng-deep .mat-dialog-title{
  // font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
}
::ng-deep .mat-raised-button{
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
}
::ng-deep .mat-dialog-content{
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-size: '13.5px'
}

.icon{
  display: flex;
  font-size: xx-large;
  justify-content: center;
  // margin-top: 7%;
  color: #03295a;
}
.title{
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 3%;
  // font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
}
