<div class="entire-page">
    <!-- logo -->
    <div class="top">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
    </div>

    
    <!-- bottom -->
    <div class="bottom">
      <!-- inputs -->
      <form >
        <div class="inputs">
       
          <!-- Email input for log in -->
          <div class="password">
            <mat-form-field class="text_">
              <mat-label>New Password</mat-label>
              <input matInput [formControl]="password" placeholder="Password" required type="password"/>
              <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearPassword()">
                <mat-icon class="clear-button">close</mat-icon>
              </button> -->
            </mat-form-field>
          </div>
        
<div class="password">
  <mat-form-field class="text_">
  <mat-label>Reset Code</mat-label>
  <input [formControl]="secretCode"  placeholder="paste your reset code that was emailed to you"/>
</mat-form-field>

</div>


        </div>
  
        <!-- Send button -->
        <div class="login">
          <button mat-raised-button type="button" [disabled]="!passwordForm.valid" color="primary"
            (click)="onResetPassword()" class="action-button">
            Save new password
          </button>
        </div>
      </form>
    </div>
  </div>