<div class="entire-page">
    <!-- logo -->
    <div class="top">
      <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
    </div>

    
    <!-- bottom -->
    <div class="bottom">
      <!-- inputs -->
      <form [formGroup]="passwordForm">
        <div class="inputs">
       
          <!-- Email input for log in -->
          <div class="password">
            <mat-form-field class="text_">
              <mat-label>New Password min 8 characters</mat-label>
              <input matInput [formControl]="password" placeholder="New Password" minlength="8" required type="password"/>
              <mat-error *ngIf="password.errors?.noWhiteSpace">White spaces aren't allowed in password</mat-error>
              <mat-error *ngIf="password.invalid && !password.errors?.noWhiteSpace">Please enter a valid password
              </mat-error>
            </mat-form-field>
          </div>
        
<div class="password">
  <mat-form-field class="text_">
  <mat-label>Reset Code</mat-label>
  <input matInput [formControl]="secretCode"  placeholder="paste your reset code that was emailed to you"/>
</mat-form-field>

</div>


        </div>
  
        <!-- Send button -->
        <div class="login">
          <button mat-raised-button type="button" [disabled]="!passwordForm.valid" color="primary"
            (click)="onResetPassword()" class="action-button">
            Save new password
          </button>
        </div>
      </form>
    </div>
  </div>