<div class="entire-page">
  <!-- logo -->
  <h2 class="top">
    <!-- <img Src="../../assets/Pics/Skalarly jpeg 2 (hat & logo).png" class="pic" / -->
    Account Settings
  </h2>
  <!-- middle -->
  <div class="middle">
    <div class="resetTitle">

    <!-- Text -->
    <div class="plain-text">
      <i class="fas fa-sync"></i>
      <div class="text">Enter your student email to reset your password</div>
      <div class="deletetext">
      Reset Password 
    </div>
    </div>
  </div>
    <!-- Email input -->
    <form  [formGroup]="emailForm" >
      <div class="email">
        <mat-form-field class="textTyping">
          <mat-label>Academic Email</mat-label>
          <!-- pattern=".+@mail.utoronto\.ca" -->
          <input matInput type="email"  placeholder="name@mail.utoronto.ca" [formControl]="email" required />
          <mat-error >Only U Of T emails are valid</mat-error>

        </mat-form-field>
      </div>
    <!-- buttons -->
    <div class="beside">
      <!-- Send button, should display a message "follow the link to reset password" -->
      <button mat-raised-button type="button"  color="primary" class="action-button" [disabled]="!email.valid"
      (click)="passwordReset()">
        Send
      </button>


      <!-- Cancel button -->
      <span>
        <button mat-raised-button type="button" (click)="backButton()" color="basic" class="action-button">
          Cancel
        </button>
      </span>
    </div>
  </form>

  </div>
  <!-- seperating line -->
  <div class="line">
    <mat-divider></mat-divider>
  </div>
  <!-- bottom -->

  <mat-divider></mat-divider>

  <div class="title_grad">
    <i class="fas fa-graduation-cap" ></i>
    <div class="title_gradText">Have you graduated?</div>
    
    <div class="deletetext">
      Delete Account
     </div> 
<div class="inputs_del">
  <mat-form-field class="space_btm width">
    <input class="text_" matInput type="email" placeholder="Academic Email" [formControl]="emailDel" required>
    <mat-error >Only U Of T emails are valid</mat-error>

    </mat-form-field>

    <mat-form-field class="width">
    <input class="text_" matInput placeholder="Password" [formControl]="passwordDel" id='passwordType' type="password" required>
    <button mat-icon-button matSuffix type="button" *ngIf="visible" (click)="toggleVisibilty()" matTooltip="Show Password" >
      <mat-icon class="material-symbols-sharp" >visibility</mat-icon>
    </button>
    <button mat-icon-button matSuffix type="button" *ngIf="!visible" (click)="toggleVisibilty_()" matTooltip="Hide Password">
      <mat-icon class="material-symbols-sharp" >visibility_off</mat-icon>
    </button>
    </mat-form-field>
  
  </div>

        <div class="column">
          <button class="color_del_btn" mat-raised-button [disabled]="!(deleteForm.valid && (DelVerify.value === 'Delete'))"  (click)="DeleteAccount()" matTooltip="This is not reversible" 
          > Delete Account </button>
    <mat-form-field appearance="outline">
<input matInput placeholder="Type Delete" [formControl]="DelVerify" class="deleteText" >
</mat-form-field>
        </div>
 
      </div>

</div>