<div class="entire-page">
  <!-- logo -->
  <div class="top">
    <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
  </div>
  <!-- middle -->
  <div class="middle">
    <!-- Text -->
    <div class="plain-text">
      <div class="text">Enter your student email to reset your password</div>
    </div>

    <!-- Email input -->
    <form [formGroup]="retrievalForm" (ngSubmit)="onSubmit1()">
      <div class="email">
        <mat-form-field class="text">
          <mat-label>Academic Email</mat-label>
          <input matInput placeholder="name@mail.utoronto.ca" [formControl]="emailRetrieval" />
          <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearEmail()">
            <mat-icon class="clear-button">close</mat-icon>
          </button> -->
        </mat-form-field>
      </div>
    </form>
    <!-- buttons -->
    <div class="beside">
      <!-- Send button, should display a message "follow the link to reset password" -->
      <button mat-raised-button type="button" routerLink="/login" color="primary" class="action-button"
        (click)="onSubmit1()" (click)="openSnackBar()">
        Send
      </button>


      <!-- Cancel button -->
      <span>
        <button mat-raised-button type="button" routerLink="/login" color="basic" class="action-button">
          Cancel
        </button>
      </span>
    </div>
  </div>
  <!-- seperating line -->
  <div class="line">
    <mat-divider></mat-divider>
  </div>
  <!-- bottom -->
  <div class="bottom">
    <!-- inputs -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <!-- Email input for log in -->

        <div class="email_">
          <mat-form-field class="text_">
            <mat-label>Academic Email</mat-label>
            <input matInput [formControl]="emailLogin" placeholder="name@mail.utoronto.ca" required />
            <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearEmail1()">
              <mat-icon class="clear-button">close</mat-icon>
            </button> -->
          </mat-form-field>
        </div>

        <!-- Email input for log in -->
        <div class="password">
          <mat-form-field class="text_">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" placeholder="Password:" required type="password"/>
            <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearPassword()">
              <mat-icon class="clear-button">close</mat-icon>
            </button> -->
          </mat-form-field>
        </div>
      </div>

      <!-- Send button -->
      <div class="login">
        <button mat-raised-button type="button" [disabled]="!loginForm.valid" routerLink="/profile" color="primary"
          (click)="onSubmit()" class="action-button">
          Log In
        </button>
      </div>
    </form>
  </div>
</div>