.entire-page {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
}
.beside {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
.top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 3% 20% 1%;
}
.pic {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 40%;
  box-shadow: 0px 5px 10px;
}
@media (width: 346px) and (height: 346px) {
  .pic {
    display: none;
  }
}
.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.plain-text {
  display: flex;
  justify-content: center;
}
@media (width: 346px) and (height: 346px) {
  .plain-text {
    display: none;
  }
}
.email {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% 20% 2% 20%;
}
@media (width: 346px) and (height: 346px) {
  .line {
    display: none;
  }
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 430px) {
  .email_ {
    margin-right: 2%;
  }
}
@media (max-width: 430px) {
  .email_ {
    width: 40%;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
}
@media (min-width: 430px) {
  .password {
    margin-left: 2%;
  }
}
@media (max-width: 430px) {
  .password {
    margin-left: 2%;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
}
.login {
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  .text {
    font-family: "Font Awesome 5 Free", "Helvetic Neue";
    border-color: #707070;
    width: 25%;
    text-align: center;
    font-size: large;
    color: #3a3232;
  }
}
@media (max-width: 500px) {
  .text {
    font-family: "Font Awesome 5 Free", "Helvetic Neue";
    border-color: #707070;
    width: 25%;
    text-align: center;
    font-size: medium;
    color: #3a3232;
  }
}
.text_ {
  font-family: "Font Awesome 5 Free", "Helvetic Neue";
  border-color: #707070;
  width: 100%;
}
.text-field-email {
  color: #0e3379;
  border-color: #707070;
}

.action-button {
  margin: 7px;
  font-family: "Font Awesome 5 Free", "Helvetic Neue";
}

.material-icons {
  display: flex;
  justify-content: center;
  color: #0e3379;
}
