.entire-page {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  position: fixed;
}
.back{
  color: white !important;
  background-color: rgb(35, 34, 34) !important;
}
.backBtn{
  display: flex;
  justify-content: center;
}
.beside {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
.btn {
  margin-right: 2%;
}
.btnC{
  font-family: 'Poppins', sans-serif;
  color: white !important;
  // background-color: #11173a !important;
}
.center {
  display: flex;
  justify-content: center;
}
.color_del_btn{
color: white !important;
background: #e11d1e !important;
margin-bottom: 4%;
}
.cushion{
  padding-left: .5%;
  color:green
}
.column{
  display: flex;
  flex-direction: column;
}
.deletetext{
  font-family:  'Poppins', sans-serif;
font-size: medium;
text-align: center;
}
.notifBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel';
}
.notifBox_{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  align-items: center;
}
.top {
  display: flex;
  font-family: 'Cinzel',sans-serif;
  justify-content: center;
  flex-direction: row;
  font-size: xx-large;
  // margin: 4% 0% 7% 0%;
}
.title_grad{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0%;
}
.title_gradText{
    font-family: 'Cinzel', serif;
    font-size: large;
}
.typeDel{
  display: flex;
  width: 100%;
}
.pic {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 40%;
  // box-shadow: 0px 5px 10px;
}
@media (width: 346px) and (height: 346px) {
  .pic {
    display: none;
  }
}
.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.plain-text {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1%;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
font-size: large;
}
@media (width: 346px) and (height: 346px) {
  .plain-text {
    display: none;
  }
}
.email {
  display: flex;
  justify-content: center;
  font-family:  'Poppins', sans-serif;
}
.congrats{
  display: flex;
  justify-content: center;
  font-family: 'Cinzel', serif;

}
.line {
  display: none;
  justify-content: center;
  flex-direction: column;
  margin: 2% 20% 2% 20%;
}
@media (width: 346px) and (height: 346px) {
  .line {
    display: none;
  }
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.inputs_del{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family:  'Poppins', sans-serif;
  text-align: center;
  margin-top: 1%;
  font-size: medium;
}

@media (min-width: 430px) {
  .email_ {
    margin-right: 2%;
    width: 15%;
  }
}
@media (max-width: 430px) {
  .email_ {
    width: 40%;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
}
@media (min-width: 430px) {
  .password {
    margin-left: 2%;
    width: 15%;
    flex-direction: row;
    display: flex;
  }
}
@media (max-width: 430px) {
  .password {
    margin-left: 2%;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
}
.passwordNew {
  padding-right: 2%;
  width: 300px;
  display: flex;
  flex-direction: row;
}
.passwordReset {
  padding-left: 2%;
  width: 300px;
}
.resetTitle{
  display: flex;
  flex-direction: column;

}
.login {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
@media (min-width: 500px) {
  .text {
    font-family: 'Cinzel',sans-serif;
    width: 35%;
    text-align: center;
    font-size: large;
  }
}
@media (max-width: 500px) {
  .text {
    font-family:  'Poppins', sans-serif;
    border-color: #707070;
    width: 25%;
    text-align: center;
    font-size: medium;
    color: #3a3232;
  }
}
.textTyping{
  font-family: 'Poppins',sans-serif;
    width: 35%;
    text-align: center;
    font-size: large;
}
.text_ {
  width: 100%;
}
.textVerified {
  font-family:  'Poppins', sans-serif;
  font-size: large;
  padding: 1%;
  margin-top: 2%;
}

.textVerified_ {
  font-family:  'Poppins', sans-serif;
  font-size: large;
  padding: 1%;
  margin-top: 5%; 
}
.text-field-email {
  color: #0e3379;
  border-color: #707070;
}

.action-button {
  margin: 7px;
  font-family:  'Poppins', sans-serif;
}
.space_btm{
  // margin-bottom: 4%;
  margin-right: 9%;
}
.width{
  width: 360px;
}

