<div class="entire-page">
  <!-- logo -->
  <div class="top">
    <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
  </div>
  <!-- middle -->
  <div class="middle">
    <!-- Text -->
    <div class="plain-text">
      <div class="text">Enter your student email to reset your password</div>
    </div>

    <!-- Email input -->
    <form  [formGroup]="emailForm" >
      <div class="email">
        <mat-form-field class="text">
          <mat-label>Academic Email</mat-label>
          <!-- pattern=".+@mail.utoronto\.ca" -->
          <input matInput type="email"  placeholder="name@mail.utoronto.ca" [formControl]="email" required />
          <mat-error >Only U Of T emails are valid</mat-error>

        </mat-form-field>
      </div>
    <!-- buttons -->
    <div class="beside">
      <!-- Send button, should display a message "follow the link to reset password" -->
      <button mat-raised-button type="button"  color="primary" class="action-button" [disabled]="!email.valid"
      (click)="passwordReset()">
        Send
      </button>


      <!-- Cancel button -->
      <span>
        <button mat-raised-button type="button" routerLink="/login" color="basic" class="action-button">
          Cancel
        </button>
      </span>
    </div>
  </form>

  </div>
  <!-- seperating line -->
  <div class="line">
    <mat-divider></mat-divider>
  </div>
  <!-- bottom -->
  <div class="bottom">
    <!-- inputs -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <!-- Email input for log in -->

        <div class="email_">
          <mat-form-field class="text_">
            <mat-label>Academic Email</mat-label>
            <input matInput [formControl]="email" placeholder="name@mail.utoronto.ca" required />
            <mat-error >Only U Of T emails are valid</mat-error>
          </mat-form-field>
        </div>

        <!-- Email input for log in -->
        <div class="password">
          <mat-form-field class="text_">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" placeholder="Password"  minlength="8" required type="password"/>
            <mat-error *ngIf="password.errors?.noWhiteSpace">White spaces aren't allowed in password</mat-error>
            <mat-error *ngIf="password.invalid && !password.errors?.noWhiteSpace">Please enter a valid password
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Send button -->
      <div class="login">
        <button mat-raised-button type="button" [disabled]="!loginForm.valid" routerLink="/profile" color="primary"
          (click)="onSubmit()" class="action-button">
          Login
        </button>
      </div>
    </form>
  </div>
</div>