.box {
  display: flex;
  width: 100%;
  height: 100%;
}


.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 500px) {
  .content {
    display: flex;
    position: relative;
    padding: 2% 9% 2%;
    height: 79vh;
    justify-content: center;
  }
}
@media (max-width: 500px) and (max-height: 478px) {
  .content {
    position: relative;
    padding: 2% 9% 2%;
    height: 9vh;
    display: flex;
    justify-content: center;
  }
}


// Dot Pulse Loading 
.dot-pulse {
  display: flex;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: 9999px 0 0 -5px #ffffff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #ffffff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #ffffff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #ffffff;
  }
  30% {
    box-shadow: 9984px 0 0 2px #ffffff;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #ffffff;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #ffffff;
  }
  30% {
    box-shadow: 9999px 0 0 2px #ffffff;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #ffffff;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #ffffff;
  }
  30% {
    box-shadow: 10014px 0 0 2px #ffffff;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #ffffff;
  }
}



@media (min-width: 500px) {
  .main-text {
    display: flex;
    font-size: x-large;
    line-height: initial;
    justify-content: center;
    text-align: center;
    margin: 1%;
    color: #3a3232;
    font-family: "Font Awesome 5 Free";
  }
}
@media (max-width: 500px) {
  .main-text {
    display: flex;
    font-size: large;
    line-height: initial;
    justify-content: center;
    text-align: center;
    margin: 1%;
    color: #3a3232;
    font-family: "Font Awesome 5 Free";
  }
}
.pic {
  // border-radius: 25px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: outset;
  width: 18%;
  box-shadow: 0px 5px 10px;
}

@media (min-width: 700px) {
  .log-in-box {
    box-sizing: border-box;
    padding: 2% 5% 5% 5%;
    // border: 1px solid gray;
    border-radius: 16px;
    margin: 0% 25% 0% 25%;
    // background-image: linear-gradient(to top right, #84b0ff, white);
    border: inset;
    box-shadow: 0px 5px 10px;
  }
}
@media (min-width: 700px) {
  .log-in-boxPop {
    box-sizing: border-box;
    padding: 2% 5% 5% 5%;
    // border: 1px solid gray;
    border-radius: 16px;

    background-image: linear-gradient(to top right, #84b0ff, white);
    box-shadow: 0px 5px 10px;
  }
}

@media (max-width: 700px) {
  .log-in-box {
    box-sizing: border-box;
    padding: 2% 5% 5% 5%;
    // border: 1px solid gray;
    border-radius: 16px;
    background-image: linear-gradient(to top right, #84b0ff, white);
    box-shadow: 0px 5px 10px;
  }
}

.forgot-password {
  margin: 4% 0% 0%;
  font-size: 16px;
  color: #7e7171;
  font-family: "Font Awesome 5 Free, ";
}

.action-button {
  font-family: "Font Awesome 5 Free", "Helvetic Neue";
}

.tag {
  color: #000000;
  font-family: "Font Awesome 5 Free", "Helvetic Neue";
  font-size: 17px;
}

.text-input {
  width: 100%;
  font-family: "Font Awesome 5 Free", "Helvetic Neue";
  height: 9vh;
  font-size: large;
}
@media (max-width: 700px) and (min-width: 402px) {
  .text-input {
    width: 100%;
    font-family: "Font Awesome 5 Free", "Helvetic Neue";
    height: 9vh;
    font-size: medium;
  }
}
@media (max-width: 401px) {
  .text-input {
    width: 100%;
    font-family: "Font Awesome 5 Free", "Helvetic Neue";
    height: 9vh;
    font-size: small;
  }
}

@media (min-width: 902px) {
  .row {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }
}

.space {
  width: 30vw;
}
