<!-- Main logo -->
<form  (ngSubmit)="onSubmit()" class="background" >
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" class="box">
      <img Src="../../assets/Pics/Skalarly jpeg 2 (hat & logo).png" class="pic">
      <div class="content" class="column">
        <span class="main-text ">
          <a>Enhance Your University Experience with Skalarly</a>
          <a class="university">U Of T</a>
        </span>
        <!-- Container holding the log in form -->
        <div class="log-in-box" fxLayout="column" fxLayoutAlign="center center">

         
          <mat-form-field class="text-input">
            <mat-label> Academic Email</mat-label>
            <input matInput  [formControl]="email" required/>
            <!-- pattern=".+@mail.utoronto\.ca"z -->
            <mat-hint>@mail.utoronto.ca</mat-hint>
            <span matSuffix class="hide"></span>
            <mat-error *ngIf="email.invalid">Please enter your academic email</mat-error>
            <!-- <button color="primary" mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="clearEmail()">
              <mat-icon>close</mat-icon>
            </button> -->
          </mat-form-field>
        
   


          <div class="row_">
          <mat-form-field class="text-input">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" type="password" id='passwordType' required/>
            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
   
          </mat-form-field>

          
            <button mat-icon-button type="button" *ngIf="visible" (click)="toggleVisibilty()" matTooltip="Show Password" >
              <mat-icon class="material-symbols-sharp" >visibility</mat-icon>
            </button>
            <button mat-icon-button type="button" *ngIf="!visible" (click)="toggleVisibilty_()" matTooltip="Hide Password">
              <mat-icon class="material-symbols-sharp" >visibility_off</mat-icon>
            </button>
          

        </div>

          <!-- <div class="loginBtn"> -->
         
          <mat-chip-list>
            <!-- mat-raised-button -->
          <mat-chip type="submit"  [disabled]="!email.valid || !password.valid"
            color="primary" selected class="action-button top" *ngIf="!isLoading" routerLink="/search" >
            Log In
          </mat-chip>
        </mat-chip-list>
          <!-- <mat-spinner  *ngIf="isLoading"></mat-spinner> -->

          <div  *ngIf="isLoading"  class=" top">

                
                  <div class="dot-pulse"></div>
          
          </div>
        <!-- </div> -->



          <button type="button" mat-button disableRipple class="forgot-password" routerLink="/retrieve-password">
            Forgot Password?
          </button>
          
          <p class="tag">Or</p>
        <mat-chip-list>
          <!-- mat-raised-button -->
          <mat-chip type="button" selected routerLink="/sign-up" color="primary" class="action-button">
            Create New Account
          </mat-chip>
        </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</form>
