<!-- Main logo -->
<!-- (ngSubmit)="onSubmit()" -->
<!DOCTYPE html>
<div   class="background " >
  <div fxLayout="row" >
    <div class="box">
      <!-- <div class="bigBackground"> -->
  <!-- <img Src=" > -->
<!-- </div> -->
      <div class="content column">
        <div class="center">
          <img Src="../../assets/Pics/Skalar_Hat_Icon.png" class="pic">
    
    </div>
        <div class="Skalarly">       
          Skalarly</div>
       
        <span class="main-text ">
          <a>
            Enhance Your University Experience</a>
        <!-- <a styel="font-family: 'Cinzel'" > 🎉Happy Birthday Dad! 🎉</a> -->
          <!-- <a class="university">U Of T</a> -->
        </span>
        <!-- Container holding the log in form -->
      
          <div class="log-in-box">

         
          <div class="row_ ">
          <mat-form-field class="text-input" appearance="outline">
            <mat-label *ngIf="(email.invalid)"> 
            <i matSuffix class="fas fa-user"></i>
               Academic Email</mat-label>
               <!-- Verified email -->
               <mat-label  *ngIf="emailMatches"> 
                <i matSuffix class="fas fa-user check_"></i>
                   Academic Email</mat-label>
            <input matInput  [formControl]="email" required type="email"
           id="skalarlyEmail" />
            <!-- 
            (keyup)="doesEmailExist($event)"

             -->
            <mat-error *ngIf="email.errors?.pattern">Only Canadian University emails are valid</mat-error>
            <mat-hint *ngIf="!emailMatches" class="hint">No account matches this email</mat-hint>
            <mat-hint *ngIf="emailMatches" class="hint">Email found </mat-hint>


            <!-- <button color="primary" mat-button matSuffix mat-icon-button type="button"
              (click)="clearEmail()">
              <mat-icon>close</mat-icon>
            </button> -->
            <mat-icon matSuffix class="material-icons-sharp infoLogin" 
          >info</mat-icon>
           <!-- matTooltip="You must use one of these email extensions.
            @alum.utoronto.ca, @utoronto.ca, @mail.utoronto.ca, @rotman.utoronto.ca,
          @utsc.utoronto.ca, @uoftpharmacy.com " -->
          </mat-form-field>
          
        </div>


          <div class="row__ ">
          <mat-form-field class="text-input" appearance="outline">
            <mat-label>
            <i matSuffix class="fas fa-key"></i>
              Password</mat-label>
            <input matInput [formControl]="password" type="password" id='passwordType' required/>
            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
            <button matSuffix mat-icon-button   *ngIf="visible" (click)="toggleVisibilty()" matTooltip="Show Password" >
              <mat-icon class="material-symbols-sharp" >visibility</mat-icon>
            </button>
            <button matSuffix mat-icon-button   *ngIf="!visible" (click)="toggleVisibilty_()" matTooltip="Hide Password">
              <mat-icon class="material-symbols-sharp" >visibility_off</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="actionsSpaced">
<!-- Keep me logged in -->
<mat-checkbox [checked]="stayLoggedIn" (change)="stayIn()" class="stayLoggedIn">
  Keep me logged in (for one month)</mat-checkbox>
  <div class="gradBtn">
    <button mat-button class="grad" routerLink="/alum" matTooltip="Transition to your alumni email extension">
  Recently Graduated?
    </button>
  </div>
</div>

          <!-- <div class="loginBtn"> -->
         <div class="center">
  <!-- pattern=".+@utoronto\.ca"  pattern=".+@mail.utoronto\.ca"  pattern=".+@skalarly\.com" pattern=".+@rotman.utoronto\.ca" -->
          <button  mat-raised-button (click)="onSubmit()" 
           [disabled]="(!emailMatches) || password.invalid"
          color="primary" class="action-button top login" *ngIf="!isLoading" routerLink="/search" >
            Log In
          </button>
    
          <!-- <mat-spinner  *ngIf="isLoading"></mat-spinner> -->

          <div  *ngIf="isLoading"  class=" top">
                  <div class="dot-pulse"></div>
          </div>
        <!-- </div> -->



          <button  mat-button disableRipple class="forgot-password" routerLink="/forgot-password">
            Forgot Password?
          </button>
          <button mat-button (click)="openDialog()" class="skalarly">
            What is Skalarly?
          </button>
          <div class="matdiv">
          <p class="tag">Or</p>        
          </div>
          <!-- mat-raised-button -->
          <button  mat-raised-button routerLink="/sign-up" color="primary" class="action-button newaccount">
            Create New Account
          </button>

       </div>
      
        </div>
       
     
     
      </div>
    </div>
  </div>
 
</div>
