<div class="popUpBox">
<h2 class="titlePopUp">
Skalarly
</h2>
<mat-card-subtitle class="titlePopUp">
    Get to know us and our values
</mat-card-subtitle>
<ol class="bulletPoints">
    <li>Community</li>
    <li>Inclusivness</li>
    <li>Academic Enhancment</li>
  </ol>

<div class="bodyBox">
<div class="bodyPopUp">
    Skalarly is designed to unite University students by creating a playform
    that is specialized for their specific University. We are better able to navigate 
    our University experience with the help of Skalarly.
</div>
<mat-dialog-actions align="center" class="Poppins">
<button mat-stroked-button mat-dialog-close >Now you know</button>
</mat-dialog-actions>
</div>
</div>