<!DOCTYPE html>
<div class="popUpBox" [@openClose]="isOpen ? 'open' : 'closed'">
<h3 class="titlePopUp">
Skalarly
</h3>
<mat-card-subtitle class="titlePopUp">
    Get to know us and our values
</mat-card-subtitle>
<ol class="bulletPoints">
    <li>Community</li>
    <li>Academic Enhancement</li>
    <li>Intellectual Directory</li>
  </ol>

<div class="bodyBox">
<mat-card class="bodyPopUp">
<mat-card-content>
    Skalarly is designed to unite Canadian University students by creating a playform
    that is specialized for their University. Enhance your University and share academic information and events 
    at your school and all across
    Canada.
</mat-card-content>
</mat-card>
<mat-dialog-actions  class="actionBtn">
<button mat-raised-button mat-dialog-close >Now you know</button>
</mat-dialog-actions>
</div>
</div>
