<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>

  
<mat-card class="row1" *ngFor="let info of follow.slice().sort()">
            <div class="row_">
                <div mat-card-avatar class="profilePic" *ngIf="info.ProfilePicPathFollowing">
                    <!-- <img src="{{id.cropImgPreview}}" alt=""> -->
                    <img class="fit" src="{{info.ProfilePicPathFollowing}}">
                </div>

             
        <div class="row" >

            <div class="column_">
                <div class="userName textSize" *ngIf="info.nameFollowing">
                    <!-- {{ (profile | async)?.Pronouns}} -->
                    {{info.nameFollowing}}
                </div>
                
                    <!-- Directs to users profile -->
                    <button mat-button class="center-" (click)="navigateToPage(info.Following)">
                        @{{ info.Following }}
                    </button>
                
                <!-- <mat-card-subtitle class="gender textSize">
                                {{id.Gender}}
               
                         </mat-card-subtitle> -->
            </div>
            </div>
        </div>

            <!-- Mutual friends appear based of username following list comparison -->
<div class="classes">
            <div class="center_">
                <button mat-icon-button class="center__" (click)='onMututal(info.Following)' matTooltip="Skalars Friends"><i class="material-icons">handshake</i></button>
            </div>

            <div>
                <button mat-icon-button class="remove_friend" (click)='onDelete(info.id)'  matTooltip="Unfollow">  <i class="material-icons">person_remove</i></button>
            </div>
            
</div>




</mat-card>