<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>


<mat-card class="row1"  *ngFor="let profile of profiles">
    <div class="column" *ngIf="!isLoading">
        <div class="row">
            <div class="row_">
                <div mat-card-avatar class="profilePic" *ngIf="profile.profPic">
                    <!-- <img src="{{id.cropImgPreview}}" alt=""> -->
                    <img class="fit" src="{{profile.profPic}}">
                </div>

                <div mat-card-avatar class="profilePic" *ngIf="!profile.profPic">
                    <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="fit" />
                </div>
                <!-- <div class="column_"> -->
                <div class="userName textSize" *ngIf="profile.Name">
                    <!-- {{ (profile | async)?.Pronouns}} -->
                    {{ profile.Name}}

                </div>
                <!-- <mat-card-subtitle class="gender textSize">
                                    {{id.Gender}}
                                </mat-card-subtitle> -->
                <!-- </div> -->
            </div>



            <!-- Card is removed from list when follow is clicked -->
            <!-- Only appears if user isn't already following this mutual friend -->
            <mat-chip-list class="center_" aria-label="FollowBtn">
                <!-- (click)="followClicked()" -->
                <mat-chip class="messageM">
                    Follow

                    <!-- {{ following ? "Unfollow" : "Follow" }} -->



                </mat-chip>
            </mat-chip-list>



            <!-- <div class="row1"><button mat-icon-button class="btn"><i class="far fa-check-circle green"></i></button>
            
                            <button mat-icon-button class="btn"> <i class="far fa-times-circle red"></i></button>
                        </div> -->

        </div>

        <div class="row">
            <div [ngClass]="profile.Sport || profile.Club ? 'center' : 'centerEmpty' "
                *ngIf=" profile.Major || profile.Minor ">
                <div class=" center1" *ngIf="profile.Major">

                    <i class="fas fa-star large">{{ profile.Major}}</i>

                </div>
                <div class="center1" *ngIf="profile.Minor">

                    <i class="far fa-star large">{{ profile.Minor}}</i>

                </div>
            </div>


            <div [ngClass]="profile.Major || profile.Minor ? 'center' : 'centerEmpty' "
                *ngIf="profile.Sport || profile.Club ">
                <div class="center1" *ngIf="profile.Sport">
                    <!-- {{id.Sport}} -->
                    {{ profile.Sport}}
                </div>
                <div class="center1" *ngIf="profile.Club">
                    <!-- {{id.Club}} -->
                    {{ profile.Club}}
                </div>
            </div>

        </div>
    </div>
</mat-card>