.btn {
  display: flex;
  font-size: xx-large;
  justify-content: center;
}
.buttonsC{
  display: flex;
  margin: 1%;
  align-items: center;
}
.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.centerEmpty {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}
.center_ {
  display: flex;
  justify-content: center;
}
.center-{
  font-size: medium;
    // font-family: 'Poppins',sans-serif;
    font-family: 'Cormorant Garamond',serif;
}
.center-Space{
  font-size: medium;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Cormorant Garamond',serif;
  padding-left: 1%;
}
.center__ {
  color: cornflowerblue;
  font-size: x-large;
}

.center1 {
  display: flex;
  justify-content: center;
  margin: 4% 0%;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond',serif;
  color: #7e7171;
  text-align: center;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.column_ {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.classes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.display{
  display: flex;
}
.delete{
  display: flex;
  justify-self: center;
}
.large {
  font-size: small;
}

.mat-card-avatar {
  width: 50px;
  height: 50px;
}
.messageM {
  display: flex;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond',serif;
  // background-color: #0c5590 !important;
  color: white !important;
  margin-right: 4%;
}

.messageText{
  display: flex;
    align-items: center;
    font-family: 'Cinzel';
    text-align: center;
    margin-left: 2%;
}
.odd{
  background-color: #f2f0f0;
  padding: 1%;
}
.even{
  padding: 1%;

}
.fit {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.gender {
  display: flex;
  justify-content: center;
}
.green {
  color: rgb(11, 179, 11);
}
.red {
  color: rgb(196, 68, 68);
}
.remove_friend {
  color: gray;
  font-size: large;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  justify-content: center;
}
.rowSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 25px;
  // box-shadow: 0 0 0 1px grey;
  margin: 1% 2% 1%;;
}
.row1_ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 25px;
  // box-shadow: 0 0 0 1px grey;
  box-shadow: 0px 0 4px #282828;
  margin: 1% 2% 1%;;
}
.row_ {
  display: flex;
  flex-direction: row;
  margin-right: 2%;
  margin-bottom: 1%;
}
.showMore{
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.showMoreBtn{
  display: flex;
  justify-content: center;
font-family: 'Cormorant Garamond', serif;
background-color: #10173a !important;
margin-top: 1%;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.textFont{
  background-color: #10173a!important;
  font-family: 'Cormorant Garamond',serif;
  color: #f5f5f5!important;
}
.iconSpace{
  margin-left: 2%;
}
.profilePic {
  display: flex;
  margin: 2% 0% 0% 2%;
  box-shadow: 0 2px 3px;
  justify-content: center;
  // align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 1150px) {

  .textSize {
   font-size: small;
    // font-family:  'Poppins', sans-serif;
    font-family: 'Cormorant Garamond',serif;
    color: #7e7171;
  }
}
@media (max-width: 1150px) {
  .textSize {
    font-size: small;
    // font-family:  'Poppins', sans-serif;
    font-family: 'Cormorant Garamond',serif;
    color: #7e7171;
  }
}
@media (min-width: 1025px) {
  .textSize_ {
    font-size: medium;
    // font-family:  'Poppins', sans-serif;
    font-family: 'Cormorant Garamond',serif;
  }
}
@media (max-width: 1025px) {
  .textSize_ {
    font-size: small;
    // font-family:  'Poppins', sans-serif;
    font-family: 'Cormorant Garamond',serif;
  }
}
.userName {
  display: flex;
  font-weight: 500;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.width {
  width: 100%;
}
