<!-- Users are added to specific section depedning on their radio choice -->
<div class="column">
    <h2 class="row">Attending
        <!-- Display # -->
    </h2>
    <!-- Have list scrollable, only room to display one card in each category
withouth scrolling -->
<!-- <div some condition to have the users that clicked attedning to fill this 
    section *ngFor

    attedning button adds to some list then that list of user ids and what else the
    app-card-mutual needs to be filled
    then this attedning field is filled by that list of users

    Also only allow a user to be in one of the three lists
> -->
    <app-card-mutual></app-card-mutual>
<!-- </div> -->

    <h2 class="row">Maybe</h2>

    <app-card-mutual></app-card-mutual>


    <h2 class="row">Not Attending</h2>

    <app-card-mutual></app-card-mutual>

</div>