  <div class="entire-page">
    <div class="rightWall_">

        <div class="filterRestriction">
    <!-- Recents text -->
    <h1 class="topFilter" >


        <mat-tab-group  mat-align-tabs="center" >
            <mat-tab class="index" >
             <ng-template mat-tab-label>
               <mat-icon><span class="material-icons-two-tone">
                 account_circle
                 </span></mat-icon>
               <div >Name</div>
             </ng-template>
        <mat-form-field class="example-full-width">
            <mat-label >Name</mat-label>

           
            <input matInput placeholder="Name " [formControl]="searchName" >
          </mat-form-field>

          </mat-tab>
          <mat-tab class="index" >
            <ng-template mat-tab-label>
              <mat-icon><i class="fas fa-star"> </i>
            </mat-icon>
              <div >Major</div>
            </ng-template>
        <mat-form-field class="smaller" >

            <mat-label >Major</mat-label>
        
            <input matInput type='text' [formControl]="searchMaj" placeholder="Major ">

          </mat-form-field>
        </mat-tab>

        <mat-tab class="index" >
            <ng-template mat-tab-label>
              <mat-icon> <i class="fas fa-star-half-alt"></i>
            </mat-icon>
              <div >Minor</div>
            </ng-template>
          <mat-form-field class="example-full-width">
            <mat-label >Minor</mat-label>

           
            <input matInput placeholder="Minor " [formControl]="searchMin" >
          </mat-form-field>
          </mat-tab>

          <mat-tab class="index" >
            <ng-template mat-tab-label>
              <mat-icon> <i class="fas fa-running"></i>
            </mat-icon>
              <div >Sport</div>
            </ng-template>
          <mat-form-field class="example-full-width">
            <mat-label >Sport</mat-label>

           
            <input matInput placeholder="Sport " [formControl]="searchSport" >
          </mat-form-field>
          </mat-tab>

          <mat-tab class="index" >
            <ng-template mat-tab-label>
              <mat-icon> <i class="fas fa-user-friends"></i>
            </mat-icon>
              <div >Club</div>
            </ng-template>
          <mat-form-field class="example-full-width">
            <mat-label >Club</mat-label>

           
            <input matInput placeholder="Club " [formControl]="searchClub" >
          </mat-form-field>
          </mat-tab>
          </mat-tab-group>
          <mat-chip-list div="searchFilter">
            <mat-chip (click)="submitFilter(searchMaj, searchMin, searchClub,
            searchSport,searchName)">
            <span class="material-icons search-box__icon"> search </span>
                Search
            </mat-chip>
          </mat-chip-list>

    </h1>
</div>
 
    <div class="feed"  >

    <!-- <app-card-filter-reusable class="fit"></app-card-filter-reusable> -->
    <div class="spinner" *ngIf="isLoading">
        <mat-spinner ></mat-spinner>
      </div>
    
    
      <div id="bigScroll"   
     class="infiniteContainer"  >
     <div class="showMore" *ngIf="countVisibility >= 1">
        <mat-chip-list >
        <mat-chip color="warn"  selected class="showMoreBtn" matTooltip="Display More" (click)="onClickRecomBack()">Show More
            <!-- <i class="fas fa-chevron-circle-down"></i> -->
            <i class="fas fa-caret-up"></i>
        </mat-chip>
    </mat-chip-list>
    
        </div>
    <div id="infoRecomend" *ngFor="let info of infos; "  >
    <mat-card  class="row1" selected *ngIf="(userId !== info.Creator) && !isLoading"
     >
        <div class="column" >
            <div class="row_">
                <div mat-card-avatar class="profilePic" *ngIf="info.ProfilePicPath">
                    <!-- <img src="{{id.cropImgPreview}}" alt=""> -->
                    <img class="fit" src="{{info.ProfilePicPath}}">
                </div>
    
                
                <div class="row">
                
                    <div class="column_">
                    <!-- (click)="onOtherUser(info)" -->
                    <div class="gender textSize" *ngIf="info.name">
                        {{info.name}}
                </div>
                    <button mat-button type="button" 
                    class="userName link" id="userName" matTooltip="View Profile" 
                    (click)="navigateToPage(info.username)" >
                        @{{ info.username}}
                    </button>
                    </div>
                </div>
    
    
                <!-- Card is removed from list when follow is clicked -->
    
                <!-- <mat-chip-list class="center_" aria-label="FollowBtn">
                    <!--  --
                    <mat-chip class="messageM" (click)="followClicked(info.username)">
                        Follow
    
                        <!-- {{ following ? "Unfollow" : "Follow" }} --
    
    
    
                    </mat-chip>
                </mat-chip-list> -->
    
    
                <div class="msgContainer">
                    <mat-chip  (click)="skalarMsg(info.username)" class="messageBtn"  matTooltip="Message Skalar" selected > Message 
                        <!-- <i class="far fa-paper-plane "></i> -->
                        <i class="fas fa-reply"></i> 
                    </mat-chip>
                </div>
    
            </div>
    
            <div class="row">
                <div [ngClass]="info.sport || info.club ? 'center' : 'centerEmpty' "
                    *ngIf=" info.major || info.minor ">
                    <div class="center1" *ngIf="info.major">
                
                        <i class="fas fa-star row_icon" matTooltip="Major">
                            <div class="large">
                            {{ info.major}}
                            </div>
                        </i>
    
                    </div>
                    <div class="center1" *ngIf="info.minor">
                        
                        <i class="fas fa-star-half-alt row_icon" matTooltip="Minor">
                            <div class="large">
                                {{info.minor}}
                            </div>
                            </i>
                    </div>
                </div>
    
    
                <div [ngClass]="info.major || info.minor ? 'center' : 'centerEmpty' "
                    *ngIf="info.sport || info.club ">
               
                    <div class="center1" *ngIf="info.sport">
                        <i class="fas fa-running row_icon" matTooltip="Sport">
                            <div class="large">
                        {{info.sport}}
                        </div>
                </i>
    
                    </div>
    
                    <div class="center1" *ngIf="info.club">
              <i class="fas fa-user-friends row_icon" matTooltip="Club">
                <div class="large">
                        {{info.club}}
                        </div>
                </i>
    
                    </div>
                </div>
    
            </div>
        </div>
    </mat-card>
    </div>
    
    <div class="showMore" *ngIf="infos.length == 6">
        <mat-chip-list >
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" 
    *ngIf="infos.length > 1" (click)="onClickRecom()">Show More
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </mat-chip-list>
    </div>
    
    </div>
    

    </div>





  </div>
  </div>


