<!-- Entire page -->
<div class="entire-page"  >


    <!-- Right wall -->
    <div class="rightWall_">


      <!-- General choice appears at top of feed and dissapears as user scrolls -->
      <h1 class="top">

        {{ hashtag }}
      </h1>
      <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>
        <!-- <i class="far fa-frown centerR"></i> -->

        <div class="fill">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR"  (click)="navigateToPost()">Post Now</mat-chip>
</mat-chip-list>
        </div>

      </div>

      
      <div class="feed" >
        <app-card-hashtags  class="fit">
        </app-card-hashtags>


    </div>

  </div>
</div>