<!-- Entire page -->
<div class="entire-page"  >


    <!-- Right wall -->
    <div class="rightWall_">


      <!-- General choice appears at top of feed and dissapears as user scrolls -->
      <h1 class="top">
<div class="columnInstructor">
    <div class="rowReview">
        Instructor: {{ Category }}  <!-- if not already on list -->
        <div  *ngIf="mains.category !== Category" matTooltip="Save To Favourites " >
        <button mat-icon-button (click)="saveFavCat(Category)" 
       >
          <i class="far fa-bookmark"></i>
        </button>
      </div>
        <!-- if  already on list -->
        <div *ngIf="mains.category === Category" matTooltip="Unsave From Favourites">
        <button mat-icon-button  (click)="unsaveFavCat(mains._id)" >
          <i class="fas fa-bookmark"></i>
        </button>
      </div>
       </div>

<div  *ngIf="instructorRatingGraders !== 0" class="fontRanking">  
    Graded By {{instructorRatingGraders}} Students: {{instructorRatingMean}}/10 
    <div *ngIf="instructorRatingMean < 5 " class="fontGrade">
   Inadequate
    </div>
    <div *ngIf="(6 > instructorRatingMean) &&  (instructorRatingMean >= 5) " class="fontGrade">
     Marginal
      </div>
      <div *ngIf="(7 > instructorRatingMean) && (instructorRatingMean >= 6) " class="fontGrade">
       Adequate
        </div>
        <div *ngIf="(8 > instructorRatingMean) && (instructorRatingMean >= 7) " class="fontGrade">
         Good
          </div>
          <div *ngIf=" (instructorRatingMean >= 8) " class="fontGrade">
          Excellent
            </div>
     </div>
        
    </div>
       
      </h1>
      <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>
        <!-- <i class="far fa-frown centerR"></i> -->

        <div class="fill">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR"  (click)="navigateToPost()">Post Now</mat-chip>
</mat-chip-list>
        </div>

      </div>

      
      <div class="feed" >
        <app-card-main-instructor-review  class="fit">
        </app-card-main-instructor-review>


    </div>

  </div>
</div>