<!-- Entire page -->
<div class="entire-page"  >


    <!-- Right wall -->
    <div class="rightWall_">


      <!-- General choice appears at top of feed and dissapears as user scrolls -->
      <h1 class="top">
<div class="columnInstructor">
    <div class="rowReview">
      <div *ngIf="course == false" class="font_">
        Instructor: {{ Category }}  <!-- if not already on list -->
      </div>
      <div *ngIf="course == true" class="font_">
        <!-- Course Code:  -->
        {{ Category }}  <!-- if not already on list -->
      </div>
        <div  *ngIf="mains.category !== Category" matTooltip="Save To Favourites " >
        <button mat-icon-button (click)="saveFavCat(Category)" 
       >
          <i class="far fa-bookmark"></i>
        </button>
      </div>
        <!-- if  already on list -->
        <div *ngIf="mains.category === Category" matTooltip="Unsave From Favourites">
        <button mat-icon-button  (click)="unsaveFavCat(mains._id)" >
          <i class="fas fa-bookmark"></i>
        </button>
      </div>
       </div>
       <div class="fontRanking" *ngIf="course == false"> Programs: {{instructorProgs}}</div>

<div  *ngIf="instructorRatingGraders !== 0" class="fontRanking">  
    <div class="row_5" *ngIf="instructorRatingMean < 5 ">
    <div  class="fontRanking_">
       Overall {{instructorRatingMean}}/10 
    </div> 
    <div  class="fontGrade">
   Inadequate
    </div>
  </div>

  <div class="row_4" *ngIf="(6 > instructorRatingMean) &&  (instructorRatingMean >= 5) ">
    <div  class="fontRanking_">
       Overall {{instructorRatingMean}}/10 
    </div> 
    <div  class="fontGrade">
     Marginal
      </div>
</div>

<div class="row_3" *ngIf="(7 > instructorRatingMean) && (instructorRatingMean >= 6) ">
  <div  class="fontRanking_">
     Overall {{instructorRatingMean}}/10 
  </div> 
      <div  class="fontGrade">
       Adequate
        </div>
        </div>

        <div class="row_2" *ngIf="(8 > instructorRatingMean) && (instructorRatingMean >= 7) ">
          <div  class="fontRanking_">
             Overall {{instructorRatingMean}}/10 
          </div> 
        <div  class="fontGrade">
         Good
          </div>
          </div>

          <div class="row_1" *ngIf=" (instructorRatingMean >= 8) ">
            <div  class="fontRanking_">
               Overall {{instructorRatingMean}}/10 
            </div> 
          <div  class="fontGrade">
          Excellent
            </div>
            </div>

          <!-- mean of both -->
          <div class="fontRanking">
            Graded By {{instructorRatingGraders}} Student(s)
          <div class="fontGrade_" *ngIf="course == false"> Knowledge and Enthusiasm For Subject Matter: {{knowledgeRating}}/5</div>
          <div class="fontGrade_"  *ngIf="course == false">Profesionalism and Approachability: {{profesionalismRating}}/5</div>
         <!-- course means -->
         <div class="fontGrade_" *ngIf="course == true"> Quality of Material: {{knowledgeRating}}/5</div>
         <div class="fontGrade_"  *ngIf="course == true">Difficulty of Course: {{profesionalismRating}}/5</div>
        </div>
     </div>
        
    </div>
       
      </h1>
      <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>
        <!-- <i class="far fa-frown centerR"></i> -->

        <div class="fill">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR"  (click)="navigateToPost()">Post Now</mat-chip>
</mat-chip-list>
        </div>

      </div>

      
      <div class="feed" >
        <app-card-main-instructor-review  class="fit">
        </app-card-main-instructor-review>


    </div>

  </div>
</div>