@media(min-width:1024px){
.entire-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}}
@media(max-width:1024px){
.entire-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}}
.attendance {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 75%;
}
.booleans {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-top: 1%;
}

.column {
  display: flex;
  margin-right: 12%;
  flex-direction: column;
  justify-content: center;
}
.column_{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.columnAttend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center_{
  display: flex;
  justify-content: center;
}
@media (max-width: 350px) {
  .center1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 350px) {
  .center1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media(min-width:1024px){
.centerR{
      display: flex;
    justify-content: center;
    font-size: xxx-large;
    margin-bottom:1% ;
    justify-content: center;
    color: #7e7171;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}}
@media(max-width:1024px)and(min-width:600px){
  .centerR{
        display: flex;
      justify-content: center;
      font-size: xxx-large;
      margin-bottom:3% ;
      justify-content: center;
      color: #7e7171;
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
  }}
@media(max-width:600px){
  .centerR{
        display: flex;
      justify-content: center;
      font-size: xxx-large;
      margin-bottom:6% ;
      justify-content: center;
      color: #7e7171;
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
  }}
.centerR_{
  display: flex;
justify-content: center;
font-size: 65px;
margin-top: 2%;
  color: cornflowerblue;;
justify-content: center;
}
.expandBtn {
  font-size: x-large;
}
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10%;
}
.left-input {
  background-color: #2196f3;
}

@media (min-width: 500px) {
  .mat-card-avatar {
    display: flex;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 500px) {
  .mat-card-avatar {
    display: flex;
    height: 50px;
    width: 50px;
  }
}
::ng-deep .mat-radio-label {
  display: flex;
  justify-content: center;
}
@media(min-width:1024px){
  .middle-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 5%;
    width: 75%;
  }}

@media(max-width:1024px){
  .middle-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
   height: 20%;
    width: 100%;
  }}


.middle-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 5% 2% 5%;
}

.middle {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.middle-card {
  display: flex;
  width: 100%;
  height: 50%;
}
@media(min-width:600px){
.feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0% 20%;
}}

@media(max-width:600px){
  .feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
  }}
.fit {
  display: flex;
  height: 100%;
  width: 100%;
  margin: .5% 0%;
}
.fill{
  display: flex;
  margin-top: 10%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  color: #7e7171;
    font-family: "Font Awesome 5 Free";
}
.rowActions {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .right-wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0% 0% 0%;
    width: 100%;
    height: 100%;
    
  }
}

@media (max-width: 1024px) {
  .right-wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  .rightWall_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0% 0% 0%;
    width: 100%;
    height: 100%;
    
  }
}

@media (max-width: 1024px) {
  .rightWall_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
  }
}


.text {
  justify-content: center;
  display: flex;
  color: #000000;
  border-color: #418bba;
}

.top {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 400;
  flex-direction: row;
  margin-bottom: 1%;
  color: #7e7171;
    font-family: "Font Awesome 5 Free";
}
.specificChoice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1%;
}
.specifics-fill {
  display: flex;
  width: 100%;
  height: 100%;
  border: groove;
  flex-direction: column;
}

.text-scroll {
  overflow: scroll;
  color: #707070;
  border-color: #418bba;
}
.material-icons {
  display: flex;
  justify-content: center;
}
