<!-- Entire page -->
  <div class="entire-page"  >


    <!-- Right wall -->
    <div class="rightWall_">


      <!-- General choice appears at top of feed and dissapears as user scrolls -->
      <h1 class="top">

        {{ category }}
        <!-- if not already on list -->
        <button mat-icon-button (click)="saveFavCat(category)" matTooltip="Save To Favourites " 
        *ngIf="mains.length == 0">
          <i class="far fa-bookmark"></i>
        </button>
        <!-- if  already on list -->
        <button mat-icon-button matTooltip="Unsave From Favourites" (click)="unsaveFavCat(category)" *ngIf="mains.length > 0">
          <i class="fas fa-bookmark"></i>
        </button>
      </h1>
      <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>
        <!-- <i class="far fa-frown centerR"></i> -->

        <div class="fill">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR"  (click)="navigateToPost()">Post Now</mat-chip>
</mat-chip-list>
        </div>

      </div>

      
      <div class="feed" >
        <app-card-main-page  class="fit">
        </app-card-main-page>


    </div>

  </div>
</div>