<div class="right-column">
    <!-- Recents tetx -->
    <div class="center" >
      Recent Feed
    </div>
    <!-- <div class="column_" *ngIf="posts.length == 0">
      <div class="row"> No Posts At The Moment</div>


      <div class="fill_">
  <mat-chip-list >
        <mat-chip color="primary" selected class="centerR" (click)="navigateToPost()">Post Now</mat-chip>
        </mat-chip-list>
      </div>

    </div> -->

<!-- *ngIf="posts.length !== 0" -->
    <div class="recents"  >


<!-- *ngIf="(userIsAuthenticated && (userId === posts.Creator))" -->

<app-card-feed  class="hideFeed" >
</app-card-feed>

    </div>
  </div>