<div class="entire-page">
    <div class="rightWall_">

    <!-- Recents tetx -->
    <h1 class="top" >
      Recent Feed
    </h1>

    <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>
        <!-- <i class="far fa-frown centerR"></i> -->

        <div class="fill">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR"  (click)="navigateToPost()">Post Now</mat-chip>
</mat-chip-list>
        </div>

      </div>
    <div class="feed"  >

<app-card-feed  class="fit" >
</app-card-feed>

    </div>
  </div>
  </div>