<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>
  
  <!-- Posts box which should be a scroll view -->
  <div  class="infiniteContainer" id="topScroll">
   
  <div class="feed" *ngFor="let post of posts" >
    <mat-card class="specifics-fill">
      <!-- Profile Pic -->
      <div class="columnTopLayer" >
        <div class="row">
          <div class="column">
            
            <div class="centerT" *ngIf="posts.Title">
  
              <mat-card-title class="postTitle textSizeTit">
                {{ posts.Title}}
              </mat-card-title>
  
              
            
  
            </div>
            <div class="row2">
              <div class="column" >
                <!-- *ngIf="posts.length > 0" -->
                <div class="row-">
                  <div class="profilePic" *ngIf="posts.ProfilePicPath">
                    <!-- need to get croppeded value -->
                    <img class="pic" src="{{posts.ProfilePicPath}}">
                  </div>
  
                  <div class="column1">
                    <div class="linkN" *ngIf="posts.Name">
                      {{ posts.Name}}
                    </div>
  
  
  
                    <div class="nameTitle">
                      <!-- Button directs to that users profile -->
                      <button mat-button *ngIf="userId !== posts.Creator"  matTooltip="View Profile">
                        <div class="userName  link"  id="userName" (click)="navigateToPage(posts.Username)">
                          <!-- Olsen07 -->
                          @{{posts.Username}}
                        </div>
                      </button>
                      <button mat-button *ngIf="userId == posts.Creator" disabled>
                      <div class="userName  link"     id="userName">@{{posts.Username}}</div>
                      </button>
                    </div>
                  </div>
  
  
                </div>
  
  
              </div>
  
  
  
              <div class="row1">
                <div class="column_">
  
  
                  <!-- Idk If needed -->
  
                  <div class="postLocation textSize t"
                  matTooltip="Click to see more like this"
                  (click)="navigateToMainPage(posts.postLocation)" *ngIf="posts.postLocation">
                    <!-- Location -->
                    {{posts.postLocation}}
                  </div>
  
                  <div class="textSize row1 t" *ngIf="posts.LocationEvent">
                   
                    {{posts.LocationEvent}}
                  </div>
                  <div class="row1" *ngIf="posts.date || posts.time">
  
                    <div class="postTime textSize column1">
                      <div class=" displayT t">
                        {{post.date | date:"longDate"}}
                        <div *ngIf="posts.timeE"> {{posts.timeE}}
                        </div>
                        <div *ngIf="posts.dateE">  /{{posts.dateE | date:"longDate"}}
                          </div>
                      </div>
                      <div class="displayT t">
                        {{posts.time}} 
                      
                      </div>
                    </div>
                  </div>
  
  

                  <div class="row">
                    <div class="booleans">
  
                      <div class="material-icons b" matTooltip="Everyone's welcome to join"
                      *ngIf="posts.gender == 'all' ">diversity_3</div>
                      <div class="material-icons b" matTooltip="Females are welcome to join"
                       *ngIf="posts.gender == 'female' ">female</div>
                      <div class="material-icons b" matTooltip="Males are welcome to join"
                      *ngIf="posts.gender == 'male'">male</div>
                      <div class="material-icons b" matTooltip="LGBTQ2S+ members are welcome to join"
                      *ngIf="posts.gender == 'lgbtq2s+'">transgender</div>
  
                      <div class="material-icons b" matTooltip="This is a live event"  *ngIf="posts.live">follow_the_signs</div>
                      <div class="material-icons b" matTooltip="This event has a cost" *ngIf="posts.paymentService ">attach_money</div>
                      <div class="material-icons b" matTooltip="This event is free" *ngIf="posts.nopaymentService ">money_off</div>

                      <div class="material-icons b" matTooltip="This is a virtual event" 
                      *ngIf="posts.virtual">photo_camera_front</div>
  
                      <div class="material-icons b" matTooltip="This is a professional event"
                      *ngIf="posts.event == 'formal' ">work</div>
                      <div class="material-icons b" matTooltip="This is a relaxed event"
                       *ngIf="posts.event == 'relaxed' ">nightlife
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
              </div>
  
  
            </div>
  
          </div>
        </div>
  
  
        <!---- Takes upload img/video from post page {{Upload}} -->
        <!-- *ngFor="let show of showCases" -->
        <div class="upload" *ngIf="posts.ImagePath" >
  
          <input type="image" (click)="imgClick(posts.ImagePath)" class="middle-card" src="{{posts.ImagePath}}" id="myImg">
        </div>
  
                          <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  
  <img class="modal-content" src='' id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>
  
  
        <!-- Description -->
        <div class="description" *ngIf="posts.postDescription">
  
          <div class="postText d">
            {{posts.postDescription}}
          </div>
  
        </div>
  
  
  
      
            <mat-divider></mat-divider>
            <mat-form-field id="showEmojis">
            <input matInput placeholder="Comment..." class="comment-form-textarea"
            maxlength="140" [formControl]="comment" >
            <button mat-icon-button matSuffix id="triggerEmo" (click)="openEmoji()">😃</button>
            </mat-form-field>
             
            <!-- {{submitLabel}}  -->
            <div class="buttonsCWrapper">
            <!-- <mat-chip-list *ngIf="open" class="buttonsC">
           
        <mat-chip  type="button" 
        class="comment-form-button comment-form-cancel-button"
        (click)="clearComments()">
            Clear
        </mat-chip>
        </mat-chip-list> -->
        <mat-chip-list class="buttonsC">
          <mat-chip class="showCommentsBtn" matTooltip="Click to show comments" (click)="loadComments(posts.id)">
          
            Comments
            <i class="far fa-comments"></i>
          </mat-chip>
          
                      </mat-chip-list>
                  
        <mat-chip-list class="buttonsC">
        <mat-chip color="primary" selected class="comment-form-buttton" (click)="CommentTrigger(post.id)"
        type="submit" [disabled]="comment.value === '' " >
        <!-- [disabled]="comment.value === '' " -->
           Add Comment
        <i class="far fa-paper-plane "></i>
        </mat-chip>

</mat-chip-list>
</div>  
      
<div   class="scroll"> 
<div *ngFor="let comment of comments; let even = even; let odd = odd;; templateCacheSize: 2">
        <div *ngIf="post.id == comment.postId" [ngClass]="{ even: even, odd: odd }"
         class="commentsDisplayWrapper">
         <div class="picTime">
          <div class="rowComment">
            <div class="profilePic">
<img src="{{comment.ProfilePicPath}}" class="pic">
</div>
<div class="timeBox">
  {{comment.time}}
  <div class="timeUser">
    <button mat-button *ngIf="userId == comment.Creator" disabled>
      <div class="userName link"  id="userName">@{{comment.username}}
      </div>
      </button>
    <button mat-button *ngIf="userId !== comment.Creator" >
      <div class="userName  link"  id="userName" (click)="navigateToPage(comment.username)">@{{comment.username}}
        </div>
      </button>
  </div>
  </div>
        <div *ngIf="userId == comment.Creator" class="trashCan">
          <button  mat-icon-button matSuffix
            (click)='onDeleteComment(comment.id)'>
            <i class="far fa-times-circle"></i>
          </button>
            </div>

</div>
<div class="Comment">
<div class="commentText"> {{comment.body}}</div>
</div>
</div>
        </div>


      </div>
    </div>
         
      </div>
    </mat-card>
    
  </div>

  </div>