
.btn {
  display: flex;
  font-size: xx-large;
  justify-content: center;
}
.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.centerEmpty {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}
.center_ {
  display: flex;
  justify-content: center;
}
.center1 {
  display: flex;
  justify-content: center;
  margin: 4% 0%;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  color: #7e7171;
  text-align: center;
  width: 100%;
  padding-right: 2%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.column_ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classes {
  display: flex;
  flex-direction: row;
}

.large {
  font-size: small;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;

}
.link {
  // color: cornflowerblue;
  font-size: medium;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
}
.mat-card-avatar {
  width: 50px;
  height: 50px;
}
.messageM {
  display: flex;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  // background-color: rgb(173, 211, 236);
  background-color: #0c46b8a1;
  color: white;
}
.messageBtn{
  // background-color: #0c5590 !important;
  background-color: #10173a!important;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  color: whitesmoke !important;
}
.msgContainer{
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.fit {
  width: 100%;
  height: auto;
}
.filterRestriction{
  display: flex;
  justify-content:center;
}
.gender {
  display: flex;
  justify-content: center;
}
.green {
  color: rgb(11, 179, 11);
}
.red {
  color: rgb(196, 68, 68);
}
.infiniteContainer{
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 2%;
  margin-top: 1%;
  // justify-content: center;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 1% 1% 1%;
   border-radius: 25px;
    box-shadow: 0px 0px 0px 1px grey;
}
.row_ {
  display: flex;
  flex-direction: row;
}
.row_icon{
  display: flex;
  flex-direction: row;
  align-items: center;
// margin-right: 1%;
}
.topFilter{
  display: flex;
  justify-content: center;
  font-weight: 400;
  flex-direction: column;
  // font-family: 'Cinzel',serif;
  font-family: 'Cormorant Garamond', serif;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.showMore{
  display: flex;
  justify-content: center;

}
.showMoreBtn{
  display: flex;
  justify-content: center;
// font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
background-color: #10173a !important;

}
.profilePic {
  box-shadow: 0 2px 3px;
  margin-left: 2%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
// @media (min-width: 500px) {
.textSize {
  font-size: medium;
  // font-family:  'Poppins', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  color: #7e7171;
  text-align: center;
  // color: #7e7171;
}
// }
// @media (max-width: 500px) {
// .textSize {
//   font-size: smaller;
//   font-family: "Font Awesome 5 Free";
//   color: #7e7171;
// }
// }
.userName {
  display: flex;
  font-weight: 500;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.width {
  width: 100%;
}
