<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>


  <cdk-virtual-scroll-viewport [itemSize]="200" class="infiniteContainer">
<div *cdkVirtualFor="let info of infos; templateCacheSize: 20"  >
<mat-card  class="row1" *ngIf="(userId !== info.Creator) && !isLoading"
 >
    <div class="column" >
        <div class="row_">
            <div mat-card-avatar class="profilePic" *ngIf="info.ProfilePicPath">
                <!-- <img src="{{id.cropImgPreview}}" alt=""> -->
                <img class="fit" src="{{info.ProfilePicPath}}">
            </div>

            
            <div class="row">
               

                <div class="column_">
                <!-- (click)="onOtherUser(info)" -->
                <div class="gender textSize" *ngIf="info.name">
                    {{info.name}}
            </div>
                <button mat-button type="button" 
                class="userName link" id="userName" matTooltip="View profile" 
                (click)="navigateToPage(info.username)" >
                    @{{ info.username}}
                </button>
                </div>
            </div>


            <!-- Card is removed from list when follow is clicked -->

            <!-- <mat-chip-list class="center_" aria-label="FollowBtn">
                <!--  --
                <mat-chip class="messageM" (click)="followClicked(info.username)">
                    Follow

                    <!-- {{ following ? "Unfollow" : "Follow" }} --



                </mat-chip>
            </mat-chip-list> -->


            <!-- <div class="row1"><button mat-icon-button class="btn"><i class="far fa-check-circle green"></i></button>

                <button mat-icon-button class="btn"> <i class="far fa-times-circle red"></i></button>
            </div> -->

        </div>

        <div class="row">
            <div [ngClass]="info.sport || info.club ? 'center' : 'centerEmpty' "
                *ngIf=" info.major || info.minor ">
                <div class="center1" *ngIf="info.major">
            
                    <i class="fas fa-star row_icon" matTooltip="Major">
                        <div class="large">
                        {{ info.major}}
                        </div>
                    </i>

                </div>
                <div class="center1" *ngIf="info.minor">
                    
                    <i class="fas fa-star-half-alt row_icon" matTooltip="Minor">
                        <div class="large">
                            {{info.minor}}
                        </div>
                        </i>
                </div>
            </div>


            <div [ngClass]="info.major || info.minor ? 'center' : 'centerEmpty' "
                *ngIf="info.sport || info.club ">
           
                <div class="center1" *ngIf="info.sport">
                    <i class="fas fa-running" matTooltip="Sport">
                    {{info.sport}}
            </i>

                </div>

                <div class="center1" *ngIf="info.club">
          <i class="fas fa-user-friends" matTooltip="Club">
               
                    {{info.club}}
            </i>

                </div>
            </div>

        </div>
    </div>
</mat-card>
</div>
</cdk-virtual-scroll-viewport>