<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>


<mat-card class="row1" *ngFor="let info of infos">
    <div class="column" *ngIf="(userId !== info.Creator) && !isLoading" >
        <div class="row">
            <div class="row">
                <div mat-card-avatar class="profilePic" *ngIf="info.ProfilePicPath">
                    <!-- <img src="{{id.cropImgPreview}}" alt=""> -->
                    <img class="fit" src="{{info.ProfilePicPath}}">
                </div>

                <div mat-card-avatar class="profilePic" *ngIf="!info.ProfilePicPath">
                    <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="fit" />
                </div>
                <!-- <div class="column_"> -->
                <div class="userName textSize" *ngIf="info.name">
                    <!-- {{ (profile | async)?.Pronouns}} -->
                    {{info.name}}

                </div>
                <!-- <mat-card-subtitle class="gender textSize">
                                    {{id.Gender}}
                                </mat-card-subtitle> -->
                <!-- </div> -->
            </div>


            <!-- Card is removed from list when follow is clicked -->

            <div class="row_"><button mat-icon-button class="btn"><i class="material-icons green">check_circle_outline</i></button>

                <button mat-icon-button class="btn"> <i class="material-icons red">highlight_off</i></button>
            </div>



            <!-- <div class="row1"><button mat-icon-button class="btn"><i class="far fa-check-circle green"></i></button>
            
                            <button mat-icon-button class="btn"> <i class="far fa-times-circle red"></i></button>
                        </div> -->

        </div>

        <div class="row">
            <div [ngClass]="info.sport || info.club ? 'center' : 'centerEmpty' "
                *ngIf=" info.major || info.minor ">
                <div class="center1" *ngIf="info.major">
                    
                    <i class="fas fa-star large"> {{info.major}}</i>

                </div>
                <div class="center1" *ngIf="info.minor">
                  
                    <i class="far fa-star large"> {{ info.minor }}</i>

                </div>
            </div>


            <div [ngClass]="info.major || info.minor  ? 'center' : 'centerEmpty' "
                *ngIf="info.sport || info.club ">
                <div class="center1" *ngIf="info.sport">
                    
                    {{info.sport}}
                </div>
                <div class="center1" *ngIf="info.club">
                    
                    {{info.club}}
                </div>
            </div>

        </div>
    </div>
</mat-card>