<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <button mat-icon-button  class="comment-form-tile" (click)="toggleComments()"><i class="far fa-comment"></i></button>

    <textarea matInput  class="comment-form-textarea" formControlName="title" *ngIf="open"></textarea>
    <!-- {{submitLabel}}  -->
    <mat-chip-list *ngIf="open">
        <mat-chip color="primary" selected class="comment-form-buttton" type="submit" [disabled]="form.invalid" >
            Comment
    <i class="far fa-paper-plane "></i>
</mat-chip>
    </mat-chip-list>
<button *ngIf="hasCancelButton" type="button" 
class="comment-form-button comment-form-cancel-button"
(click)="handleCancel.emit()">
    Cancel
</button>
</form>
