<div class="comments">
<!-- submitLabel="Comment" -->
<app-card-comment-form  (handleSubmit)="addComment({text: $event, parentId: null})">

</app-card-comment-form>
<div class="comments-container">
<app-card-comment *ngFor="let comment of comments" [comment]="comment" 
[currentUserId]="currentUserId"
[replies]="getReplies(comment.id)"
[activeComment]="activeComment"
(setActiveComment)="setActiveComment($event)"
(addComment)="addComment($event)">
    {{comment.body}}
</app-card-comment>

</div>


</div>