<form [formGroup]="Comments" >
    <button mat-icon-button type="button" class="comment-form-tile" (click)="toggleComments()"><i class="far fa-comment"></i></button>

    <textarea  class="comment-form-textarea" [formControl]="comment" *ngIf="open"></textarea>
    <!-- {{submitLabel}}  -->
    <mat-chip-list *ngIf="open">
        <mat-chip color="primary" selected class="comment-form-buttton" (click)="CommentTrigger()"
        type="button" [disabled]="!Comments.valid" >
            Comment
    <i class="far fa-paper-plane "></i>
</mat-chip>
    </mat-chip-list>
<!-- <button *ngIf="hasCancelButton" type="button" 
class="comment-form-button comment-form-cancel-button"
(click)="handleCancel.emit()">
    Cancel
</button> -->
</form>
