<div class="column" *ngFor="let info of infos" >
  <div >
    <!-- *ngIf="posts.length > 0" -->
     <div class="row-" *ngIf="( info.Creator)">
      <div class="profilePic" >
        <!-- need to get croppeded value -->
        <img class="pic" src="{{info.ProfilePicPath}}">
      </div>

      <div class="column1">
        <div class="linkN" *ngIf="info.name">
          {{ info.name}}
        </div>



        <div class="nameTitle">
          <!-- Button directs to that users profile -->
          <button mat-button>
            <div class="userName link" id="userName" (click)="navigateToPage(info.username)">
              <!-- Olsen07 -->
              @{{info.username}}
            </div>
          </button>
        </div>
      </div>


    </div> 

  </div>
  </div>