<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>
  
  <!-- Posts box which should be a scroll view -->
  <div  class="infiniteContainer" id="topScroll">
    <div class="showMore" *ngIf="countVisibility >= 1">
      <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
          <!-- <i class="fas fa-chevron-circle-down"></i> -->
          <i class="fas fa-caret-up"></i>
  
      </mat-chip>
      </div>
  <div class="feed" *ngFor="let post of posts" >
    <mat-card class="specifics-fill">
      <!-- Profile Pic -->
      <div class="columnTopLayer" >
        <div class="row">
          <div class="column">
            
            <div class="centerT" *ngIf="post.Title">
  
              <mat-card-title class="postTitle textSizeTit">
                {{ post.Title}}
              </mat-card-title>
  
              
            
  
            </div>
            <div class="row2">
              <div class="column" >
                <!-- *ngIf="posts.length > 0" -->
                <div class="row-">
                  <div class="profilePic" *ngIf="post.ProfilePicPath">
                    <!-- need to get croppeded value -->
                    <img class="pic" src="{{post.ProfilePicPath}}">
                  </div>
  
                  <div class="column1">
                    <div class="linkN" *ngIf="post.Name">
                      {{ post.Name}}
                    </div>
  
  
  
                    <div class="nameTitle">
                      <!-- Button directs to that users profile -->
                      <button mat-button *ngIf="userId !== post.Creator"  matTooltip="View Profile">
                        <div class="userName  link"  id="userName" (click)="navigateToPage(post.Username)">
                          <!-- Olsen07 -->
                          @{{post.Username}}
                        </div>
                      </button>
                      <button mat-button *ngIf="userId == post.Creator" disabled>
                      <div class="userName  link"     id="userName">@{{post.Username}}</div>
                      </button>
                    </div>
                  </div>
  
  
                </div>
  
  
                <!-- <div class="row-" *ngIf="!(info.ProfilePicPath)">
  
  
                  <!-- <div class="profilePic">
                    <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
                  </div> --
  
  
                  <div class="column1">
                    <div class="linkN">
                      {{profile.Name}}
                    </div>
  
                    <div class="nameTitle">
                      <!-- Button directs to that users profile --
                      <button mat-button>
                        <div class="userName  link">
                          <!-- Olsen07 --
                          {{ids.UserName}}
                        </div>
                      </button>
                    </div>
                  </div>
  
  
                </div> -->
  
              </div>
  
  
  
              <div class="row1">
                <div class="column_">
  
  
                  <!-- Idk If needed -->
  
                  <div class="postLocation textSizeLocation t" *ngIf="post.postLocation">
                    <!-- Location -->
                    {{post.postLocation}}
                  </div>
  
                  <div class="textSize row1 t" *ngIf="post.LocationEvent">
                   
                    {{post.LocationEvent}}
                  </div>
                  <div class="row1" *ngIf="post.date || post.time">
  
                    <div class="postTime textSize column1">
                      <div class=" displayT t">
                        {{post.date | date:"longDate"}}
                        <div *ngIf="post.timeE"> {{post.timeE}}
                        </div>
                        <div *ngIf="post.dateE">  /{{post.dateE | date:"longDate"}}
                          </div>
                      </div>
                      <div class="displayT t">
                        {{post.time}} 
                      
                      </div>
                    </div>
                  </div>
  
  
  
                  <!-- Not displaying properly-->
                  <div class="row">
                    <div class="booleans">
  
                      <div class="material-icons b" matTooltip="Everyone's welcome to join"
                      *ngIf="post.gender == 'all' ">diversity_3</div>
                      <div class="material-icons b" matTooltip="Females are welcome to join"
                       *ngIf="post.gender == 'female' ">female</div>
                      <div class="material-icons b" matTooltip="Males are welcome to join"
                      *ngIf="post.gender == 'male'">male</div>
                      <div class="material-icons b" matTooltip="LGBTQ2S+ members are welcome to join"
                      *ngIf="post.gender == 'lgbtq2s+'">transgender</div>
  
                      <div class="material-icons b" matTooltip="This is a live event"  *ngIf="post.live">follow_the_signs</div>
                      <div class="material-icons b" matTooltip="This event has a cost" *ngIf="post.paymentService ">attach_money</div>
                      <div class="material-icons b" matTooltip="This event is free" *ngIf="post.nopaymentService ">money_off</div>

                      <div class="material-icons b" matTooltip="This is a virtual event" 
                      *ngIf="post.virtual">photo_camera_front</div>
  
                      <div class="material-icons b" matTooltip="This is a professional event"
                      *ngIf="post.event == 'formal' ">work</div>
                      <div class="material-icons b" matTooltip="This is a relaxed event"
                       *ngIf="post.event == 'relaxed' ">nightlife
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
              </div>
  
  
            </div>
  
          </div>
        </div>
  
  
        <!---- Takes upload img/video from post page {{Upload}} -->
        <!-- *ngFor="let show of showCases" -->
        <div class="upload" *ngIf="post.ImagePath" >
  
          <input type="image" (click)="imgClick(post.ImagePath)" class="middle-card" src="{{post.ImagePath}}" id="myImg">
        </div>
        <video class="upload"  src="{{post.VideoPath}}" *ngIf="post.VideoPath" controls autoload>
        </video>
                          <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  
  <img class="modal-content" src='' id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>
  
  
        <!-- Description -->
        <div class="description" *ngIf="post.postDescription">
  
          <div class="postText d">
            {{post.postDescription}}
          </div>
  
        </div>
  
  
  
      
            <mat-divider></mat-divider>
            <mat-form-field id="showEmojis">
            <input matInput placeholder="Comment..." class="comment-form-textarea"
            maxlength="140" [formControl]="comment" >
            <button mat-icon-button matSuffix id="triggerEmo" (click)="openEmoji()">😃</button>
            </mat-form-field>
             
            <!-- {{submitLabel}}  -->
            <div class="buttonsCWrapper">
            <!-- <mat-chip-list *ngIf="open" class="buttonsC">
           
        <mat-chip  type="button" 
        class="comment-form-button comment-form-cancel-button"
        (click)="clearComments()">
            Clear
        </mat-chip>
        </mat-chip-list> -->
        <mat-chip-list class="buttonsC">
          <mat-chip class="showCommentsBtn" matTooltip="Click to show comments" (click)="loadComments(post.id)">
          
            Comments
            <i class="far fa-comments"></i>
          </mat-chip>
          
                      </mat-chip-list>
                  
        <mat-chip-list class="buttonsC">
        <mat-chip color="primary" selected class="comment-form-buttton" (click)="CommentTrigger(post.id)"
        type="submit" [disabled]="comment.value === '' " >
        <!-- [disabled]="comment.value === '' " -->
           Add Comment
        <i class="far fa-paper-plane "></i>
        </mat-chip>

</mat-chip-list>
</div>  
      
<div   class="scroll"> 
<div *ngFor="let comment of comments; let even = even; let odd = odd;; templateCacheSize: 2">
        <div *ngIf="post.id == comment.postId" [ngClass]="{ even: even, odd: odd }"
         class="commentsDisplayWrapper">
         <div class="picTime">
          <div class="rowComment">
            <div class="profilePic">
<img src="{{comment.ProfilePicPath}}" class="pic">
</div>
<div class="timeBox">
  {{comment.time}}
  <div class="timeUser">
    <button mat-button *ngIf="userId == comment.Creator" disabled>
      <div class="userName link"  id="userName">@{{comment.username}}
      </div>
      </button>
    <button mat-button *ngIf="userId !== comment.Creator" >
      <div class="userName  link"  id="userName" (click)="navigateToPage(comment.username)">@{{comment.username}}
        </div>
      </button>
  </div>
  </div>
        <div *ngIf="userId == comment.Creator" class="trashCan">
          <button  mat-icon-button matSuffix
            (click)='onDeleteComment(comment.id)'>
            <i class="far fa-times-circle"></i>
          </button>
            </div>

</div>
<div class="Comment">
<div class="commentText"> {{comment.body}}</div>
</div>
</div>
        </div>


      </div>
    </div>
            <!-- <div class="center1">
              <div class="center">
                <button mat-icon-button (click)="openTaggedSheet()">
                  <div class="material-icons-outlined p">loyalty</div>
                </button>
              </div>
              <div class="center">
                <button mat-icon-button>
  
                  <div class="far fa-comments center p" routerLink="/groups"></div>
                </button>
              </div>
  
            </div> -->
  
             <!-- Displays your attending status in bottom middle of card -->
             <!-- <div class="center1" *ngIf="selectedAttend">
              <button (click)="openAttendanceSheet()" mat-button class="textSize_"> {{selectedAttend}}</button>
            </div> -->
  
            <!-- <div class="column1">
              <div style="margin-top: 2%;">
                <button mat-flat-button [matMenuTriggerFor]="menu" class="row1">Attendance</button>
              </div>
  
              <mat-menu #menu="matMenu" class="row1_">
  
                <div *ngFor="let attendance of attendances" class="centerB">
  
                  <input type="radio" name="attend" value="{{attendance}}" class="center" (change)="radioChange($event)">
                  <div class="row1_">{{attendance}}</div>
  
  
                </div>
  
              </mat-menu>
  
  
            </div> -->
      
  
      </div>
    </mat-card>
    
  </div>
  <div class="showMore" *ngIf="posts.length == 6">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </div>
  </div>