<div class="spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>
  
  <!-- Posts box which should be a scroll view -->
  <div class="infiniteContainer" id="topScroll">
    <div class="showMore" *ngIf="countVisibility >= 1">
      <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Show More
          <!-- <i class="fas fa-chevron-circle-down"></i> -->
          <i class="fas fa-caret-up"></i>
  
      </mat-chip>
      </div>
  <div class="feed" *ngFor="let post of posts" >
    <mat-card class="specifics-fill" *ngIf="!isLoading ">
      <!-- Profile Pic -->
      <div class="column" >
        <div class="row">
          <div class="column">
            <div class="centerT" *ngIf="post.Title">
  
              <mat-card-title class="postTitle textSizeTit">
                {{ post.Title}}
              </mat-card-title>
  
              
            
  
            </div>
            <div class="row2">
<!-- <app-post-info-feed></app-post-info-feed> -->

               <div class="column"  >
                <!-- *ngIf="posts.length > 0" -->
                 <div class="row-" *ngIf="(post.Creator )">
                  <div class="profilePic" >
                    <!-- need to get croppeded value -->
                    <img class="pic" src="{{post.ProfilePicPath}}">
                  </div>
  
                  <div class="column1">
                    <div class="linkN" *ngIf="post.Name">
                      {{ post.Name}}
                    </div>
  
  
  
                    <div class="nameTitle">
                      <!-- Button directs to that users profile -->
                      
                      <button mat-button *ngIf="userId !== post.Creator" >
                        <div class="userName  link"  id="userName" matTooltip="View Profile"
                         (click)="navigateToPage(post.Username)">@{{post.Username}}
                          </div>
                        </button>
                          <div class="userName  link"  *ngIf="userId == post.Creator"   id="userName">@{{post.Username}}</div>
                    </div>
                  </div>
  
  
                </div> 

  
              </div> 
  
  
  
              <div class="row1">
                <div class="column_">
  
  
                  <!-- Idk If needed -->
  
                  <button mat-button class="postLocation textSizeLocation t" matTooltip="Click to see more like this"
                  (click)="navigateToMainPage(post.postLocation)" *ngIf="post.postLocation">
                    <!-- Location -->
                    {{post.postLocation}}
                  </button>
  
                  <div class="textSize row1 t" *ngIf="post.LocationEvent">
                   
                    {{post.LocationEvent}}
                  </div>
                  <div class="row1" *ngIf="post.date || post.time">
  
                    <div class="postTime textSize column1">
                      <div class=" displayT t">
                        {{post.date | date:"longDate"}}
                        <div *ngIf="post.timeE"> {{post.timeE}}
                        </div>
                        <div *ngIf="post.dateE">  /{{post.dateE | date:"longDate"}}
                          </div>
                      </div>
                      <div class="displayT t">
                        {{post.time}} 
                      
                      </div>
                    </div>
                  </div>
  
  
  
               
                  <div class="row">
                    <div class="booleans">
  
                      <div class="material-icons b" matTooltip="Everyone's welcome to join"
                      *ngIf="post.gender == 'all' ">diversity_3</div>
                      <div class="material-icons b" matTooltip="Females are welcome to join"
                       *ngIf="post.gender == 'male' ">female</div>
                      <div class="material-icons b" matTooltip="Males are welcome to join"
                      *ngIf="post.gender == 'male'">male</div>
                      <div class="material-icons b" matTooltip="LGBTQ2S+ members are welcome to join"
                      *ngIf="post.gender == 'lgbtq2s+'">transgender</div>
  
                      <div class="material-icons b" matTooltip="This is a live event"  *ngIf="post.live">follow_the_signs</div>
                      <div class="material-icons b" matTooltip="This event has a cost" *ngIf="post.paymentService ">attach_money</div>
                      <div class="material-icons b" matTooltip="This event is free" *ngIf="post.nopaymentService ">money_off</div>

                      <div class="material-icons b" matTooltip="This is a virtual event" 
                      *ngIf="post.virtual">photo_camera_front</div>
  
                      <div class="material-icons b" matTooltip="This is a professional event"
                      *ngIf="post.event == 'formal' ">work</div>
                      <div class="material-icons b" matTooltip="This is a relaxed event"
                       *ngIf="post.event == 'relaxed' ">nightlife
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
              </div>
  
  
            </div>
  
          </div>
        </div>
  
  
        <!---- Takes upload img/video from post page {{Upload}} -->
        <!-- *ngFor="let show of showCases" -->
        <div class="upload" *ngIf="post.ImagePath" >
  
          <input type="image" (click)="imgClick(post.ImagePath)" class="middle-card" src="{{post.ImagePath}}" id="myImg">
        </div>
                  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  
  <img class="modal-content" src='' id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>
  
  
        <!-- Description -->
        <div class="description" *ngIf="post.postDescription">
  
          <div class="postText d">
            {{post.postDescription}}
          </div>
  
        </div>
  
  

            <mat-divider></mat-divider>
            <!-- <app-card-comments></app-card-comments> -->
      
            <!-- <button mat-icon-button type="button"  *ngIf="closed"
             class="comment-form-tile" (click)="toggleComments()"><i class="far fa-comment"></i></button> -->
             <mat-form-field id="showEmojis">
            <input matInput placeholder="Comment..." class="comment-form-textarea" id="selection-emoji"
            maxlength="140" [formControl]="comment" >
            <button mat-icon-button matSuffix id="triggerEmo" (click)="openEmoji()">😃</button>
        </mat-form-field>
            <!-- {{submitLabel}}  -->
            <div class="buttonsCWrapper">
            <!-- <mat-chip-list *ngIf="open" class="buttonsC">
           
        <mat-chip  type="button" 
        class="comment-form-button comment-form-cancel-button"
        (click)="clearComments()">
            Clear
        </mat-chip>
        </mat-chip-list> -->
        <mat-chip-list class="buttonsC">
        
          <mat-chip class="showCommentsBtn"  matTooltip="Click to show comments" (click)="loadComments(post.id)">
            Show Comments
            <i class="far fa-comments"></i>
          </mat-chip>
  
                      </mat-chip-list>
                  
        <mat-chip-list class="buttonsC">
        <mat-chip color="primary"
          matTooltip="Add your comment"  class="comment-form-buttton" (click)="CommentTrigger(post.id)"
        type="submit"  [disabled]="comment.value === '' " >
        <!-- [disabled]="comment.value === '' " -->
            Add Comment
            <i class="far fa-comment-dots"></i>
        </mat-chip>

</mat-chip-list>
</div>  
      
  
<div  class="scroll">
<div *ngFor="let comment of comments; let even = even; let odd = odd">
  <!-- infinite-scroll -->
  <!--  infiniteScroll  -->
        <div *ngIf="post.id == comment.postId" [ngClass]="{ even: even, odd: odd }"
         class="commentsDisplayWrapper" 
         >
         <div class="picTime">
          <div class="">
          <div class="profilePic">
<img src="{{comment.ProfilePicPath}}" class="pic">
</div>
<div class="timeBox">
{{comment.time}}
<div>
  
  <div class="userName link" *ngIf="userId == comment.Creator" id="userName">@{{comment.username}}
  </div>
  <button mat-button *ngIf="userId !== comment.Creator" >
    <div class="userName  link"  id="userName" (click)="navigateToPage(comment.username)">@{{comment.username}}
      </div>
    </button>
          </div>
          <div *ngIf="userId == comment.Creator" class="trashCan" matTooltip="Delete Comment">
            <button  mat-icon-button matSuffix class="trashCan_"
              (click)='onDeleteComment(comment.id)'>
              <i class="far fa-times-circle"></i>
              </button>
              </div>
        </div>
</div> 
<div class="Comment">
  <div class="commentText"> {{comment.body}}
  
  </div>

    
      </div>
</div>

<div class="commentsDisplay">
  
  <div class="usernameBtn">
    
   


</div>
</div>
</div>
      </div>
</div>
      </div>
    </mat-card>

  </div>
  <div class="showMore" *ngIf="posts.length == 6">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </div>
  </div>
