<div  *ngFor="let showCase of showCases">

  <cdk-virtual-scroll-viewport [itemSize]="500" class="infiniteContainer">


    <div class="upload" >
        <div class="trashCan" *ngIf='userId === showCase.Creator'>
            <button  mat-icon-button matTooltip="Delete ShowCase"
              (click)='onDelete(showCase.id)'><span class="material-icons-two-tone">
                delete_forever
                </span></button>
              </div>
        <input type="image" class="img" (click)="imgClick(showCase.ShowCasePath)" class="middle-card" src="{{showCase.ShowCasePath}}" id="myImg">
      </div>
    </cdk-virtual-scroll-viewport>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  <div *ngFor="let showCase of showCases">
  <img class="modal-content" src='{{showCase.ShowCasePath}}' id="img01">
</div>
</div>

</div>