<div  *ngFor="let showCase of showCases">

<div >

    <div class="upload" *ngIf="(userid == showCase.Creator) && showCase.ShowCasePath" >
        <div class="trashCan">
            <button *ngIf='userId === showCase.Creator' mat-icon-button
              (click)='onDelete(showCase.id)'><span class="material-icons-two-tone">
                delete_forever
                </span></button>
              </div>
        <img class="middle-card" src="{{showCase.ShowCasePath}}">
      </div>
</div>




</div>