<div class="feed" *ngFor="let post of posts">
    <mat-card class="specifics-fill">
        <!-- Profile Pic -->

        <div class="row">
            <div class="column">
            <div class="profilePic" *ngIf="profile.profPic">
                <!-- need to get croppeded value -->
                <img class="pic" src="{{profile.profPic}}" >                
            </div>

            <div class="profilePic" *ngIf="!profile.profPic">
                <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
            </div>
         <div class="linkN" *ngIf="profile.Name">
            {{ profile.Name}}
          </div>
            </div>


        <!-- <div class="nameTitle"> -->
        <!-- Button directs to that users profile -->
        <!-- <button mat-button class="nameTitle">
            <div class="userName  link">
                <!\-- Olsen07 --
               
            </div>
        </button> -->
        <!-- </div> -->


           
        
                <div class="columnInfo">
         

                        <mat-card-title class="postTitle textSizeTit">
                            {{ post.Title}}

                        </mat-card-title>

                 
    
                                    <div class="postLocation textSize" *ngIf="post.PostLocation">
                                    <!-- Location -->
                                    {{post.PostLocation}}
                                  </div>
    
                                  <div class="postLocation textSize" *ngIf="post.LocationEvent">
                                
                                    {{post.LocationEvent}}
                                  </div>
                             
    
                                        <div class="displayT t" *ngIf="post.Date">
                                            {{post.Date | date:"longDate"}}
                                        </div>
                                        <div class="displayT t" *ngIf="post.Time">
                                            {{post.Time}}</div>
                                       
    
    
                                    <!-- Import the boolean icons with no color originally then the what did user say.. if null then display="none" -->
                                    <div class="row">
                                    <div class="booleans">
                                        <div class="material-icons b"
                                        *ngIf="post.Gender == 'female'">
                                            female
                                        </div>
                                        <div class="material-icons b"
                                        *ngIf="post.Gender == 'all'">
                                            transgender
                                        </div>
                                        <div class="material-icons b" *ngIf="post.Gender == 'male'">
                                            male
                                        </div>

                                        <div class="material-icons b" *ngIf="post.Driver">directions_car</div>
                                        <div class="material-icons b"
                                        *ngIf="post.PaymentService">attach_money</div>
                                        <div class="material-icons b" *ngIf="post.Virtual">videocam</div>
    
                                        <div class="material-icons b"
                                        *ngIf="post.Event == 'formal'">work</div>
                                        <div class="material-icons b"
                                        *ngIf="post.Event == 'relaxed'">nightlife</div>
    
                                         </div>
    
    
                                        </div>
                                 

                           
                       
                            <button mat-stroked-button routerLink="/groups" class="button">
                            <div  class="textSize">Join Group</div>
                            <!-- {{( id | async)?.UserName}}'s -->
                            </button>
                      
                </div>
        
        </div>
    </mat-card>

</div>