<div class="pop-up">
<div class="header">Formal Event</div>
<div mat-dialog-content class="font">Members are expected to act with a level of professionalism and dress according.</div>
<mat-divider></mat-divider>




<div class="header">Relaxed Event</div>
<div mat-dialog-content class="font">This is not a professional event. Have fun and be safe. </div>


<button class="btn" mat-raised-button color="primary" mat-dialog-close>
  Close
    <!-- <i class="material-icons ">thumb_up</i> -->


  </button>
</div>