.largest-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.amount-peopleD {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
}
.amount-peopleM {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.all-welcome {
  display: flex;
  flex-direction: row;
}
@media (min-width: 1024px) {
  .back-button {
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 18px;
    margin-bottom: 20%;
  }
}
@media (max-width: 1024px) {
  .back-button {
    display: none;
  }
}

@media (max-width: 1024px) {
  .back-button_ {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .back-button_ {
    display: none;
  }
}
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.back_btn {
  font-family: "Font Awesome 5 Free";
  display: flex;
  align-content: center;
  width: 50%;
  justify-content: center;
  height: 100%;
}
.post_btn_top_right {
  font-family: "Font Awesome 5 Free";
  display: flex;
  align-content: center;
  width: 50%;
  justify-content: center;
  height: 100%;
  background-color: #11173a;
}
.btn {
  display: flex;
  height: 100%;
  margin-left: 2%;
}
.btn_ {
  display: flex;
  justify-content: center;
}
.btm-rightM {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}
.cameraIcon {
  height: 100%;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.center_ {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.centerD {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 1%;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  // color: #3a3232;
  color: #807070;
  font-family: "Font Awesome 5 Free";
}
.centerL {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 1%;
  flex-direction: row;
  font-size: x-large;
  // color: #3a3232;
  color: #807070;
  font-family: "Font Awesome 5 Free";
}
@media (min-width: 1024px) {
  .contents {
    display: flex;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) and(min-width:700px) {
  .contents {
    display: flex;
    box-sizing: border-box;
    padding: 0% 30% 0% 30%;
  }
}
@media (max-width: 700px) {
  .contents {
    display: flex;
    box-sizing: border-box;
    padding: 0% 20% 0% 20%;
  }
}
.column_text_counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 3%;
  width: 100%;
}
.columnM {
  display: flex;
  flex-direction: row;
}
.column_1 {
  flex-direction: column;
  height: fit-content;
  overflow-y: scroll;
}

.column_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.column_2 {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin-top: 4%;
  overflow-y: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.counter {
  display: flex;
  margin-top: 8%;
}

.description-input {
  width: 75%;
}
.display {
  display: flex;
}
.entire-page {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.final_step_btn {
  color: #418bba;
  font-size: x-large;
  font-family: "Font Awesome 5 Free";
  border: outset;
}
.friends-search {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .left {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
.location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .location-options {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    height: 52vh;
    width: 100%;
    margin-bottom: 17%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    font-size: large;
  }
}
@media (max-width: 1024px) {
  .location-options {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    scroll-behavior: smooth;
    margin: 1% 0%;
    font-family: "Font Awesome 5 Free";
    font-size: large;
  }
}
.left-btm-mobile {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
}
@media (min-width: 1024px) {
  .left_1 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.imgBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.icon {
  display: flex;
  font-size: large;
  margin-right: 2%;
  color: #7e7171;
  align-items: center;
}
@media (min-width: 1024px) {
  .imagePreview {
    display: flex;
    height: fit-content;
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 500px) {
  .imagePreview {
    display: flex;
    height: fit-content;
    padding: 0% 25%;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .imagePreview {
    display: flex;
    height: fit-content;
  }
}
::ng-deep .mat-option-text {
  text-align: center;
}
mat-slide-toggle {
  width: fit-content;
}
mat-chip .mat-list-text {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Font Awesome 5 Free";
}
.mat-slide-toggle {
  margin: 8px 0;
  display: block;
  color: #0b38dc;
}
.mat-radio-group {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
::ng-deep .mat-radio-label {
  justify-content: center;
}
::ng-deep .mat-raised-button {
  font-family: "Font Awesome 5 Free";
}
::ng-deep .mat-button {
  font-family: "Font Awesome 5 Free";
}
::ng-deep .mat-step-text-label {
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}
::ng-deep mat-form-field {
  display: flex;
  width: 100%;
}
.mat-chip {
  background-color: rgb(65, 88, 165) !important;
  color: rgb(252, 252, 252) !important;
}
.margin {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .middleM {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 1%;
    margin-right: 8%;
  }
}
@media (min-width: 1024px) {
  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
}

::ng-deep .mat-form-field-infix {
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.overflow {
  display: flex;
  width: 100%;
  overflow-y: scroll;
}
.hide {
  display: none;
}
p {
  display: flex;
  color: #7e7171;
  justify-content: center;
}

.post-final {
  display: flex;
  position: relative;
  margin-top: 5%;
  justify-content: center;
}
.pre-file-img {
  width: 100%;
  background-size: cover;
}

.post-descriptionD {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1% 0% 0%;
  justify-content: center;
}

.post-descriptionM {
  display: flex;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
}
@media (min-width: 800px) {
  .post {
    width: 35%;
    height: 100%;

    // resize: none;
  }
}
@media (max-width: 800px) {
  .post {
    width: 75%;
    height: 100%;

    // resize: none;
  }
}
.postM {
  display: flex;
  width: 100%;
  height: 100%;
  resize: none;
}
.post-location {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
}
.Photo {
  font-size: xxx-large;
  display: flex;
  color: #418bba;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.rowP {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row_ {
  display: flex;
  flex-direction: row;
}
.row__ {
  display: flex;
  justify-content: center;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}
@media (min-width: 800px) {
  .right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0% 25%;
    position: relative;
  }
}
@media (max-width: 800px) {
  .right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
  }
}

.right-mid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.right-btm-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
}
.search-posting-page {
  display: flex;
  width: 50%;
  position: relative;
}
@media (min-width: 500px) {
  .selection_styles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 27%;
  }
}
@media (max-width: 500px) {
  .selection_styles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 10%;
  }
}
.sliders {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.specifics-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 16px;
}
.SpecializeM {
  display: flex;
  height: 100%;
}
.second-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.second-select-mobile {
  display: flex;
  overflow-y: scroll;
  height: 100%;
}
.show {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  // Might be good to use for post feed display..
  /* aspect-ratio: 4/3; */
  max-width: 250px;
}
.step_2 {
  display: flex;
  margin-bottom: 2%;
}
.step_2_none {
  display: none;
}
@media (min-width: 800px) {
  .tag_friends_box {
    display: flex;
    margin: 0% 25% 10% 25%;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  .tag_friends_box {
    display: flex;
    margin: 0% 0% 10% 0%;
  }
}
@media (max-width: 500px) {
  .tag_friends_box {
    display: flex;
    margin: 0% 0% 25% 0%;
  }
}
.tagged-friends {
  display: flex;
  scroll-behavior: smooth;
  overflow-y: hidden;
  border: solid;
  border-color: #2668bb;
}

.textM {
  display: flex;
  justify-content: center;
  font-size: large;
  margin: 4% 0% 0% 0%;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}
.text_ {
  display: flex;
  justify-content: center;
  font-size: medium;
  margin-top: 2%;
}
.textB {
  display: flex;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #807070;
  font-size: xx-large;
  text-align: center;
}
.text- {
  display: flex;
  justify-content: center;
  margin-left: 2%;
}
.textP {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}
.text {
  display: flex;
  // width: 100%;
  justify-content: center;
}
.textT {
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
  font-size: initial;
}
.tagged-friends-box {
  display: flex;
  height: 20%;
  justify-content: center;
}
::ng-deep .timepicker-dial__control {
  outline: none;
}
.trio {
  display: flex;
  flex-direction: row;
}
.trio_ {
  display: flex;
  flex-direction: row;
}
.trioD {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}
.text-input {
  width: 100%;
}
.trash {
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #7e7171;
}
.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.top-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .uploadD {
    display: none;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .uploadD {
    display: none;
    box-sizing: border-box;
  }
}
.upload {
  display: flex;
  margin: 2%;
  box-sizing: border-box;
}
.watch {
  color: #2699fb;
  display: flex;
  margin-left: 35%;
}
