<form  class="entire-page" (ngSubmit)="onFormSubmit()" >
<!-- [formGroup]="postForm" -->
  <mat-tab-group  [selectedIndex]="selectedIndexPost" mat-align-tabs="center" class="largest-page">
    <mat-tab disabled label="Step 1" > 


      <div class="post-descriptionD">

        <div class="textB">
          Write a message or upload an image to begin
        </div>
        
<div class="center_">
        <mat-form-field class="post" appearance="fill">
          <textarea matInput  placeholder="What would you like to say?"
            [formControl]="postDescription">
          </textarea>
        </mat-form-field>
      </div>

      </div>
 
    <!-- Description of Post -->
    <div class="column_1">

      <!-- Upload pic/video -->
      <!-- <div class="column_"> -->
      <div class="centerD">
         Upload Post
        <div [ngClass]="upload.value ? 'Show' : 'hide' ">
          <button type="button" mat-icon-button class="trash" color="primary" (click)="clearUpload()">
            <div class=" far fa-trash-alt"></div>
          </button>
        </div>

      </div>

      <div class="row__"> Recommended Aspect Ratio 4:3</div>
      <div class="rowP">
        <button type="button" class="cameraIcon" mat-button (click)="uploadFile()">
          <div class="material-icons Photo">
            add_a_photo

            <input #fileInput id="fileInput" class="uploadD" accept="image/* video/*" type="file"
              (change)="imagePreview($event)" [formControl]="upload" multiple>
          </div>
        </button>
      </div>
      <!-- Only when upload holds a value -->
      <div class="contents">
        <div class="imgBox">
          <img [src]="url" id="upload" [ngClass]="upload.value ? 'show' : 'hide' ">
        </div>
      </div>

    </div>


<!-- Step 1 -->

    <div class="centerL" *ngIf="postDescription.value || upload.value ">Where do you want your post?</div>
    <div class="selection_styles" *ngIf="postDescription.value || upload.value ">
    <mat-selection-list #options [multiple]="false">
      <mat-form-field appearance="fill">
        <mat-label>Step 1: Choose from the main categories</mat-label>
        <mat-select [formControl]="postLocationMain">
          <mat-option (click)="onSearchSelection(opt.value)" [selected]="opt.name" [multiple]="false"
            *ngFor="let opt of searchOptions" [value]="opt.name">
            {{ opt.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-selection-list>

    <!-- Step 2 -->
    
      <mat-selection-list #options2 class="mat-list-text" [multiple]="false" *ngIf="postLocationMain.value">
<mat-form-field appearance="fill">
  <mat-label> Step 2: Select the specific page </mat-label>

<mat-select [formControl]="postLocation" > 
  <mat-option [multiple]="false" *ngFor="let opt of specificOptions" [value]="opt">
        {{ opt }}
  </mat-option>
</mat-select>

</mat-form-field>
      </mat-selection-list>
    </div>



      <div class="center" *ngIf="(postDescription.value || upload.value) && postLocation.value " >
<button mat-raised-button type="button" class="final_step_btn" 
 (click)="changeTab()">
  Next Step
</button>
</div>

    </mat-tab>
    <!-- Next page -->
    <mat-tab disabled label="Step 2"> 
      
      

      <div class="row">
        <button mat-raised-button type="button" class="back_btn" 
      (click)="changeTab1()">
         Back
        </button>

        <div class="column_text_counter"> 
        <div class="counter" matBadge="{{ 50 - (TitleLength | async) }}">
        </div>
        <mat-form-field class="text-input">
          <mat-label>Title</mat-label>
          <input matInput maxlength="50" [formControl]="Title">
          <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearTitle()">
            <mat-icon class="clear-button">close</mat-icon>
          </button> -->

        </mat-form-field>
      </div>

        <button type="button" mat-raised-button color="primary" class="post_btn_top_right" routerLink="/search"
        type="submit" (click)="onFormSubmit()">Post
        <span class="material-icons"> arrow_forward </span>
      </button>


    </div>

 

    <div class="right">

      <!-- Step1 -->
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" class="column_">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>When & Where</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Choose a date:</mat-label>
              <input matInput [matDatepicker]="D" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="D"></mat-datepicker-toggle>
              <mat-datepicker #D></mat-datepicker>
            </mat-form-field>
            <!-- Time -->
            <div class="default-time-example">
              <mat-form-field appearance="fill">
                <mat-label>Time:</mat-label>
                <input matInput formControlName="time" [ngxTimepicker]="toggleTimepicker">
                <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #toggleTimepicker>
                </ngx-material-timepicker>
              </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Location:</mat-label>
              <input matInput formControlName="locationEvent">

            </mat-form-field>
            <div>
              <button type="button" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 2 -->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Whos Welcome To Join</ng-template>

            <div class="trioD">
              <mat-radio-group aria-label="Select an option" formControlName="gender">

                <div class="margin">
                  <p class="fas fa-venus">Females</p>
                  <mat-radio-button class="btn_" value="female"></mat-radio-button>
                </div>
                <div class="margin">
                  <p class="fas fa-transgender-alt">All</p>
                  <mat-radio-button class="btn_" value="all"></mat-radio-button>
                </div>
                <div class="margin">
                  <p class="fas fa-mars">Males</p>
                  <mat-radio-button class="btn_" value="male"></mat-radio-button>
                </div>

              </mat-radio-group>
            </div>

            <div>
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step3 -->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Services</ng-template>
            <div class="display">


<div class="column">
              <div class="row">
                <div class="fas fa-video icon"> </div>
                <div class="textP"> Virtual event</div>
                <mat-checkbox [disableRipple]="true" class="btn" formControlName="virtual"></mat-checkbox>
              </div>
          
              <div class="row">
                <div class="fas fa-car icon"> </div>
                <div class="textP"> Able to drive members</div>
                <mat-checkbox [disableRipple]="true" class="btn" formControlName="driver"></mat-checkbox>
              </div>
            </div>


              <button type="button" mat-button (click)="openOtherServices()">
                <mat-icon>info</mat-icon>
              </button>

              <div class="row">
                <div class="fas fa-dollar-sign icon"></div>
                <div class="textP">Service involving payment </div>

                <mat-checkbox [disableRipple]="true" class="btn" formControlName="paymentService"></mat-checkbox>
              </div>

            </div>
            <div>
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step4 -->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Type Of Event</ng-template>

            <mat-radio-group aria-label="Select an option" formControlName="event">
              

              <div class="column">
                <p class="fas fa-user-tie textP">Formal event</p>
                <mat-radio-button value="formal" required>

                </mat-radio-button>
              </div>

              <button type="button" mat-button (click)="openDialog()">
                <mat-icon>info</mat-icon>
              </button>


              <div class="column">
                <p class="fas fa-glass-cheers textP">Relaxed event</p>
                <mat-radio-button value="relaxed" required>

                </mat-radio-button>
              </div>
            </mat-radio-group>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Step 5 -->
        <mat-step>
          <ng-template matStepLabel>Time To Tag Friends and Post</ng-template>
          <div class="row_">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="text" routerLink="/search"
              type="submit" (click)="onFormSubmit()">Post
              <span class="material-icons"> arrow_forward </span>
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>

    <!-- Tag Friends and post -->
    <div class="tag_friends_box">
    <mat-form-field appearance="fill" >
      <div class="centerD">Tag Friends: start typing...</div>

      <mat-chip-list #chipList aria-label="Friends selection">
        <mat-chip *ngFor="let friend of friends" [selectable]="selectable" [removable]="removable"
          (removed)="remove(friend)">
          {{friend}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input matInput #friendInput [matAutocomplete]="auto" [matChipInputFor]="chipList" class="textT"
          [formControl]="friendCtrl" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>

      <!-- Connect to friends list -->
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let friend of filteredFriends | async" [value]="friend">
          {{friend}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>
    
    


    </mat-tab>
    
  </mat-tab-group>



</form>