<div class="pop-up">
   
 
    <div class="header">Payment service</div>
    <div mat-dialog-content>This event has costs involved with it. </div>
    <mat-divider></mat-divider>

    <br>

    <div class="header">Live event</div>
    <div mat-dialog-content>This event will be held live. </div>
    <mat-divider></mat-divider>

    <br>

    <div class="header">Virtual event</div>
    <div mat-dialog-content>This event will be held virtually. </div>

    <br>


    
    <button class="btn" mat-flat-button mat-dialog-close>
      Got It!
        <!-- <i class="material-icons">thumb_up</i> -->
    
    
      </button>
    </div>