<div class="pop-up">
  <div class="header">Virtual event</div>
  <div mat-dialog-content class="font">This event will be held virtually. </div>
<mat-divider></mat-divider>  
 
<div class="header">Live event</div>
<div mat-dialog-content class="font">This event will be held live. </div>
<mat-divider></mat-divider>

<div class="header">Free event</div>
<div mat-dialog-content class="font">This event has no costs involved with it. </div>
<mat-divider></mat-divider>

    <div class="header">Cost associated</div>
    <div mat-dialog-content class="font">This event has costs involved with it. </div>







 



    
    <button class="btn" mat-raised-button color="primary" mat-dialog-close>
      Close
        <!-- <i class="material-icons">thumb_up</i> -->
    
    
      </button>
    </div>