<div class="spinner" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
</div>

<body>
  
<div class="entire-page" *ngIf="!isLoading">
  
  <!-- Entire page -->
  <div class="main-layout" >

    <div class="left-column">


      <div class="center"  matTooltip="Focus On New Skalars"> 
        <button mat-button routerLink="/newSkalars" class="friendsStyle" >
        New To Skalarly
      </button>
      </div>
      <!-- <mat-divider></mat-divider> -->
      <!-- Reccomendations and adds -->
      <!-- Limit load in amount at a time -->
      <div class= "recents"  >
        <!-- Then each card is filled uniquely passed off {{ }}  values in feed-->
        <app-card-recommendation    >
        </app-card-recommendation>
      </div>


    

    </div>

    <!-- middle -->
    <div class="middle-column-large">
      <div class="center_">
        <button mat-icon-button matTooltip="Trending" routerLink="/trending">
          <div class="material-icons-outlined">
            auto_graph
          </div>
        </button>
        <div class="label">What are you looking for?</div>
        <button mat-icon-button matTooltip="Search Skalars By Filter" routerLink="/filterSkalars">
          <div class="material-icons-outlined">
            filter_list
          </div>
        </button>

       
      </div>
      <!-- Category box -->
      <div class="input-boxs">
        <div class="center_single">Step One: Choose from the main categories</div>

      
          <!-- <mat-form-field>
          <mat-select [selected]="opt.name" 
           class="center_step1" >
            <mat-option class="horizontal_list" *ngFor="let opt of searchOptions" [value]="opt.name"
            (click)="onSearchSelection(opt.value)" (click)="displaySpecificSearch()" >
              {{ opt.name }}</mat-option>
          </mat-select>
        </mat-form-field> -->

 
        <mat-chip-listbox aria-label="Option selection" class="center_step1 " >
          <div class="centerOptions">
          <mat-chip-option  (click)="onSearchSelection('blue_clubs')" (click)="displaySpecificSearch()"
            class="searchBtn">
           <i class="fas fa-cubes"></i>
           Blues Clubs</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('buy_sell')" (click)="displaySpecificSearch()">
          <i class="fas fa-comment-dollar"></i>
          Buy & Sell</mat-chip-option >
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('college_connection')" (click)="displaySpecificSearch()">
          <i class="fas fa-university"></i>
          College Connections</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('entrep')" (click)="displaySpecificSearch()">
          <i class="far fa-lightbulb"></i>
          Entrepreneurial Opportunities</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('finance')" (click)="displaySpecificSearch()">
          <i class="fas fa-dollar-sign"></i>
          Financial Opportunities</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('help')" (click)="displaySpecificSearch()">
          <i class="fas fa-hands-helping"></i>
          Helping Hand</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('housing')" (click)="displaySpecificSearch()">
          <i class="fas fa-home"></i>
          Housing</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('important_links')" (click)="displaySpecificSearch()">
          <i class="fas fa-star"></i>
          Important Links </mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('instructor_rev')" (click)="displaySpecificSearch()">
          <i class="fas fa-chalkboard-teacher"></i>
          Instructor Review </mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('course_a_e')" (click)="displaySpecificSearch()">
          <i class="fas fa-feather-alt"></i>
          Programs A-E</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('course_f_m')" (click)="displaySpecificSearch()">
          <i class="fas fa-feather-alt"></i>
          Programs F-M</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('course_n_z')" (click)="displaySpecificSearch()">
          <i class="fas fa-feather-alt"></i>
          Programs N-Z</mat-chip-option>

          <mat-chip-option color="primary"  class="searchBtn" [matMenuTriggerFor]="menu"
        >
          <i class="fas fa-book-reader"></i>
          School Work A-Z</mat-chip-option>
          <!-- <div class="toScale"> -->
<mat-menu #menu="matMenu" class="font">
  <button mat-menu-item  (click)="onSearchSelection('school_work_a')"
  (click)="displaySpecificSearch()">
    A
    </button>
    <button mat-menu-item  (click)="onSearchSelection('school_work_b')"
    (click)="displaySpecificSearch()">
      B
      </button>
      <button mat-menu-item  (click)="onSearchSelection('school_work_c')"
      (click)="displaySpecificSearch()">
        C
        </button>
        <button mat-menu-item  (click)="onSearchSelection('school_work_d')"
        (click)="displaySpecificSearch()">
          D
          </button> 
          <button mat-menu-item  (click)="onSearchSelection('school_work_e')"
          (click)="displaySpecificSearch()">
            E
            </button>
            <button mat-menu-item  (click)="onSearchSelection('school_work_f')"
            (click)="displaySpecificSearch()">
              F
              </button> 
              <button mat-menu-item  (click)="onSearchSelection('school_work_g')"
              (click)="displaySpecificSearch()">
                G
                </button>
                <button mat-menu-item  (click)="onSearchSelection('school_work_h')"
                (click)="displaySpecificSearch()">
                  H
                  </button>
                  <button mat-menu-item  (click)="onSearchSelection('school_work_i')"
                  (click)="displaySpecificSearch()">
                    I
                    </button>
                    <button mat-menu-item  (click)="onSearchSelection('school_work_j')"
                    (click)="displaySpecificSearch()">
                      J
                      </button>
                      <button mat-menu-item  (click)="onSearchSelection('school_work_l')"
                      (click)="displaySpecificSearch()">
                        L
                        </button>
                        <button mat-menu-item  (click)="onSearchSelection('school_work_m')"
                        (click)="displaySpecificSearch()">
                          M
                          </button>
                          <button mat-menu-item  (click)="onSearchSelection('school_work_n')"
                          (click)="displaySpecificSearch()">
                            N
                            </button>
                            <button mat-menu-item  (click)="onSearchSelection('school_work_p')"
                            (click)="displaySpecificSearch()">
                              P
                              </button>
                              <button mat-menu-item  (click)="onSearchSelection('school_work_r')"
                              (click)="displaySpecificSearch()">
                                R
                                </button>
                                <button mat-menu-item  (click)="onSearchSelection('school_work_s')"
                                (click)="displaySpecificSearch()">
                                  S
                                  </button>
                                  <button mat-menu-item  (click)="onSearchSelection('school_work_t')"
                                  (click)="displaySpecificSearch()">
                                    T
                                    </button>
                                    <button mat-menu-item  (click)="onSearchSelection('school_work_u')"
                                    (click)="displaySpecificSearch()">
                                      U
                                      </button>
                                      <button mat-menu-item  (click)="onSearchSelection('school_work_v')"
                                      (click)="displaySpecificSearch()">
                                        V
                                        </button>
                                        <button mat-menu-item  (click)="onSearchSelection('school_work_w')"
                                        (click)="displaySpecificSearch()">
                                          W
                                          </button>
  </mat-menu>
<!-- </div> -->








          <!-- <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('school_work_fm')" (click)="displaySpecificSearch()">
          <i class="fas fa-book-reader"></i>
          School Work F-M</mat-chip-option> -->
          <!-- <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('school_work_nz')" (click)="displaySpecificSearch()">
          <i class="fas fa-book-reader"></i>
          School Work N-Z</mat-chip-option> -->
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('spiritituality')" (click)="displaySpecificSearch()">
          <i class="fas fa-praying-hands"></i>
          Spirituality</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('questions')" (click)="displaySpecificSearch()">
          <i class="far fa-question-circle"></i>
          Questions</mat-chip-option>
          <mat-chip-option color="primary"  class="searchBtn"
          (click)="onSearchSelection('upcoming_events')" (click)="displaySpecificSearch()">
          <i class="fas fa-calendar-day"></i>
          Upcoming Events</mat-chip-option>
          <!-- <mat-chip-option *ngFor="let opt of searchOptions" [value]="opt.name"
           (click)="onSearchSelection(opt.value)" color="primary" (click)="displaySpecificSearch()">
            {{ opt.name }}
          </mat-chip-option> -->
        </div>
        </mat-chip-listbox>




        <div class="input-boxs_" *ngIf="opt >= 1">
          <div class="center_single">Step Two: Navigate to the specific page</div>
          <mat-chip-list  class="mat-list-text"
           [multiple]="false" *ngFor="let opt of specificOptions" >
            <mat-chip  
            *ngIf="opt !== importantLinks"
             [value]="opt" class="searchBtn" (click)="navigateToPage(opt)"  >
              {{ opt }}
            </mat-chip>
         
          </mat-chip-list>
                <!--    hyperlinks -->
          <mat-chip-list  class="mat-list-text"
          [multiple]="false" *ngFor="let opt of specificOptions" >
            <mat-chip  [multiple]="false" 
            *ngIf="opt == importantLinks"
            [value]="opt" class="searchBtn" (click)="navigateToPage(opt)"  >
            <a href="https://www.artsci.utoronto.ca/current/academic-advising-and-support" target="_blank" *ngIf="opt == 'Academic Advising and Support'">Academic Advising and Support</a>
            <a href="https://www.artsci.utoronto.ca/current/dates-deadlines/academic-dates" target="_blank" *ngIf="opt == 'Academic Dates & Deadlines'">Academic Dates & Deadlines</a>
            <a href="https://artsci.calendar.utoronto.ca/sessional-dates" target="_blank" *ngIf="opt == 'Academic Calendar'">Academic Calendar</a>
            <a href="https://idpz.utorauth.utoronto.ca/idp/profile/SAML2/Redirect/SSO?execution=e2s1" target="_blank" *ngIf="opt == 'Acorn'">Acorn</a>
            <a href="https://future.utoronto.ca/university-life/housing/" target="_blank" *ngIf="opt == 'Campus Housing'">Campus Housing</a>
            <a href="https://map.utoronto.ca/?id=1809#!ct/45469?s/" target="_blank" *ngIf="opt == 'Campus Map'">Campus Map</a>
            <a href="https://jobs.utoronto.ca" target="_blank" *ngIf="opt == 'Careers at U Of T'">Careers at U Of T</a>

            <a href="https://crowdmark.com" target="_blank" *ngIf="opt == 'Crowdmark'">Crowdmark</a>
            <a href="https://www.artsci.utoronto.ca/current/faculty-registrar/exams-assessments/exam-assessment-schedule" target="_blank" *ngIf="opt == 'Exam & Assessment Schedule'">Exam & Assessment Schedule</a>
            <a href="https://future.utoronto.ca/finances/financial-aid/" target="_blank" *ngIf="opt == 'Financial Aid'">Financial Aid</a>
            <a href="https://idpz.utorauth.utoronto.ca/idp/profile/SAML2/Redirect/SSO?execution=e3s1" target="_blank" *ngIf="opt == 'Quercus'">Quercus</a>
            <a href="https://starportal.utoronto.ca/StarRezPortalX/B7154BE0/13/120/The_Residences-The_Residences" target="_blank" *ngIf="opt == 'Residences'">Residences</a>
            <a href="https://sop.utoronto.ca" target="_blank" *ngIf="opt == 'Student-Organization-Portal'">Student Organization Portal</a>
            <a href="https://future.utoronto.ca/current-students/student-services-campus-life/student-services-and-support/" target="_blank" *ngIf="opt == 'Student Services and Support'">Student Services and Support</a>
            <a href="https://www.uoftbookstore.com" target="_blank" *ngIf="opt == 'U Of T Bookstore'">U Of T Bookstore</a>
            <a href="https://www.utoronto.ca/contacts" target="_blank" *ngIf="opt == 'U Of T Contacts'">U Of T Contacts</a>
            <a href="https://onesearch.library.utoronto.ca" target="_blank" *ngIf="opt == 'U Of T Libraries'">U Of T Libraries</a>

           </mat-chip> 
           </mat-chip-list>
        </div>
      </div>
    </div>
    <!-- right -->
    <div class="right-column">
      <!-- Recents tetx -->
      <div class="center" matTooltip="Focus On Feed">
        <button mat-button  routerLink="/friends" class="friendsStyle" >
        Friends Feed
      </button>
      </div>
      <!-- <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>


        <div class="fill_">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR" (click)="navigateToPost()">Post Now</mat-chip>
          </mat-chip-list>
        </div>

      </div> -->

<!-- *ngIf="posts.length !== 0" -->
      <div class="recents"  >


<!-- *ngIf="(userIsAuthenticated && (userId === posts.Creator))" -->

<app-card-friends  class="hideFeed" >
</app-card-friends>

      </div>
    </div>
  
       </div>

</div>
</body>


    <!-- Mobile -->
    <!-- <div class="hide1">
      <div class="topM">
        <div class="center"> Recommendations</div>
        <!-- ADDDDDDSSSSSS!!--

        <div class="logo-layoutM">
          <!-- Adds and recommecndations will be mixed into feed!!!!! --
          <div class="fit">
            <!-- If user does not make in friend list --
            <app-card-recommendation class="hide" [ngForOf]="profiles">

            </app-card-recommendation>
          </div>
        </div>


        <div class="column">
          <div class="center_">
            <div class="label">What are you looking for?</div>
          </div>
          <mat-selection-list #options [multiple]="false" class="second-list">
            <mat-form-field appearance="fill">
              <mat-label> Step 1: Choose from the main categories</mat-label>

              <mat-select [formControl]="postLocationMain">
                <mat-option (click)="onSearchSelection(opt.value)" [selected]="opt.name" [multiple]="false"
                  *ngFor="let opt of searchOptions" [value]="opt.name">

                  {{ opt.name }}</mat-option>
              </mat-select>

            </mat-form-field>
          </mat-selection-list>

          <!-- Second choice --
          <div class="location-options">
            <mat-selection-list class="mat-list-text" *ngIf="postLocationMain.value">
              <mat-form-field appearance="fill">
              <mat-label> Step 2: Navigate to the specific page</mat-label>

              <mat-select>
              <mat-option [multiple]="false" *ngFor="let opt of specificOptions" [value]="opt"
                (click)="navigateToPage(opt)">

                {{ opt }}
</mat-option>
</mat-select>
</mat-form-field>
            </mat-selection-list>
          </div>


        </div>
        <div class="center" *ngIf="posts.length !== 0">
          Recent Feed
        </div>
        <div class="recents" *ngIf="posts.length == 0">
          <div class="fill">
            <div class="label_">Post Now</div>
            <!-- <div class="centerR"> <i class="far fa-grin-alt"></i></div> --
            <div class="icon-btn-fit post ">
              <button mat-fab type="button" routerLink="/post-page" color="primary">
                <mat-icon-button >add_circle</mat-icon-button>
              </button>
            </div>

          </div>
        </div>
        <div class="recents" *ngIf="posts.length !== 0" >
          <app-card class="display" [ngForOf]="posts">
           
          </app-card>
        </div>
       
      </div>
    </div>
  </div>
</div> -->