<div class="spinner" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
</div>

<body>
  
<div class="entire-page" *ngIf="!isLoading">
  
  <!-- Entire page -->
  <div class="main-layout" >

    <div class="left-column">


      <div class="center"  matTooltip="Focus On New Skalars"> 
        <button mat-button routerLink="/newSkalars" class="friendsStyle" >
        New To Skalarly
      </button>
      </div>
      <!-- <mat-divider></mat-divider> -->
      <!-- Reccomendations and adds -->
      <!-- Limit load in amount at a time -->
      <div class= "recents"  >
        <!-- Then each card is filled uniquely passed off {{ }}  values in feed-->
        <app-card-recommendation    >
        </app-card-recommendation>
      </div>


    

    </div>

    <!-- middle -->
    <div class="middle-column-large">
      <div class="center_">
        <button mat-icon-button matTooltip="Trending" routerLink="/trending">
          <div class="material-icons-outlined">
            auto_graph
          </div>
        </button>
        <div class="label">What are you looking for?</div>
        <button mat-icon-button matTooltip="Search Skalars By Filter" routerLink="/filterSkalars">
          <div class="material-icons-outlined">
            filter_list
          </div>
        </button>
        <!-- St.George -->
<div *ngIf="campus == 'U of T St.George'">
  <mat-chip-option color="primary"  class="searchCampusBtn" 
  [matMenuTriggerFor]="menuCampus" >
 <i class="fas fa-school"></i>
 St.George Campus
 </mat-chip-option>  
 <mat-menu #menuCampus="matMenu" >
  <mat-label class="courseCode">
    Campus Search
  </mat-label>
  <mat-divider></mat-divider>
  <div class="optionsCenterStyle">
    <mat-card class="even_">
      <mat-card-content>
  <button mat-menu-item (click)="campusMiss()"
  >
    Mississauga Campus
    </button>
  <mat-divider></mat-divider>
    </mat-card-content>
    </mat-card>
</div>
<div class="optionsCenterStyle">
  <mat-card class="odd_">
    <mat-card-content>
<button mat-menu-item (click)="campusScar()"  
>
  Scarborough Campus
  </button>
<mat-divider></mat-divider>
  </mat-card-content>
  </mat-card>
</div>
</mat-menu>
</div>
<!-- Scarborough -->
<div *ngIf="campus == 'U of T Scarborough'">
  <mat-chip-option color="primary"  class="searchCampusBtn" 
  [matMenuTriggerFor]="menuCampusScar" >
 <i class="fas fa-school"></i>
 Scarborough Campus
 </mat-chip-option>  
 <mat-menu #menuCampusScar="matMenu" >
  <mat-label class="courseCode">
    Campus Search
  </mat-label>
  <mat-divider></mat-divider>
  <div class="optionsCenterStyle">
    <mat-card class="even_">
      <mat-card-content>
  <button mat-menu-item (click)="campusMiss()"
  >
    Mississauga Campus
    </button>
  <mat-divider></mat-divider>
    </mat-card-content>
    </mat-card>
</div>
<div class="optionsCenterStyle">
  <mat-card class="odd_">
    <mat-card-content>
<button mat-menu-item (click)="campusStGeorge()"  
>
St.George Campus
  </button>
<mat-divider></mat-divider>
  </mat-card-content>
  </mat-card>
</div>
</mat-menu>
</div>
<!-- Mississauga -->
<div *ngIf="campus == 'U of T Mississauga'">
  <mat-chip-option color="primary"  class="searchCampusBtn" 
  [matMenuTriggerFor]="menuCampusMiss" >
 <i class="fas fa-school"></i>
 Mississauga Campus
 </mat-chip-option>  
 <mat-menu #menuCampusMiss="matMenu" >
  <mat-label class="courseCode">
    Campus Search
  </mat-label>
  <mat-divider></mat-divider>
  <div class="optionsCenterStyle">
    <mat-card class="even_">
      <mat-card-content>
  <button mat-menu-item (click)="campusScar()"
  >
  Scarborough Campus
    </button>
  <mat-divider></mat-divider>
    </mat-card-content>
    </mat-card>
</div>
<div class="optionsCenterStyle">
  <mat-card class="odd_">
    <mat-card-content>
<button mat-menu-item (click)="campusStGeorge()"  
>
St.George Campus
  </button>
<mat-divider></mat-divider>
  </mat-card-content>
  </mat-card>
</div>
</mat-menu>
</div>

      </div>
      <!-- Category box -->
      <div class="input-boxs">
        <div class="center_single">
          <!-- *ngIf="quickSearch.length > 0" -->
          <div *ngIf="mains.length > 0">
          <button mat-icon-button (click)="favsVisible()" matTooltip="Favourites">
            <i class="far fa-bookmark"></i>
          </button>
          <div *ngIf="FavsVisible" class="favsBox">
            <div class="favsX">
            <div class="favs" >Favourites
            </div>
            <div class="favsXEnd">
            <button mat-icon-button (click)="favsVisible()"> <i class="far fa-times-circle"></i></button>
          </div>
          </div>
            <mat-divider></mat-divider>
            <div  >

              <mat-form-field >
                <mat-label>
                  <i class="far fa-bookmark"></i>
              Quick Search</mat-label>
                <mat-select class="centerText">
                  <mat-option *ngFor="let main of mains"  class="font" 
                  >
                  <!-- category -->
                  <mat-card class="even__" *ngIf="main.category !== ''" >
                    <mat-card-content>
                   <div (click)="navigateToFav(main.category)" > 
                    <i matPrefix class="fas fa-heart main"></i>{{main.category}}</div>
                    </mat-card-content>
                    </mat-card>
                    <!-- hashtag -->
                    <mat-card class="even__" *ngIf="main.hashtag !== ''">
                      <mat-card-content>
                   <div  (click)="navigateToFavHash(main.hashtag)" > 
              <i matPrefix class="fas fa-hashtag hash"></i>
              {{main.hashtag}}</div>
              </mat-card-content>
              </mat-card>
              <mat-divider></mat-divider>
                  </mat-option>

                  </mat-select>
                  </mat-form-field>
      

        
              
              <!-- <mat-form-field >
                <mat-label>
              Hashtags</mat-label>
                <mat-select >
                  <mat-option *ngFor="let main of mains" (click)="navToHashTag()" class="font">
                  </mat-option>
                  </mat-select>
                  </mat-form-field> -->

</div>
</div>
        </div>
          Step One: Choose from the main categories</div>

<app-search-george *ngIf="campus == 'U of T St.George'"></app-search-george>
<app-search-scarborough *ngIf="campus == 'U of T Scarborough'"></app-search-scarborough>
<app-search-mississauga *ngIf="campus == 'U of T Mississauga'"></app-search-mississauga>



      </div>
    </div>
    <!-- right -->
    <div class="right-column">
      <!-- Recents tetx -->
      <div class="center" matTooltip="Focus On Feed">
        <button mat-button  routerLink="/friends" class="friendsStyle" >
        Friends Feed
      </button>
      </div>
      <!-- <div class="column_" *ngIf="posts.length == 0">
        <div class="row"> No Posts At The Moment</div>


        <div class="fill_">
    <mat-chip-list >
          <mat-chip color="primary" selected class="centerR" (click)="navigateToPost()">Post Now</mat-chip>
          </mat-chip-list>
        </div>

      </div> -->

<!-- *ngIf="posts.length !== 0" -->
      <div class="recents"  >


<!-- *ngIf="(userIsAuthenticated && (userId === posts.Creator))" -->

<app-card-friends  class="hideFeed" >
</app-card-friends>

      </div>
    </div>
  
       </div>

</div>
</body>


    <!-- Mobile -->
    <!-- <div class="hide1">
      <div class="topM">
        <div class="center"> Recommendations</div>
        <!-- ADDDDDDSSSSSS!!--

        <div class="logo-layoutM">
          <!-- Adds and recommecndations will be mixed into feed!!!!! --
          <div class="fit">
            <!-- If user does not make in friend list --
            <app-card-recommendation class="hide" [ngForOf]="profiles">

            </app-card-recommendation>
          </div>
        </div>


        <div class="column">
          <div class="center_">
            <div class="label">What are you looking for?</div>
          </div>
          <mat-selection-list #options [multiple]="false" class="second-list">
            <mat-form-field appearance="fill">
              <mat-label> Step 1: Choose from the main categories</mat-label>

              <mat-select [formControl]="postLocationMain">
                <mat-option (click)="onSearchSelection(opt.value)" [selected]="opt.name" [multiple]="false"
                  *ngFor="let opt of searchOptions" [value]="opt.name">

                  {{ opt.name }}</mat-option>
              </mat-select>

            </mat-form-field>
          </mat-selection-list>

          <!-- Second choice --
          <div class="location-options">
            <mat-selection-list class="mat-list-text" *ngIf="postLocationMain.value">
              <mat-form-field appearance="fill">
              <mat-label> Step 2: Navigate to the specific page</mat-label>

              <mat-select>
              <mat-option [multiple]="false" *ngFor="let opt of specificOptions" [value]="opt"
                (click)="navigateToPage(opt)">

                {{ opt }}
</mat-option>
</mat-select>
</mat-form-field>
            </mat-selection-list>
          </div>


        </div>
        <div class="center" *ngIf="posts.length !== 0">
          Recent Feed
        </div>
        <div class="recents" *ngIf="posts.length == 0">
          <div class="fill">
            <div class="label_">Post Now</div>
            <!-- <div class="centerR"> <i class="far fa-grin-alt"></i></div> --
            <div class="icon-btn-fit post ">
              <button mat-fab type="button" routerLink="/post-page" color="primary">
                <mat-icon-button >add_circle</mat-icon-button>
              </button>
            </div>

          </div>
        </div>
        <div class="recents" *ngIf="posts.length !== 0" >
          <app-card class="display" [ngForOf]="posts">
           
          </app-card>
        </div>
       
      </div>
    </div>
  </div>
</div> -->