<div class="showMore" *ngIf="countVisibility >= 1">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-up"></i>

    </mat-chip>
    </div>
<mat-card class="row1_"  *ngFor="let info of blocked; let even = even; let odd = odd">
    <div class="column" [ngClass]="{ even: even, odd: odd }">
       
        <div class="rowSpace">
            <div class="display">
           
            <div class="column_">
                <div class="userName textSize" *ngIf="info.blockedName">
    
                    {{info.blockedName}}
                </div>
                <div class="display">
                    <!-- Directs to users profile -->
                    <button mat-button class="center-"  (click)="navigateToPage(info.blockedUsername)">
                        @{{ info.blockedUsername }}
                    </button>
                </div>
           
            </div>
        </div>
<div class="center-Space">
    <mat-chip-listbox>
    <mat-chip (click)="unblockSkalar(info.blockedUsername)" class="unblock">
        Unblock
    </mat-chip >
</mat-chip-listbox>
</div>          

        </div>
       
    </div>
</mat-card>
<div class="showMore" *ngIf="blocked.length == 6">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </div>