<div  class="scrollHistory">
    <div *ngFor="let comment of comments; let even = even; let odd = odd">
      <!-- infinite-scroll -->
      <!--  infiniteScroll  -->
            <div  [ngClass]="{ even: even, odd: odd }"
             class="commentsDisplayWrapper" 
             >
             <div class="picTime">
              <div class="rowComment">
              <div class="profilePic">
    <img src="{{comment.ProfilePicPath}}" class="pic">
    </div>
    <div class="timeBox">
    {{comment.time}}
    <div class="timeUser">
      
      <div class="userName link" *ngIf="userId == comment.Creator" id="userName">@{{comment.username}}
      </div>
      <button mat-button *ngIf="userId !== comment.Creator" >
        <div class="userName  link"  id="userName" (click)="navigateToPage(comment.username)">@{{comment.username}}
          </div>
        </button>
              </div>
            </div>
    
            <div *ngIf="userId == comment.Creator" class="trashCan" matTooltip="Delete Comment">
              <button  mat-icon-button matSuffix class="trashCan_"
                (click)='onDeleteComment(comment.id)'>
                <i class="far fa-times-circle"></i>
                </button>
                </div>
    </div> 
    <div class="Comment">
      <div class="commentText"> {{comment.body}}
      
      </div>
    
        
          </div>
    </div>
    
    
    </div>
          </div>
    </div>