<div  class="scrollHistory">
  <div class="showMore" *ngIf="countVisibility >= 1">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-up"></i>

    </mat-chip>
    </div>
    <div *ngFor="let comment of comments; let even = even; let odd = odd">
      <!-- infinite-scroll -->
      <!--  infiniteScroll  -->
            <div  [ngClass]="{ even: even, odd: odd }"
             class="commentsDisplayWrapper" 
             >
             <div class="picTime">
              <div class="rowComment_">
                <div class="display">
              <div class="profilePicCommentsHistory">
    <img src="{{comment.ProfilePicPath}}" class="pic">
    </div>
    <div class="timeBox">
    {{comment.time}}
    <div class="timeUser">
        <button mat-button *ngIf="userId == comment.Creator" disabled >
      <div class="userName link"  id="userName">@{{comment.username}}
      </div>
      </button>
 
      <button mat-button *ngIf="userId !== comment.Creator" >
        <div class="userName  link"  id="userName" (click)="navigateToPage(comment.username)">@{{comment.username}}
          </div>
        </button>

      </div>
              
    </div>
        
           
          </div>
          <div class="buttonCombo" >
<div *ngIf="comment.viewed == false" class="newIndicator"></div>

            <button  mat-flat-button matSuffix class="counterColor"  matTooltip="Delete Comment"
              (click)='onDeleteComment(comment.id)'>
              <i class="far fa-times-circle"></i>
              </button>


        
          <button mat-flat-button class="repostColor" matTooltip="Original Post"
          (click)="navToPost(comment.postId)">
      <i class="fas fa-home"></i>
            </button>


            
</div>

    </div> 
    <div class="Comment">
      <div class="commentText"> {{comment.body}}
      
      </div>
    
        
          </div>
    </div>
    
    
    </div>
          </div>
          <div class="showMore" *ngIf="comments.length == 6">
            <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
                <!-- <i class="fas fa-chevron-circle-down"></i> -->
                <i class="fas fa-caret-down"></i>
            </mat-chip>
            </div>
    </div>