<div class="entire-page"  >
    <!-- Left column -->
    <div class="column">

  
  
      <mat-tab-group class="column_1" >
  
   
  
      <!-- Tablet/Mobile search bar -->
      <div class="search-friends">
     
        <div class="columnD columnM ">
          <div class="row yo">
            <mat-tab label="Comments on your posts"   >
              <ng-template  mat-tab-label >
                <mat-icon> 
                  <i class="fas fa-comments"></i>
                 </mat-icon>
                 <div class="font">Comments on your posts</div>
               
               </ng-template>
            <div class="standard">
     
           
              <div class="following-box">
                <div class="structure">
                    <!-- *ngIf="comments.length == 0" -->
                  <div *ngIf="comments.length == 0" class="basicColumn" >
                    <i class="fas fa-comment-slash noFriends"></i>
                    <div class="title__">
                      No comments
                    </div>
                  </div>
                  <comment-history> </comment-history>
  
                </div>
              </div>
            </div>
  </mat-tab>
  <mat-tab label="Followed you"   >
    <ng-template  mat-tab-label >
      <mat-icon>  <i class="fas fa-user-friends"></i>
       </mat-icon>
       <div class="font">Followed you</div>
     
     </ng-template>
            <!-- Right column -->
            <div class="standard">
                <!-- <div class="center friend_count">
                    Followed you:
                  </div> -->
  
              <div class="following-box">
                <div class="structure">
                     <div class="basicColumn" 
                     *ngIf="followers.length == 0">
                  <i class="fas fa-users-slash noFriends"></i>
                  <div class="title__">No current followers</div>
                </div>
                
                  <followed-history-template></followed-history-template>
                </div>
              </div>
  
            </div>
  </mat-tab>


  <mat-tab label="Shared Posts"  >
    <ng-template  mat-tab-label >
      <mat-icon>  <i class="fas fa-share-alt"></i>
       </mat-icon>
       <div class="font">Shared Posts</div>
     
     </ng-template>
     <!-- Right column -->
     <div class="standard">
      <!-- <div class="center friend_count">
          Followed you:
        </div> -->

    <div class="following-box">
      <div class="structure">
        <!-- *ngIf="shared.length == 0" -->
           <div class="basicColumn"  *ngIf="shared.length == 0"
           >
        <i class="fas fa-users-slash noFriends"></i>
        <div class="title__">No one has shared a post of yours</div>
      </div>
      
        <shared-history-template></shared-history-template>
      </div>
    </div>

  </div>
</mat-tab>
<mat-tab label="Missed Notifications"  *ngIf="notif.length != 0">
  <ng-template  mat-tab-label >
    <mat-icon>  
      <i class="fas fa-envelope"></i>
     </mat-icon>
     <div class="font">Missed Notifications </div>
   </ng-template>

     <div class="structure" >
      <!-- *ngIf="shared.length == 0" -->
         <div class="basicColumn"  
         >
      <i class="far fa-bell-slash noFriends" ></i>

      <div class="title__">Your notifications link is broken and needs to be reset
        on your profile page!</div>
    </div>
   <missed-notifications></missed-notifications>

     </div>

</mat-tab>
          </div>
  
  

        </div>

      </div>
  </mat-tab-group>
    </div>
  </div>