<div class="entire-page"  >
    <!-- Left column -->
    <div class="column">

  
  
      <mat-tab-group class="column_1" >
  
   
  
      <!-- Tablet/Mobile search bar -->
      <div class="search-friends">
     
        <div class="columnD columnM ">
          <div class="row yo">
            <mat-tab label="Comments on your posts"   >
            <div class="standard">
     
                <!-- <div class="center friend_count">
                  Comments on your posts:
                </div> -->
              
          
 
              <div class="following-box">
                <div class="structure">
                    <!-- *ngIf="comments.length == 0" -->
                  <div *ngIf="comments.length == 0" class="basicColumn" >
                    <i class="fas fa-comment-slash noFriends">No comments</i>
                    <div class="title_">


                    </div>
                  </div>
                  <comment-history> </comment-history>
  
                </div>
              </div>
            </div>
  </mat-tab>
  <mat-tab label="Followed you"   >
  
            <!-- Right column -->
            <div class="standard">
                <!-- <div class="center friend_count">
                    Followed you:
                  </div> -->
  
              <div class="following-box">
                <div class="structure">
                     <div class="basicColumn" 
                     *ngIf="followers.length == 0">
                  <i class="fas fa-users-slash noFriends"></i>
                  <div class="title_">No current followers</div>
                </div>
                
                  <followed-history-template></followed-history-template>
                </div>
              </div>
  
            </div>
  </mat-tab>


  <mat-tab label="Shared Posts"   >
     <!-- Right column -->
     <div class="right">
      <!-- <div class="center friend_count">
          Followed you:
        </div> -->

    <div class="following-box">
      <div class="structure">
        <!-- *ngIf="shared.length == 0" -->
           <div class="basicColumn" 
           >
        <i class="fas fa-users-slash noFriends"></i>
        <div class="title_">No one has shared a post of yours</div>
      </div>
      
        <shared-history-template></shared-history-template>
      </div>
    </div>

  </div>
</mat-tab>


          </div>
  
  

        </div>

      </div>
  </mat-tab-group>
    </div>
  </div>