<div class="showMore" *ngIf="countVisibility >= 1">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-up"></i>

    </mat-chip>
    </div>
<mat-card class="row1_"  *ngFor="let info of notif">
    <div class="column" >
        <!-- <div *ngIf="info.Title" class="Title">
       {{info.Title}}
    </div> -->
        <div class="rowSpace">
            <div class="column">
            <div class="display">
            <!-- <div class="row_">
                <div mat-card-avatar class="profilePic" *ngIf="info.SharerProfilePicPath">
                    <img class="fit" src="{{info.SharerProfilePicPath}}">
                </div>
            </div> -->
            <div class="column_">
                <div class="userName textSize" *ngIf="info.time">
    
                    {{info.time}}
                </div>
                <div class="display" *ngIf="info.username">
                    <!-- Directs to users profile -->
                    <button mat-button class="center-" *ngIf="userId !== info.Creator" (click)="navigateToPage(info.username)">
                        @{{ info.username }}
                    </button>
                    <button mat-button *ngIf="userId == info.Creator" disabled>
                    <div class="center-" >  @{{ info.username }} </div>
                    </button>
                </div>

                <div class="display" *ngIf="info.Follower">
                    <!-- Directs to users profile -->
                    <button mat-button class="center-" *ngIf="userId !== info.Creator" (click)="navigateToPage(info.Follower)">
                        @{{ info.Follower }}
                    </button>
                    <button mat-button *ngIf="userId == info.Creator" disabled>
                    <div class="center-" >  @{{ info.Follower }} </div>
                    </button>
                </div>
           
            </div>
        </div>
        <div class="center-Space"  *ngIf="info.message">
            {{info.message}}
    </div>
    <div class="center-Space"  *ngIf="info.body">
        {{info.body}}
</div>
    </div>
            

    <div class="buttonCombo" *ngIf="info.postId">
        


        <button mat-flat-button class="counterColor" matTooltip="Delete Notification"
        (click)="delRePost(info.postId)">
        <i class="far fa-times-circle"></i></button>
      

            <button mat-flat-button class="repostColor" matTooltip="Original Post"
            (click)="navToPost(info.postId)">
      <i class="fas fa-home"></i>
    </button>
       
    </div> 

         
        </div>

        
    </div>
</mat-card>
<div class="showMore" *ngIf="notif.length == 6">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
        <!-- <i class="fas fa-chevron-circle-down"></i> -->
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </div>