<!-- <div class="showMore" *ngIf="countVisibility >= 1">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
        <-- <i class="fas fa-chevron-circle-down"></i> --
        <i class="fas fa-caret-up"></i>

    </mat-chip>
    </div> -->
<mat-card class="row1_"  *ngFor="let info of notif; let even = even; let odd = odd">
    <div class="column" [ngClass]="{ even: even, odd: odd }">
        <!-- <div *ngIf="info.Title" class="Title">
       {{info.Title}}
    </div> -->
        <div class="rowSpace">
            <div class="column">
            <div class="display">
            <!-- <div class="row_">
                <div mat-card-avatar class="profilePic" *ngIf="info.SharerProfilePicPath">
                    <img class="fit" src="{{info.SharerProfilePicPath}}">
                </div>
            </div> -->
            <div class="column_">
                <div class="userName textSize" *ngIf="info.time">
    
                    {{info.time}}
                </div>
                <div class="display" *ngIf="info.username">
                    <!-- Directs to users profile -->
                    <div *ngIf="(info.body && info.time)" class="align">
                    <button mat-button class="center-"  (click)="navigateToPage(info.username)">
                        @{{ info.username }} 
                    </button>
                    <div class="toned">
                    Commented On Your Post
                </div>
                </div>
                    <div *ngIf="(info.body && (info.time == ''))" class="align">
                    <button mat-button class="center-"  (click)="navigateToPage(info.username)">
                        @{{ info.username }} 
                    </button>
                    <div class="toned">
                    Shared Your Post
                </div>
                </div>
                    <div *ngIf="info.message" class="align">
                    <button mat-button class="center-"  (click)="navigateToPage(info.username)">
                        @{{ info.username }} 
                    </button>
                    <div class="toned">
                    Messaged You
                    </div>
                </div>
                </div>

                <div class="display" *ngIf="info.Follower" >
                    <!-- Directs to users profile -->
                    <div class="align">
                    <button mat-button class="center-"  (click)="navigateToPage(info.Follower)">
                        @{{ info.Follower }} 
                    </button>
                    <div class="toned">
                    Followed You
                </div>
                    </div>
                </div>
           
            </div>
        </div>
        <div class="center-Space"  *ngIf="info.message">
            {{info.message}}
    </div>
    <div class="center-Space"  *ngIf="info.body">
        {{info.body}}
</div>
    </div>
            

    <div class="buttonCombo" >
        


        <!-- <button mat-flat-button class="counterColor" matTooltip="Delete Notification"
        (click)="delNotif(info.id)">
        <i class="far fa-times-circle"></i></button> -->
      

            <button mat-icon-button class="repostColor" matTooltip="Original Post" *ngIf="info.body" 
            (click)="navToPost(info.postId)">
      <i class="fas fa-home"></i>
    </button>

    <button mat-icon-button class="repostColor" matTooltip="Navigate To Chat" *ngIf="info.message" 
    (click)="navigateToChat(info.username)">
<i class="fas fa-envelope-open-text"></i>
</button>

<button mat-icon-button class="repostColor" matTooltip="Navigate To Friends" *ngIf="info.Follower" 
(click)="navigateToFriends()">
<i class="material-icons-sharp">groups</i>

</button>       

    </div> 

         
        </div>

        
    </div>
</mat-card>
<!-- <div class="showMore" *ngIf="notif.length == 6">
    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
        <-- <i class="fas fa-chevron-circle-down"></i> --
        <i class="fas fa-caret-down"></i>
    </mat-chip>
    </div> -->