<form  (ngSubmit)="onSubmit()" class="background" >
  <div class="space">
<div class="log-in-boxPop" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="text-input">
      <mat-label> Academic Email</mat-label>
      <!-- pattern=".+@mail.utoronto\.ca" -->
      <input matInput type="email"  [formControl]="email" required/>
      <span matSuffix class="hide"></span>
      <mat-error *ngIf="email.invalid">Please enter your academic email after verifying it!!</mat-error>
      <!-- <button color="primary" mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
        (click)="clearEmail()">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <div class="row_">
    <mat-form-field class="text-input">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" type="password" id='passwordType7' required/>
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
      <!-- <button color="primary" mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
        (click)="clearPassword()">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <button mat-icon-button type="button" *ngIf="visible" (click)="toggleVisibilty()" >
      <mat-icon class="material-symbols-sharp" >visibility</mat-icon>
    </button>
    <button mat-icon-button type="button" *ngIf="!visible" (click)="toggleVisibilty_()" >
      <mat-icon class="material-symbols-sharp" >visibility_off</mat-icon>
    </button>
  </div>
    <button type="submit" mat-raised-button [disabled]="!email.valid || !password.valid"
      color="primary" class="action-button top" *ngIf="!isLoading" >
      Log In
    </button>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <div *ngIf="isLoading" class="dot-pulse"></div>
    <button type="button" mat-button disableRipple class="forgot-password" routerLink="/retrieve-password">
      Forgot Password?
    </button>
  </div>
</div>
</form>
