::ng-deep .mat-menu-panel{
  display: contents;
}
.asthetic-adds {
  color: #418bba;
  border-color: #707070;
  display: flex;
}
.Accounts {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.accounts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 3%;
}
.align-bottom {
  display: flex;
  justify-content: center;
}
.bio {
  display: flex;
  width: 100%;
}
.btmText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2%;
}
.bd{
  margin-top: 2%;
}
.bd_picker{
  font-size: large;
}
.background_colour{
  background-color: #0c46b8a1;
}
.cameraIcon {
  height: 100%;
  justify-content: center;
  background-color: #0c46b8a1;
}
.cameraIcon_ {
  height: 100%;
  justify-content: center;
}
.center-text {
  display: flex;
  justify-content: center;
  overflow: visible;
  text-align: center;
  color: #7e7171;
  font-family:  'Poppins', sans-serif;
  margin-top: 5%;
}
.center {
  display: flex;
  box-shadow: 0 2px 3px;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}
.center_ {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.checkBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cBtnB {
  display: flex;
  color: gray;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  font-family: 'Cinzel', serif;
}
.cBtnBl {
  display: flex;
  background-color: gray;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-size: x-large;
}
.cBtn {
  display: flex;
  // background-color: #418bba;
  justify-content: center;
  // color: white;
  // background-color: white;
  // color: gray;
  flex-direction: column;
  font-size: large;
  font-family: 'Cinzel', serif;

}
.cBtnI {
  display: flex;
  color: gray;
  justify-content: center;
  flex-direction: column;
  margin-right: 1%;
  font-size: x-large;
}
.createBtn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  margin: 2% 0%;
}
.cropper {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 260px;
}

.contents {
  display: flex;
  box-sizing: border-box;
  padding: 0% 20% 0% 20%;
  justify-content: center;
}
.column_1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.centerD {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: large;
  color: #7e7171;
}
.centerR {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columnTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  max-height: 250px;
  background-color: rgb(236, 238, 238);
}
.courses {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.cropper {
  display: flex;
  margin-top: 1%;
  max-width: fit-content;
}

.display {
  display: flex;
}
.displayB {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .display {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .display {
    display: flex;
    width: 94%;
  }
}

.entire-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
}
.existing-account-layout {
  display: flex;
  justify-content: center;
}
.existing-account-style {
  color: #0c46b8a1;
  border-color: #707070;
  font-family: 'Cinzel', serif;
}
.existing-account-style-btn {
  // background-color: white;
  font-family: 'Cinzel', serif;
  box-shadow: 0px 0px 11px
}

.existed-centered {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.far {
  color: #7e7171;
  font-size: x-large;
}
.fit {
  width: 100%;
  height: auto;
}
.garbage_icon{
  margin-bottom: 7%;
}
.gender-layout {
  margin-right: 10%;
  margin-bottom: 2%;
}
.gender {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hide {
  display: none !important;
}

.twoPassword {
  display: flex;
  width: 100%;
  flex-direction: column;
}

::ng-deep .mat-option-text {
  text-align: center;
}
.matTitle {
  color: black;
}
.mat-datepicker-toggle{
  font-size: 21px;
}
@media (min-width: 1024px) {
  ::ng-deep mat-form-field {
    display: flex;
    width: 40%;
  }
}
@media (max-width: 1024px) {
  ::ng-deep mat-form-field {
    display: flex;
    width: 100%;
  }
}
::ng-deep .mat-form-field {
  font-family:  'Poppins', sans-serif;
}
::ng-deep .mat-radio-button {
  font-family: 'Cinzel', serif;
}
::ng-deep .mat-button {
  font-family: 'Cinzel', serif;

}
::ng-deep .mat-flat-button {
  font-family: 'Cinzel', serif;
}
::ng-deep .mat-option {
  font-family:  'Poppins', sans-serif;
}
::ng-deep .mat-tab-label {
  font-family: 'Cinzel', serif;
}

::ng-deep .mat-tab-body-wrapper {
  display: flex;
  height: 100%;
}

// scrollable mat group headers
::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container {
  overflow: visible !important;
}
// Hides scroll bar
::ng-deep .mat-tab-header::-webkit-scrollbar {
  display: none;
}
.profilePic {
  box-shadow: 0 2px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}
.imgBox {
  display: flex;
  height: 100%;
  margin-top: 1%;
  justify-content: center;
}
// .inputsVal{
//   display: flex;
//   justify-content: center;
//   width: 350px;
// }
._icon {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  font-size: xx-large;
  flex-direction: column;
  color: grey;
}
@media (min-width: 1024px) {
  ._icon2 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    flex-direction: column;
    // color: #418bba;
  }
}
@media (max-width: 1024px) {
  ._icon2 {
    display: none;
  }
}

._icon3 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #418bba;
  margin: 0% 15%;
  flex-direction: column;
}
.icon {
  display: flex;
  justify-content: center;
  color: whitesmoke !important;
}
@media (min-width: 1024px) {
  .icon_ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .icon_ {
    display: none !important;
  }
}
.left-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 15% 0% 15%;
}
.imagePreview {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
}
.input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
}
.input_Btm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.inputTop {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  width: 100%;
}
.inputP {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input_ {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
}
.material-icons {
  // color: #002b54;
}
.material-icons_info {
  color: black;
}
.major-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 0%;
}
.major {
  display: flex;
  width: 100%;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .personalizeLarge {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1% 0% 2%;
  }
}
@media (max-width: 1024px) {
  .personalizeLarge {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1% 0% 2%;
  }
}

.personalize {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.PreviewPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.previewPic {
  display: flex;
  height: auto;
  width: 100%;
}
.Preview {
  display: flex;
  justify-content: center;
  color: #7e7171;
  font-family:  'Poppins', sans-serif;
  font-size: large;
}
.pP {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
}
.required{
  color: black;
}
.showCropper {
  display: flex;
  justify-content: center;
  height: fit-content;
}
@media (min-width: 770px) {
  .show {
    display: flex;
    justify-content: center;
    padding: 0% 25%;
    max-height: 350px;
  }
}
@media (max-width: 770px) {
  .show {
    display: flex;
    justify-content: center;
    padding: 0% 10%;
    max-height: 250px;
    max-width: 75%;
  }
}
.show_ {
  display: flex;
  justify-content: center;
  max-width: 10%;
}
.sport-layout {
  display: flex;
  flex-direction: column;
  margin: 1% 0%;
  justify-content: space-around;
}
.snapShots {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.space {
  display: flex;
  margin: 2% 0%;
  flex-direction: column;
}
.space_{
  margin-bottom: 1%;
}
@media (max-width: 800px) {
  .skip1 {
    display: none;
  }
}
@media (min-width: 800px) {
  .skip2 {
    display: none;
  }
}
@media (max-width: 800px) {
  .skip2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 6% 0%;
  }
}
.right-inputs {
  display: flex;
  flex-direction: column;
  margin: 0% 15% 0% 15%;
}
@media (min-width: 1024px) {
  .row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
// @media (min-width: 900px) {
//   .rowP {
//     display: flex;
//     justify-content: space-around;
//     flex-direction: row;
//     margin: 2% 0%;
//     width: 100%;
//     box-sizing: border-box;
//     overflow-x: scroll;
//     color: #7e7171;
//     font-family: "Font Awesome 5 Free";
//   }
// }
// @media (max-width: 900px) {
//   .rowP {
//     display: flex;
//     flex-direction: row;
//     margin: 2% 0%;
//     overflow-x: scroll;
//     color: #7e7171;
//     font-family: "Font Awesome 5 Free";
//   }
// }

// @media (min-width: 1024px) {
.rowP {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2% 0%;
}
// }
// @media (max-width: 1024px) {
//   .rowP {
//     display: none;

//   }
// }

// @media(min-width:1024px){
//   .rowT {
//     display: flex;
//     justify-content: space-around;
//     flex-direction: row;
//     margin: 1% 0% 3%;
//   }}
// @media(max-width:1024px){
// .rowT{
//   display: flex;
//     justify-content: space-around;
//     flex-direction: column;
//     margin: 1% 0% 3%;
// }}

.rowP_ {
  display: flex;
  justify-content: center;
  // color: #418bba;
}
.text {
  display: flex;
  justify-content: center;
}
.textU {
  display: flex;
  color: #7e7171;
  font-family:  'Poppins', sans-serif;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7%;
  text-align: center;
}
.textU_ {
  display: flex;
  color: #7e7171;
  font-family:  'Poppins', sans-serif;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1%;
}
@media (min-width: 500px) {
  .trash {
    display: flex;
    font-size: x-large;
    color: #7e7171;
    justify-content: center;
    margin-bottom: 1%;
  }
}
@media (max-width: 500px) {
  .trash {
    display: flex;
    font-size: inherit;
    color: #7e7171;
    justify-content: center;
  }
}
.titleV{
  display: flex;
  justify-content: center;
  font-family:  'Cinzel', serif;
  color: #7e7171;
  margin-top: 5%;
  flex-direction: column;
    align-items: center;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #7e7171;
  font-family:  'Poppins', sans-serif;
}

.text-layout {
  margin-right: 10%;
  margin-bottom: 2%;
}

.switch {
  color: #2699fb;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: #707070;
  border-color: #418bba;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  color: #707070;
  border-color: #418bba;
}

.terms {
  display: flex;
  justify-content: center;
  margin-right: 9%;
}
@media (min-width: 1024px) {
  .userIn {
    display: flex;
    margin: 2% 0%;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .userIn {
    display: flex;
    margin: 2% 0%;
    width: 100%;
  }
}
.username-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}
@media (min-width: 1024px) {
  .uploadD {
    display: none;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .uploadD {
    display: none;
    box-sizing: border-box;
  }
}
.sndPage {
  display: flex;
  width: 100%;
  height: 100%;
}
