<!-- main logo -->
<div class="entire-page">
  <div class="middle-and-bottom">
    <img Src="../../assets/Pics/ProperInAppLogo.jpeg" class="logo-layout" />
  </div>
  <!-- text -->
  <div class="middle-and-bottom">
    <h2 class="main-text">Terms and Conditions</h2>
    <div class="main-text">
      The University Of Toronto Varsity Blues is in no way affiliated with
      Scholarly and therefore holds no responsibility for the actions of their
      students using Scholarly. As well as any harm that may come to them by use
      of the app. This app is made by U Of T students for U Of T students and is
      only connected to U Of T by its student body, but in no way holds
      responsibility or connection for anything that happens because of the use
      of Scholarly. Like all social network platforms, Scholarly requires its
      members to act appropriately and to treat everyone with respect. Scholarly
      is not responsible for any misconducts, charges, lawsuits, or
      discrepancies between its members that may arise because of the use of the
      app Scholarly. Each member is responsible for their own actions and
      conduct and by agreeing to these conditions, agrees that they will in no
      way sue, charge, or in anyway put Scholarly responsible for the actions of
      its members. Scholarlie’s purpose is to connect like minded individuals
      around University campus's, allowing a large school to feel connected.
    </div>

    <!-- Sign Up Button  -->

    <div class="row">
      <button class="row" mat-flat-button mat-dialog-close>

        <i class="far fa-thumbs-up">Got It</i>


      </button>
    </div>

  </div>
</div>