<div class="entire-page">
    <div class="top">
        <img Src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
      </div>
<mat-card-title class="email">Congrats!! <span class="material-icons-outlined">
    celebration
    </span></mat-card-title>
<mat-card-subtitle  class="email textVerified">
    U Of T account verified!
</mat-card-subtitle>
<mat-card-subtitle class="email textVerified"> 
    Return to the original page and log in with your new account to continue.
</mat-card-subtitle>
</div>