<div class="entire-page">
    <div class="top">
        <img Src="../../assets/Pics/Skalarly jpeg 2 (hat & logo).png" class="pic" />
      </div>
<mat-card-title class="congrats">congrats! 
    </mat-card-title>
<mat-card-subtitle  class="email textVerified">
    U Of T account verified!
    <span class="material-icons-sharp cushion" >
        verified
        </span>
</mat-card-subtitle>
<mat-card-subtitle class="email textVerified_"> 
    <!-- Return to the original page and log in with your new account to continue. -->
    Your account is now locked in!
</mat-card-subtitle>
</div>