
<form id="send-container" >
<div class="page">
<div class="message_box">

<div class="left">

    <div class="title">
<div class="style">Messages</div>
</div>
<mat-divider></mat-divider>

    <div class="searchMsgs">
     <mat-form-field   class="search-box__input" 
     appearance="outline">
    <i matPrefix class="material-icons search-box__icon ">search</i>
<!-- [disabled]="messagesNotif.length == 0" -->
     <input matInput 
      placeholder="Search Messages" 
     (keyup)="sendDataNotif($event)"
     [formControl]="msgFilter"
     />
     <div matSuffix class="noMatches" *ngIf="messagesNoNotif == '7'">
      No matches
      <button matSuffix mat-icon-button (click)="clear()">
        <i class="far fa-times-circle"></i>
      </button>
     </div>

<button matSuffix mat-icon-button (click)="clear()" *ngIf="msgFilter.value && messagesNoNotif != '7'">
  <i class="far fa-times-circle"></i>
</button>

    </mat-form-field>

  </div>


  <mat-divider></mat-divider>
<div class="list">
     

<!-- Notification cards -->
        <div class="space" > 
          
          <div class="spinner" *ngIf="isLoading">
            <mat-spinner ></mat-spinner>
          </div>
        
        <!-- Message notifications with messages -->
        
        <div *ngIf=" userId != username" >
        <div  *ngFor="let info of messagesNotif; let even = even; let odd = odd">
        <mat-card class="row1" [ngClass]="{ even: even, odd: odd }" >
            <div class="column" >
                <div class="rowMessage">
      
                    <div class="row_">
                        <div class="messageText">
                          <div *ngIf="info.viewed === false" class="newIndicator">
                           <!-- cirlce -->
                        </div>
                        <div *ngIf="(info.you !== userId)">
                            Message From
                          </div>
                            <!-- Sent too -->
                            <div *ngIf="(info.you == userId)">
                            Sent Too
                          </div>
                         </div> 
                        <!-- <div class="column_"> -->
                            <div class="column_">
                                <!-- (click)="onOtherUser(info)" -->
                      <!-- recieved messages -->
                        <button 
                        mat-button (click)="navigateToPage(info.username)" *ngIf="(info.you !== userId)"
                        class="userName textSize_" id="userName"  [value]=info.username  > 
                            @{{ info.username}}
        
                        </button>
                          <!-- sent messages -->
                          <button 
                          mat-button (click)="navigateToPage(info.otherUser)" *ngIf="(info.you == userId)"
                          class="userName textSize_" id="otherUser"  [value]=info.otherUser  > 
                              @{{ info.otherUser}}
          
                          </button>
                        </div>
                     <div class="userName textSize" >
                            <!-- {{ (profile | async)?.Pronouns}} -->
                             {{ info.time }}
        
                        </div>
                    </div>
                    <div class="buttonCombo" >
                      <!-- sent messages -->
                      <!-- sent -->
                      <button  mat-flat-button class="counterColor" *ngIf="(info.viewed === false) && (info.you == userId)" mat-flat-button (click)="navigateToChat(info.otherUser)"
                      matTooltip="Display Messages">        
                           <i class="fas fa-reply iconSpace"></i>
                       </button >
                        <!-- sent and opened-->
                      <button  mat-flat-button class="counterColor" *ngIf="(info.viewed === true) && (info.you == userId)" mat-flat-button (click)="navigateToChat(info.otherUser)"
                      matTooltip="Display Messages">        
                           <i class="fas fa-reply iconSpace_"></i>
                       </button >
                      <!-- recieving message -->
        <!-- first viewing -->
        <button  mat-flat-button class="counterColor" *ngIf="(info.viewed === false) && (info.you !== userId) " mat-flat-button (click)="navigateToChat(info.username)"
        matTooltip="Display Messages">        
             <i class="fas fa-envelope iconSpace"></i>
         </button >
        <!-- already opened -->
                        <button  mat-flat-button class="counterColor" *ngIf="(info.viewed === true) && (info.you !== userId)"  mat-flat-button (click)="navigateToChat(info.username)"
                       matTooltip="Display Messages">        
                            <i class="fas fa-envelope-open-text iconSpace"></i>
                        </button >

                    <!-- </mat-chip-list> -->
               
                    <div class="buttonsC" >
                      <button mat-flat-button  matTooltip="Permanetly Delete Conversation"
                       (click)="delConvo(info._id)" class="repostColor">
                       <i class="far fa-times-circle"></i>

                      </button>
                    </div>
        </div>
        
                </div>
        
        
            </div>
        
        </mat-card>
        </div>
        </div>
        </div>



</div>




</div>

<mat-divider [vertical]="true"></mat-divider>

<body class="right">
  <script  src="/socket.io/socket.io.js">
  </script>
  <script  src="/script.js">
  </script>

<!-- Message area -->
<!-- Loads in new messages -->
<div class="chat-messages" id="container" >
<div class="message" id="message-container" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
  <app-card-messaging >
  </app-card-messaging>

</div>

</div>

<!-- needs to load in old messages -->


<!--  -->
<mat-divider></mat-divider>


<div class="type_message" >
<mat-form-field class="type_message_box" id="showEmojis">
        <input matInput class="post" placeholder="Write a message..." [formControl]="message"
          type="text" id="selection-emoji"> 
    <button mat-icon-button matSuffix id="triggerEmo" (click)="openEmoji()">😃</button>

          <button color="primary" matSuffix mat-icon-button aria-label="Clear" type="button"
         *ngIf="message.value" (click)="clearMessage()">
          <mat-icon>close</mat-icon>
        </button>
   
    
        </mat-form-field>

</div>

 <div class="assistance"> 
 <div class="upload_options">


    <!-- <button mat-icon-button (click)="uploadFile()">
        <i class="material-icons">attach_file
<input #fileInput id="fileInput" type="file" [formControl]="fileUploadM" class="uploadFile">
        </i>
    </button>
   
        
    <button mat-icon-button (click)="uploadPic()">
        <i class="material-icons">photo_camera
          <input #picInput id="picInput" type="file" [formControl]="photoUploadM" class="uploadFile" accept="image/* video/*">
        </i>
        </button> -->


</div>  
<div class="messageTitle" *ngIf="username !== userId">
  Messaging
  <div *ngIf="!username" class="fillInChase">No One</div>
  
  <div *ngIf="username">{{username}}</div>
</div>
  
<div class="send_btn whiteC">
  <!-- <mat-form-field appearance="outline">
    <input matInput  >
    <mat-icon matSuffix [matMenuTriggerFor]="emojiIcon">sentiment_very_satisfied</mat-icon>
  </mat-form-field> -->

  <mat-chip-list  class="whiteC">
    <mat-chip  type="submit" id="send-button" [disabled]="((!message.value  || (userId == username)) || (username == undefined))"
    (click)="trigger(message.value)" class="send_btn_style">
Send
<i class="far fa-paper-plane space_icon"></i>
    </mat-chip>
  </mat-chip-list>
    </div>
    
</div>
</body>
</div>
</div>
</form>
