<div class="page">
<div class="message_box">

<div class="left">

    <div class="title">
<div class="style">Messages</div>
<button mat-icon-button>
    <i class="material-icons new_message_icon">edit_note</i>
</button>
</div>
<mat-divider></mat-divider>
<div class="search-box">
    <i class="material-icons search-box__icon ">search</i>
    <input matInput type="search" class="search-box__input" placeholder="Filter messages"
      [formControl]="search" />
    <cdk-virtual-scroll-viewport itemSize="10">
      <mat-option *cdkVirtualFor="let user of filteredSearch | async" [value]="user">
        {{user}}
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </div>
  <mat-divider></mat-divider>
<div class="list"> 
<!-- <div class="scroll"> -->
    
        <app-card-message class="space" *ngFor="let chat of chats">
        
                {{chat}}
        
       </app-card-message>

    
<!-- </div> -->

</div>




</div>

<mat-divider [vertical]="true"></mat-divider>


<div class="right">

<div class="messages">

</div>
<mat-divider></mat-divider>
<div class="type_message">
<mat-form-field class="type_message_box">
        <textarea matInput class="post" placeholder="Write a message..."
          [formControl]="message"></textarea>
          <button color="primary" mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
          (click)="clearMessage()">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
</div>

<div class="assistance">
<div class="upload_options">
    <button mat-icon-button (click)="uploadFile()">
        <i class="material-icons">attach_file
<input #fileInput id="fileInput" type="file" [formControl]="fileUploadM" class="uploadFile">
        </i>
    </button>
   
        
    <button mat-icon-button (click)="uploadPic()">
        <i class="material-icons">photo_camera
          <input #picInput id="picInput" type="file" [formControl]="photoUploadM" class="uploadFile" accept="image/* video/*">
        </i>
        </button>

    <button mat-icon-button>
       GIF
    </button>
        
    <button mat-icon-button>
        <i class="material-icons">mood</i>
    </button>
</div>

<div class="send_btn">
  <mat-chip-list>
    <mat-chip  class="send_btn_style"  (click)="sendMsg()" color="primary">
Send
<i class="far fa-paper-plane"></i>
    </mat-chip>
  </mat-chip-list>
    </div>

    
</div>



</div>


</div>
</div>