::ng-deep .mat-menu-panel{
  display: contents;
}
.assistance {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  background-color: #ffffff;
  border-bottom-right-radius: 25px;
  // justify-content: space-between;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
}
.chat-messages{
  font-family:  'Poppins', serif;
  height: 100%;
  overflow-y: scroll;
}
.chat-messages_{
  font-family:  'Poppins', serif;
  // height: 100%;
  overflow-y: scroll;
}
.delete_{
  display: flex;
  justify-self: center;
  color:black;
  align-items: center;
  margin-left: 2%;
}
.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top-left-radius: 25px;
  background-color: white;
  overflow: hidden;
  // border: inset;
}
.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
::ng-deep .mat-form-field-flex{
  padding-left: 1%;
}
@media (min-width: 1024px) {
  .message_box {
    display: flex;
    height: 86vh;
    width: 100%;
    box-sizing: border-box;
    margin: 2% 10% 0% 10%;
    border-radius: 25px;
    box-shadow: 0px 0px 11px grey;
  }
}
@media (max-width: 1024px) {
  .message_box {
    display: flex;
    height: 83vh;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 0px 11px grey;
  }
}
.message {
  display: flex;
  height: 100%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: column;
  overflow-y: scroll;
  border-top-right-radius: 25px;
}
.messageTitle{
  display: flex;
    justify-content: center;
    font-family: 'Cinzel', sans-serif;
    align-items: center;
    font-size: large;
    width: 100%;
    color: #a0a1b0;
}
.new_message_icon {
  font-size: large;
}
.page {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.post {
  resize: none;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 25px;
  position: static;
  height: auto;
}
.row{
  display: flex;
  flex-direction: row;
}
.scroll {
  //   display: flex;
  //   flex-direction: column;
  //   overflow-y: scroll;
  padding: 0% 15%;
}
.send_btn {
  display: flex;
  align-items: center;
}
.send_btn_style {
  font-family: 'Cinzel', serif;
  // background-color: #add3ec;
  // color: white;
  color: #0c46b8a1;
  background-color: #11173a;
}
.search-box {
  position: relative;
  display: flex;
  flex-direction: row;
  // display: inline-block;
  border-style: hidden;
  justify-content: center;
  align-items: center;
  //   border: ridge;
  border-color: azure;
  background-color: white;
  border-radius: 25px;
  margin: 1% 5%;
}
.search-box__icon {
  display: flex;
  font-size: 26px;
  right: 10%;
  color: lightblue;
  background-color: white;
  padding: 1%;
  // border: ridge;
  border-color: azure;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
.search-box__input {
  // transition: right, 0.7s;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1px;
  // width: 20%;
  font-size: initial;
  float: right;
  position: relative;
  // border-radius: 5%;
  // margin-right: 10%;
  // opacity: 0.7%;
  height: 25px;
  // cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  font-family: 'Cinzel', serif;
  font-weight: initial;
  background-color: white;
  // border: ridge;
  border-color: azure;
  display: flex;
  color: rgb(126, 113, 113);
  border-radius: 25px;
}
.style {
  display: flex;
  // color: rgb(255, 255, 255);
  font-family:  'Cinzel', serif;
  width: 100%;
  font-size: large;
  padding-left: 3%;
  margin: 1% 0%;
  align-items: center;
  justify-content: center;
}
.space {
  padding: 1%;
}
.space_icon{
  padding-left: 8%;
}
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 25px;
}
.type_message {
  background-color: #ffffff;
}
.type_message_box {
  width: 100%;
}
.username{
  display: flex;
  color: pink;
}
.upload_options {
  margin-right: 1%;
}
.uploadFile {
  display: none;
}
// Emoji poup up
#selection-emoji {
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',
    'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color',
    'Android Emoji';
  font-size: 3rem;
  margin-right: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid #999;
  background: #fff;
}
#selection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#selection-outer {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 0.5rem;
  width: 360px;
  margin-top: 2rem;
  transition: opacity 200ms;
}

#selection-outer.empty {
  opacity: 0;
}

