<!-- 16 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab  class="courses" disabled>
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          workspace_premium
          </span></mat-icon>
        <div >Completed Courses Second Year Winter</div>
      </ng-template>
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>

<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted16.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted16.value.length == 8" (click)="save16()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted16.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted16}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 16" #codeInput [formControl]="CodeCompleted16" >
    
    <mat-option *ngFor="let code of CodeCompleted16.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted16"> 
<button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode16()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted16Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    
    
    <!-- 17 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted17.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted17.value.length == 8" (click)="save17()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted17.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted17}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 17" #codeInput [formControl]="CodeCompleted17" >
    
    <mat-option *ngFor="let code of CodeCompleted17.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted17"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode17()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    
    <!-- 18 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted18.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted18.value.length == 8" (click)="save18()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted18.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted18}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 18" #codeInput [formControl]="CodeCompleted18" >
    
    <mat-option *ngFor="let code of CodeCompleted18.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted18"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode18()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 19 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted19.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted19.value.length == 8" (click)="save19()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted19.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted19}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 19" #codeInput [formControl]="CodeCompleted19" >
    
    <mat-option *ngFor="let code of CodeCompleted19.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted19"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode19()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 20 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted20.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted20.value.length == 8" (click)="save20()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted20.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted20}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 20" #codeInput [formControl]="CodeCompleted20" >
    
    <mat-option *ngFor="let code of CodeCompleted20.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted20"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode20()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>

        <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodeCompleted20.value && !CodeCompleted16.value &&
      !CodeCompleted17.value && !CodeCompleted18.value && !CodeCompleted19.value">
      Save
    </button> -->
  </div>
</div>
</mat-tab>
</mat-tab-group>