<!-- 31 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab  class="courses" disabled>
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          workspace_premium
          </span></mat-icon>
        <div >Completed Courses Fourth Year Fall</div>
      </ng-template>
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>

<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted31.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted31.value.length == 8" (click)="save31()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted31.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted31}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 31" #codeInput [formControl]="CodeCompleted31" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted31"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode31()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted31Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 32 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted32.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted32.value.length == 8" (click)="save32()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted32.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted32}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 32" #codeInput [formControl]="CodeCompleted32" > -->
<!--     
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted32"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode32()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- 33 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted33.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted33.value.length == 8" (click)="save33()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted33.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted33}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 33" #codeInput [formControl]="CodeCompleted33" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted33"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode33()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- 34 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted34.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted34.value.length == 8" (click)="save34()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted34.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted34}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 34" #codeInput [formControl]="CodeCompleted34" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted34"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode34()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    <!-- 35 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted35.value.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted35.value.length == 8" (click)="save35()" matTooltip="Save Course">
    <i class="material-icons check" >check</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted35.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted35}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 35" #codeInput [formControl]="CodeCompleted35" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted35"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode35()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    
    
    <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodeCompleted31.value && !CodeCompleted32.value &&
      !CodeCompleted33.value && !CodeCompleted34.value && !CodeCompleted35.value">
      Save
    </button> -->
  </div>
</div>
</mat-tab>
</mat-tab-group>