<!-- 21 -->
<mat-tab-group mat-align-tabs="center">
<mat-tab  class="courses" disabled>
  <ng-template mat-tab-label>
    <mat-icon><span class="material-icons-two-tone">
      workspace_premium
      </span></mat-icon>
    <div >Completed Courses Third Year Fall</div>
  </ng-template>
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>
<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted21.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted21.value" (click)="save21()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted21.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted21.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted21}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 21" #codeInput [formControl]="CodeCompleted21" >
    
    <mat-option *ngFor="let code of CodeCompleted21.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted21"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode21()">
      <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
      <mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted21Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 22 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted22.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted22.value" (click)="save22()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted22.value">check</i>
    </button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted22.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted22}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 22" #codeInput [formControl]="CodeCompleted22" >
    
    <mat-option *ngFor="let code of CodeCompleted22.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted22"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode22()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    <!-- 23 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted23.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted23.value" (click)="save23()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted23.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted23.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted23}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 23" #codeInput [formControl]="CodeCompleted23" >
    
    <mat-option *ngFor="let code of CodeCompleted23.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted23"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode23()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    <!-- 24 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodeCompleted24.value">check</i>
    <button mat-icon-button type="button" *ngIf="CodeCompleted24.value" (click)="save24()" matTooltip="Save Course">
      <i class="material-icons check" *ngIf="CodeCompleted24.value">check</i>
      </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted24.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted24}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 24" #codeInput [formControl]="CodeCompleted24" >
    
    <mat-option *ngFor="let code of CodeCompleted24.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted24"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode24()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    <!-- 25 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted25.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted25.value" (click)="save25()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted25.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted25.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted25}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 25" #codeInput [formControl]="CodeCompleted25" >
    
    <mat-option *ngFor="let code of CodeCompleted25.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted25"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode25()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodeCompleted21.value && !CodeCompleted22.value &&
      !CodeCompleted23.value && !CodeCompleted24.value && !CodeCompleted25.value">
      Save
    </button> -->
  </div>
</div>
</mat-tab>
</mat-tab-group>