<!-- 6 -->
<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab  label="Pursuing Courses Winter" class="courses">
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>
      <!-- 1 -->
  <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon">checklist</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodePursuing6}}</mat-label>
    
    <mat-select placeholder="Choose pursuing course 1" #codeInputP [formControl]="CodePursuing6" >
    
    <mat-option *ngFor="let codeP of CodePursuing6.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select>
    
    </mat-form-field>
    </div>
    <!-- 7 -->
    <div class="input" *ngIf="info.CodePursuing6 || CodePursuing6.value">
    <i class="material-icons _icon">checklist</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodePursuing7}}</mat-label>
    
    <mat-select placeholder="Choose pursuing course 2" #codeInputP [formControl]="CodePursuing7" >
    
      <mat-option *ngFor="let codeP of CodePursuing7.value" 
        (removed)="removeP(codeP)">
        {{codeP}}
      </mat-option>
    
    
        <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
          {{codeP}}
        </mat-option>
    </mat-select>
    
    </mat-form-field>
    </div>
    <!-- 8 -->
    <div class="input" *ngIf="info.CodePursuing7 || CodePursuing7.value">
    <i class="material-icons _icon">checklist</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodePursuing8}}</mat-label>
    
    <mat-select placeholder="Choose pursuing course 3" #codeInputP [formControl]="CodePursuing8" >
    
    <mat-option *ngFor="let codeP of CodePursuing8.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select>
    
    </mat-form-field>
    </div>
    
    <!-- 9 -->
    <div class="input" *ngIf="info.CodePursuing8 || CodePursuing8.value">
      <i class="material-icons _icon">checklist</i>
    
      <mat-form-field class="example-chip-list">
        <mat-label>{{info.CodePursuing9}}</mat-label>
    
        <mat-select placeholder="Choose pursuing course 4" #codeInputP [formControl]="CodePursuing9" >
    
          <mat-option *ngFor="let codeP of CodePursuing9.value" 
            (removed)="removeP(codeP)">
            {{codeP}}
          </mat-option>
        
    
            <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
              {{codeP}}
            </mat-option>
      </mat-select>
    
      </mat-form-field>
    </div>
    <!-- 10 -->
    <div class="input" *ngIf="info.CodePursuing9 || CodePursuing9.value">
    <i class="material-icons _icon">checklist</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodePursuing10}}</mat-label>
    
    <mat-select placeholder="Choose pursuing course 5" #codeInputP [formControl]="CodePursuing10" >
    
    <mat-option *ngFor="let codeP of CodePursuing10.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select>
    
    </mat-form-field>
    </div>

    <!-- done button -->
<div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
  </div>
  </mat-tab>
    </mat-tab-group>