<!-- 11 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab  class="courses" disabled>
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          workspace_premium
          </span></mat-icon>
        <div >Completed Courses Second Year Fall</div>
      </ng-template>
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>
<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted11.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted11.value" (click)="save11()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted11.value">check</i>
</button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted11.length == 0">Completed Course</mat-label>
            <mat-label>{{info.CodeCompleted11}}</mat-label>
    <!-- <mat-select placeholder="Choose completed course 11" #codeInput [formControl]="CodeCompleted11" >
    
    <mat-option *ngFor="let code of CodeCompleted11.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>

    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>

    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted11"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode11()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted11Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 12 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted12.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted12.value" (click)="save12()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted12.value">check</i>
</button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted12.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted12}}</mat-label>
    <!-- <mat-select placeholder="Choose completed course 12" #codeInput [formControl]="CodeCompleted12" >
    
    <mat-option *ngFor="let code of CodeCompleted11.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted12"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode12()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    <!-- 13 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted13.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted13.value" (click)="save13()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted13.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted13.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted13}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 13" #codeInput [formControl]="CodeCompleted13" >
    
    <mat-option *ngFor="let code of CodeCompleted11.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted13"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode13()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    <!-- 14 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted14.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted14.value" (click)="save14()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted14.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted14.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted14}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 14" #codeInput [formControl]="CodeCompleted14" >
    
    <mat-option *ngFor="let code of CodeCompleted11.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted14"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode14()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    <!-- 15 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted15.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted15.value" (click)="save15()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted15.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted15.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted15}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 15" #codeInput [formControl]="CodeCompleted15" >
    
    <mat-option *ngFor="let code of CodeCompleted11.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted15"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode15()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    
    <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
  <!-- <button mat-raised-button color="primary" type="button" routerLink="/profile" class="button"
    (click)="onSubmit()" [disabled]="!CodeCompleted11.value && !CodeCompleted12.value &&
    !CodeCompleted13.value && !CodeCompleted14.value && !CodeCompleted15.value">
    Save
  </button> -->
</div>
</div>
</mat-tab>
</mat-tab-group>