<!-- 36 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Completed Courses Fourth Year Winter" class="courses" >
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>

      <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted36.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted36.value" (click)="save36()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted36.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted36.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted36}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 36" #codeInput [formControl]="CodeCompleted36" >
    
    <mat-option *ngFor="let code of CodeCompleted36.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted36"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode36()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    <mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted36Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    
    
    <!-- 37 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted37.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted37.value" (click)="save37()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted37.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted37.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted37}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 37" #codeInput [formControl]="CodeCompleted37" >
    
    <mat-option *ngFor="let code of CodeCompleted37.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted37"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode37()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    
    
    <!-- 38 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted38.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted38.value" (click)="save38()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted38.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted38.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted38}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 38" #codeInput [formControl]="CodeCompleted38" >
    
    <mat-option *ngFor="let code of CodeCompleted38.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted38"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode38()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    
    <!-- 39 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted39.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted39.value" (click)="save39()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted39.value">check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted39.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted39}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 39" #codeInput [formControl]="CodeCompleted39" >
    
    <mat-option *ngFor="let code of CodeCompleted39.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted39"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode39()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    
    <!-- 40 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted40.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted40.value" (click)="save40()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompleted40.value">check</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted40.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted40}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 40" #codeInput [formControl]="CodeCompleted40" >
    
    <mat-option *ngFor="let code of CodeCompleted40.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted40"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode40()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    

    <!-- extras/transfer courses -->
    <div class="input">
    <i class="material-icons _icon" *ngIf="!CodeCompletedX.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompletedX.value" (click)="saveX()" matTooltip="Save Course">
    <i class="material-icons check" *ngIf="CodeCompletedX.value">check</i>
</button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompletedX.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompletedX}}</mat-label>
    <input matInput placeholder="Extras or Transfer Equivalents"  [formControl]="CodeCompletedX" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCodeX()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
</div>
     <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Done</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodeCompleted36.value && !CodeCompleted37.value &&
      !CodeCompleted38.value && !CodeCompleted39.value && !CodeCompleted40.value && !CodeCompletedX.value">
      Save
    </button> -->
  </div>

</mat-tab>
</mat-tab-group>