<!-- 16 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Completed Courses Second Year Winter" class="courses" >
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>

<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted16}}</mat-label>
    
    <mat-select placeholder="Choose completed course 16" #codeInput [formControl]="CodeCompleted16" >
    
    <mat-option *ngFor="let code of CodeCompleted16.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    
    <!-- 17 -->
    <div class="input" *ngIf="info.CodeCompleted16 || CodeCompleted16.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted17}}</mat-label>
    
    <mat-select placeholder="Choose completed course 17" #codeInput [formControl]="CodeCompleted17" >
    
    <mat-option *ngFor="let code of CodeCompleted17.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    
    
    <!-- 18 -->
    <div class="input" *ngIf="info.CodeCompleted17 || CodeCompleted17.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted18}}</mat-label>
    
    <mat-select placeholder="Choose completed course 18" #codeInput [formControl]="CodeCompleted18" >
    
    <mat-option *ngFor="let code of CodeCompleted18.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    
    <!-- 19 -->
    <div class="input" *ngIf="info.CodeCompleted18 || CodeCompleted18.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted19}}</mat-label>
    
    <mat-select placeholder="Choose completed course 19" #codeInput [formControl]="CodeCompleted19" >
    
    <mat-option *ngFor="let code of CodeCompleted19.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    
    <!-- 20 -->
    <div class="input" *ngIf="info.CodeCompleted19 || CodeCompleted19.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted20}}</mat-label>
    
    <mat-select placeholder="Choose completed course 20" #codeInput [formControl]="CodeCompleted20" >
    
    <mat-option *ngFor="let code of CodeCompleted20.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>

        <!-- done button -->
 <div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
</div>
</mat-tab>
</mat-tab-group>