<!-- 6 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab  class="courses" disabled>
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          workspace_premium
          </span></mat-icon>
        <div >Completed Courses First Year Winter</div>
      </ng-template>
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>

      <div >
<div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted6.value?.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted6.value?.length == 8" (click)="save6()" matTooltip="Save Course">
<i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted6?.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted6}}</mat-label>
    <!-- <mat-select placeholder="Choose completed course 6" #codeInput [formControl]="CodeCompleted6" >
    
    <mat-option *ngFor="let code of CodeCompleted6.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted6"> 
<button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode6()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted6Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    
    
    <!-- 7 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted7.value?.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted7.value?.length == 8" (click)="save7()" matTooltip="Save Course">
<i class="material-icons check" >check</i>
</button>    

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted7?.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted7}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 7" #codeInput [formControl]="CodeCompleted7" >
    
    <mat-option *ngFor="let code of CodeCompleted7.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code" >
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted7"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode7()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    
    <!-- 8 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted8.value?.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted8.value?.length == 8" (click)="save8()" matTooltip="Save Course">
<i class="material-icons check" >check</i>
</button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted8?.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted8}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 8" #codeInput [formControl]="CodeCompleted8" >
    
    <mat-option *ngFor="let code of CodeCompleted8.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code" >
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted8"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode8()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 9 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted9.value?.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted9.value?.length == 8" (click)="save9()" matTooltip="Save Course">
<i class="material-icons check" >check</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted9?.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted9}}</mat-label>
<!--     
    <mat-select placeholder="Choose completed course 9" #codeInput [formControl]="CodeCompleted9" >
    
    <mat-option *ngFor="let code of CodeCompleted9.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted9"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode9()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 10 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodeCompleted10.value?.length < 8">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted10.value?.length == 8" (click)="save10()" matTooltip="Save Course">
<i class="material-icons check" >check</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted10?.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted10}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 10" #codeInput [formControl]="CodeCompleted10" >
    
    <mat-option *ngFor="let code of CodeCompleted10.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
</mat-select> -->
<input matInput maxlength="8" [formControl]="CodeCompleted10"> 
<button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode10()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>
</div>


 <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodeCompleted6.value && !CodeCompleted7.value &&
      !CodeCompleted8.value && !CodeCompleted9.value && !CodeCompleted10.value">
      Save
    </button> -->
  </div>

</mat-tab>
</mat-tab-group>
