<mat-tab-group mat-align-tabs="center">
<mat-tab label="Completed Courses First Year Fall"  class="courses fas fa-leaf" >
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>
  <div *ngFor="let info of infos">

<!-- 1 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodeCompleted.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted.value" (click)="save()" matTooltip="Save Course">
      <i class="material-icons check" *ngIf="CodeCompleted.value">check</i>
      </button>

      <mat-form-field class="example-chip-list">
        <mat-label *ngIf="info.CodeCompleted.length == 0">Completed Course</mat-label>
        <mat-label>{{info.CodeCompleted}}</mat-label>
        <!-- <mat-select placeholder="Choose completed course" #codeInput [formControl]="CodeCompleted" >
          <mat-option *ngFor="let code of CodeCompleted.value" 
          (removed)="onRemoved(code)" [removable]="true">
            {{code}}
          </mat-option>

            <mat-option *ngFor="let code of FilteredCodes" [value]="code" >
              {{code}}
            </mat-option>
       
      </mat-select> -->
      <input matInput type="text" maxlength="8" [formControl]="CodeCompleted"> 
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode1()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
      <mat-hint align="start" >Format: ABC101H1</mat-hint>
      <mat-hint align="end" >{{ (CodeCompletedLength | async) }} / 8</mat-hint>

      </mat-form-field>
    
    </div>
<!-- 2 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodeCompleted2.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted2.value" (click)="save2()" matTooltip="Save Course">
      <i class="material-icons check" *ngIf="CodeCompleted2.value">check</i>
</button>

      <mat-form-field class="example-chip-list">
        <mat-label *ngIf="!info.CodeCompleted2">Completed Course</mat-label>
        <mat-label>{{info.CodeCompleted2}}</mat-label>
        <!-- <mat-select placeholder="Choose completed course 2" #codeInput [formControl]="CodeCompleted2" >

          <mat-option *ngFor="let code of CodeCompleted.value" 
          (removed)="onRemoved(code)" >
            {{code}}
          </mat-option>
        
            <mat-option *ngFor="let code of FilteredCodes" [value]="code">
              {{code}}
            </mat-option>
       -->
      <!-- </mat-select> -->
      <input matInput maxlength="8" [formControl]="CodeCompleted2"> 
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode2()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
      </mat-form-field>
    </div>
<!-- 3 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodeCompleted3.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted3.value" (click)="save3()" matTooltip="Save Course">
      <i class="material-icons check" *ngIf="CodeCompleted3.value">check</i>
</button>

      <mat-form-field class="example-chip-list">
        <mat-label *ngIf="!info.CodeCompleted3">Completed Course</mat-label>

        <mat-label>{{info.CodeCompleted3}}</mat-label>
        <!-- <mat-select placeholder="Choose completed course 3"  #codeInput  [formControl]="CodeCompleted3" >

          <mat-option *ngFor="let code of CodeCompleted.value" 
          (removed)="onRemoved(code)" [removable]="true">
            {{code}}
           
          </mat-option>
        
            <mat-option *ngFor="let code of FilteredCodes" [value]="code">
              {{code}}
            </mat-option>
      
      </mat-select> -->
      <input matInput maxlength="8" [formControl]="CodeCompleted3"> 
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode3()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
      </mat-form-field>
    </div>
<!-- 4 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodeCompleted4.value">check</i>
  <button mat-icon-button type="button" *ngIf="CodeCompleted4.value" (click)="save4()" matTooltip="Save Course">
      <i class="material-icons check" *ngIf="CodeCompleted4.value">check</i>
</button>

      <mat-form-field class="example-chip-list">
        <mat-label *ngIf="!info.CodeCompleted4">Completed Course</mat-label>

        <mat-label>{{info.CodeCompleted4}}</mat-label>
        <!-- <mat-select placeholder="Choose completed course 4"  #codeInput  [formControl]="CodeCompleted4" >

          <mat-option *ngFor="let code of CodeCompleted.value" 
          (removed)="onRemoved(code)" [removable]="true">
            {{code}}
       
          </mat-option>
        
            <mat-option *ngFor="let code of FilteredCodes" [value]="code">
              {{code}}
            </mat-option>
      
      </mat-select> -->
      <input matInput maxlength="8" [formControl]="CodeCompleted4"> 
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode4()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
      </mat-form-field>
    </div>

<!-- 5 -->
<div class="input" >
<i class="material-icons _icon" *ngIf="!CodeCompleted5.value">check</i>
<button mat-icon-button type="button" *ngIf="CodeCompleted5.value" (click)="save5()" matTooltip="Save Course">
<i class="material-icons check" *ngIf="CodeCompleted5.value">check</i>
</button>

<mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodeCompleted5">Completed Course</mat-label>
<mat-label>{{info.CodeCompleted5}}</mat-label>
<!-- <mat-select placeholder="Choose completed course 5" #codeInput [formControl]="CodeCompleted5" >

<mat-option *ngFor="let code of CodeCompleted.value" 
(removed)="onRemoved(code)" [removable]="true">
{{code}}

</mat-option>

<mat-option *ngFor="let code of FilteredCodes" [value]="code">
  {{code}}
</mat-option>

</mat-select> -->
<input matInput maxlength="8" [formControl]="CodeCompleted5"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearCode5()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>

</div>






 <!-- done button -->
 <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Done</button>
  <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
    (click)="onSubmit()" [disabled]="CodeCompleted.value && CodeCompleted2.value &&
    CodeCompleted3.value && CodeCompleted4.value && CodeCompleted5.value">
    Save
  </button> -->
</div>

  </mat-tab>
</mat-tab-group>