<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab  label="Next Courses Fall" class="courses">
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>

      <!-- 1 -->
  <div *ngFor="let info of infos">

      <div class="input">
        <i class="material-icons _icon" *ngIf="!CodePursuing.value">checklist</i>
        <button mat-icon-button type="button" *ngIf="CodePursuing.value" (click)="save()" matTooltip="Save Course">
        <i class="material-icons check" *ngIf="CodePursuing.value">checklist</i>
</button>
        <mat-form-field class="example-chip-list">
      <mat-label *ngIf="!info.CodePursuing">Next Course</mat-label>
          <mat-label>{{info.CodePursuing}}</mat-label>

          <!-- <mat-select placeholder="Choose next course" #codeInputP  [formControl]="CodePursuing" >
            <mat-option *ngFor="let codeP of CodePursuing.value" 
            (removed)="removeP(codeP)">
            {{codeP}}
          </mat-option>
        
    
            <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
              {{codeP}}
            </mat-option>



        </mat-select> -->
        <input matInput type="text" maxlength="8" [formControl]="CodePursuing"> 
        <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext()">
          <mat-icon class="asthetic-adds">close</mat-icon>
        </button>
        <mat-hint align="start" >Format: ABC101H1</mat-hint>
        <mat-hint align="end" >{{ (CodePursuingLength | async) }} / 8</mat-hint>
        </mat-form-field>
      </div>
<!-- 2 -->
<div class="input" >
<i class="material-icons _icon" *ngIf="!CodePursuing2.value">checklist</i>
<button mat-icon-button type="button" *ngIf="CodePursuing2.value" (click)="save2()" matTooltip="Save Course">
<i class="material-icons check" *ngIf="CodePursuing2.value">checklist</i>
</button>

<mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing2">Next Course</mat-label>
<mat-label>{{info.CodePursuing2}}</mat-label>

<!-- <mat-select placeholder="Choose next course 2" #codeInputP [formControl]="CodePursuing2" >

<mat-option *ngFor="let codeP of CodePursuing2.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select> -->
<input matInput type="text" maxlength="8" [formControl]="CodePursuing2"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext2()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>
<!-- 3 -->
<div class="input" >
<i class="material-icons _icon" *ngIf="!CodePursuing3.value">checklist</i>
<button mat-icon-button type="button" *ngIf="CodePursuing3.value" (click)="save3()" matTooltip="Save Course">
<i class="material-icons check" *ngIf="CodePursuing3.value">checklist</i>
</button>

<mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing3">Next Course</mat-label>
<mat-label>{{info.CodePursuing3}}</mat-label>

<!-- <mat-select placeholder="Choose next course 3" #codeInputP [formControl]="CodePursuing3" >

<mat-option *ngFor="let codeP of CodePursuing3.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select> -->
<input matInput type="text" maxlength="8" [formControl]="CodePursuing3"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext3()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>
<!-- 4 -->
<div class="input" >
<i class="material-icons _icon" *ngIf="!CodePursuing4.value">checklist</i>
<button mat-icon-button type="button" *ngIf="CodePursuing4.value" (click)="save4()" matTooltip="Save Course">
<i class="material-icons check" *ngIf="CodePursuing4.value">checklist</i>
</button>

<mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing4">Next Course</mat-label>
<mat-label>{{info.CodePursuing4}}</mat-label>

<!-- <mat-select placeholder="Choose next course 4" #codeInputP [formControl]="CodePursuing4" >

<mat-option *ngFor="let codeP of CodePursuing4.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select> -->
<input matInput type="text" maxlength="8" [formControl]="CodePursuing4"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext4()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>

<!-- 5 -->
<div class="input" >
  <i class="material-icons _icon" *ngIf="!CodePursuing5.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing5.value" (click)="save5()" matTooltip="Save Course">
  <i class="material-icons check" *ngIf="CodePursuing5.value">checklist</i>
</button>

  <mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing5">Next Course</mat-label>
    <mat-label>{{info.CodePursuing5}}</mat-label>

    <!-- <mat-select placeholder="Choose next course 5" #codeInputP [formControl]="CodePursuing5" >

      <mat-option *ngFor="let codeP of CodePursuing5.value" 
        (removed)="removeP(codeP)">
        {{codeP}}
      </mat-option>
    

        <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
          {{codeP}}
        </mat-option>
  </mat-select> -->
  <input matInput type="text" maxlength="8" [formControl]="CodePursuing5"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext5()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
  </mat-form-field>
</div>


<!-- done button -->
<div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Done</button>

  <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
    (click)="onSubmit()" [disabled]="!CodePursuing.value && !CodePursuing2.value &&
    !CodePursuing3.value && !CodePursuing4.value && !CodePursuing5.value">
    Save
  </button> -->
</div>
</div>
</mat-tab>
  </mat-tab-group>