<!-- <form enctype="multipart/form-data"  > -->
  
  <mat-tab-group  mat-align-tabs="center" *ngFor="let info of infos">
     <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          account_circle
          </span></mat-icon>
        <div >Personal</div>
      </ng-template>
      <div class="entire-page">

        <div class="middle">


          <div class="personalizeLarge">
            <div class="centerR">
              <div class="pics">
                <!-- Profile Pic is currently filled with pic being used rn -->
                <div>
                  <div class="centerD">
                    <div class="text">Change Profile Picture</div>
                    <button mat-icon-button matTooltip="Clear Image" class="trash" (click)="clearProfilePic()" *ngIf="profilePic.value">
                      <i class="far fa-times-circle"></i>
                    </button>
                  </div>


                  <div class="rowP_">
                    <button mat-fab (click)="uploadFileP()">
                      <div class="material-icons Photo">
                        add_a_photo
                      </div>
                    </button>
                    <input #fileInputP id="fileInputP" class="hide" accept=".png, .jpg, .jpeg .JPG" type="file"
                      (change)="imagePreviewPP($event)"  [formControl]="profilePic"
                      name="profilePic">
                  </div>
          <div class="doneShowCase">
                  <button mat-raised-button color="primary" *ngIf="profilePic.value" type="button" class="button"
                  (click)="savePic()">
               Upload
                </button>
                </div>
                </div>
                <!-- <div class="cropper">
                  <image-cropper [imageChangedEvent]="imgChangeEvent" [maintainAspectRatio]="true"
                    [aspectRatio]=" 7 / 7" [resizeToWidth]="170" format="png" (imageCropped)="cropImg($event)"
                    (imageLoaded)="imgLoad()" (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()"
                    [ngClass]="profilePic.value ? 'show' : 'hide' ">
                  </image-cropper>
                </div> -->

              </div>
            </div>



            <div class="personalizeLarge" [ngClass]="profilePic.value ? 'show_' : 'hide' ">
              <div class="rowP">
                <i class="material-icons-outlined _icon2">  arrow_right_alt</i>
              </div>
            </div>

            <div class="personalizeLarge" [ngClass]="profilePic.value ? 'show_' : 'hide' ">
              <div class="PreviewPic">
                <h2 class="Preview">Image Preview</h2>
                <div class="center">
                  <!-- save this value for the form control -->
                  <img class="previewPic" id="ProfilePic" [src]="urlPP" />
                </div>
              </div>
            </div>

           </div>





          <div class="input">
            <i class="material-icons _icon" *ngIf="!name.value">badge</i>
  <button mat-icon-button type="button" *ngIf="name.value" (click)="saveName()" matTooltip="Save Name">
            <i class="material-icons check" *ngIf="name.value">badge</i>
</button>

            <mat-form-field>
              <mat-label *ngIf="info.name">{{info.name}}</mat-label>
              <mat-label *ngIf="!info.name">Full name</mat-label>

              <input matInput  maxlength="60" 
               [formControl]="name" type="text" placeholder="Full name" class="inputText"/>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearName()">
                <mat-icon class="asthetic-adds">close</mat-icon>
              </button>
              
            </mat-form-field>
          </div>

            <div class="input">
              <!-- Birthday picker -->
              <i class="material-icons _icon" *ngIf="!birthday.value">cake</i>
  <button mat-icon-button type="button" *ngIf="birthday.value" (click)="saveBirthday()" matTooltip="Save Birthday">
              <i class="material-icons check"  *ngIf="birthday.value">cake</i>
</button>
              <mat-form-field >
                <mat-label *ngIf="info.birthday">{{info.birthday|date:"longDate"}}</mat-label>
              <mat-label *ngIf="!info.birthday">When's your birthday?</mat-label>

                <input matInput [matDatepicker]="dp" [formControl]="birthday">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>

            </div>
          



           <!-- Gender -->
      <div class="gender">
        <i class="material-icons _icon" *ngIf="!gender.value">transgender</i>
        <button mat-icon-button type="button" *ngIf="gender.value" (click)="saveGender()" matTooltip="Save Gender">
                    <i class="material-icons check"  *ngIf="gender.value">transgender</i>
      </button>
        <mat-form-field class="smaller" >
          <mat-label *ngIf="info.gender">{{info.gender}}</mat-label>
          <mat-label *ngIf="!info.gender">Gender</mat-label>

          <input matInput type='text' [formControl]="gender" [matAutocomplete]="auto_">
          <mat-autocomplete #auto_="matAutocomplete">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Pronouns -->
          <div class="gender">
            <i class="material-icons _icon" *ngIf="!pronoun.value">psychology</i>
            <button mat-icon-button type="button" *ngIf="pronoun.value" (click)="savePronoun()" matTooltip="Save Pronouns">
                        <i class="material-icons check"  *ngIf="pronoun.value">psychology</i>
          </button>
      <mat-form-field  class="smaller">
        <mat-label *ngIf="info.pronouns">{{info.pronouns}}</mat-label>
        <mat-label *ngIf="!info.pronouns">Prefered Pronouns</mat-label>

        <input matInput type='text' [formControl]="pronoun" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let pronoun of pronouns" [value]="pronoun">
            {{pronoun}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
          </div>
         
      <!-- Bio -->
  
          <div class="input">
            <i class="fas fa-heart  _icon" *ngIf="!bio.value"></i>
  <button mat-icon-button type="button" *ngIf="bio.value" (click)="saveBio()" matTooltip="Save Bio">
            <i class="fas fa-heart  check" *ngIf="bio.value"></i>
</button>

            <mat-form-field>
              <mat-label *ngIf="info.bio">{{info.bio}}</mat-label>
              <mat-label *ngIf="!info.bio">Bio</mat-label>

            <input matInput   
               [formControl]="bio" type="text" placeholder="Bio" class="inputText"/>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearBio()">
                <mat-icon class="asthetic-adds">close</mat-icon>
              </button>
   
                <mat-menu #emojiIconBio="matMenu" class="emoji-menu">
                  <emoji-picker class="light" (emoji-click)="addEmojiBio($event)" (click)="emojiPreventCloseBio($event);"></emoji-picker>
                </mat-menu>
                <button mat-icon-button>
                  <mat-icon matSuffix [matMenuTriggerFor]="emojiIconBio" class="emoji">😃
                  </mat-icon>
                </button>
            </mat-form-field>
            
          </div>
          
       
          <!-- Save button -->
          <div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
          </div>


        </div> 
      </div> 
    </mat-tab> 
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon><span class="material-icons-two-tone">
          interests
          </span></mat-icon>
        <div >Academic</div>
      </ng-template>
      <div class="entire-page">

        <div class="groupsjj_box">
        <div class="groups-jj ">

<!-- Text Field Major/Minor -->
<div class="major-layout">
  <div class="input">
    <span class="fas fa-star _icon" *ngIf="!major.value">
    </span>
  <button mat-icon-button type="button" *ngIf="major.value" (click)="saveMajor()" matTooltip="Save Major">
    <span class="fas fa-star check" *ngIf="major.value">
    </span>
    </button>
    <mat-form-field>
<mat-label *ngIf="info.major">{{info.major}}</mat-label>
<mat-label *ngIf="!info.major">Major(s)</mat-label>
      <input class="major" maxlength="50" matInput placeholder="Major" [formControl]="major" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearMajor()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon matSuffix [matMenuTriggerFor]="emojiIconMajor" class="emoji">😃
      </mat-icon>
    </button>
      <mat-menu #emojiIconMajor="matMenu" class="emoji-menu">
        <emoji-picker class="light" (emoji-click)="addEmojiMajor($event)" (click)="emojiPreventCloseMajor($event);"></emoji-picker>
      </mat-menu>
  </div>

  <div class="input">
    <span class="fas fa-star-half-alt _icon" *ngIf="!minor.value">
    </span>
  <button mat-icon-button type="button" *ngIf="minor.value" (click)="saveMinor()" matTooltip="Save Minor">
    <span class="fas fa-star-half-alt check" *ngIf="minor.value">
    </span>
    </button>
    <mat-form-field>
<mat-label *ngIf="info.minor">{{info.minor}}</mat-label>
<mat-label *ngIf="!info.minor">Minor(s)</mat-label>
      <input class="major" maxlength="50" matInput placeholder="Minor" [formControl]="minor" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearMinor()">
        <mat-icon class="asthetic-adds">close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon matSuffix [matMenuTriggerFor]="emojiIconMinor" class="emoji">😃
      </mat-icon>
    </button>
      <mat-menu #emojiIconMinor="matMenu" class="emoji-menu">
        <emoji-picker class="light" (emoji-click)="addEmojiMinor($event)" (click)="emojiPreventCloseMinor($event);"></emoji-picker>
      </mat-menu>
  </div>
</div>

<!-- Text Field Sport/Club -->
<div class="input">
  <span class="fas fa-running _icon" *ngIf="!sport.value">
  </span>
  <button mat-icon-button type="button" *ngIf="sport.value" (click)="saveSport()" matTooltip="Save Sport">
  <span class="fas fa-running check" *ngIf="sport.value">
  </span>
  </button>
  <mat-form-field>
<mat-label *ngIf="info.sport">{{info.sport}}</mat-label>
<mat-label *ngIf="!info.sport">Do you play a sport?</mat-label>
    <input matInput  placeholder="Do you play a sport?" [formControl]="sport" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearSport()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>

  </mat-form-field>
  <button mat-icon-button>
    <mat-icon matSuffix [matMenuTriggerFor]="emojiIconSport" class="emoji">😃
    </mat-icon>
  </button>
    <mat-menu #emojiIconSport="matMenu" class="emoji-menu">
      <emoji-picker class="light" (emoji-click)="addEmojiSport($event)" (click)="emojiPreventCloseSport($event);"></emoji-picker>
    </mat-menu>
</div>
<div class="input">
  <span class="fas fa-user-friends _icon" *ngIf="!club.value">
  </span>
  <button mat-icon-button type="button" *ngIf="club.value" (click)="saveClub()" matTooltip="Save Club">
  <span class="fas fa-user-friends check" *ngIf="club.value">
  </span>
  </button>
  <mat-form-field>
<mat-label *ngIf="info.club">{{info.club}}</mat-label>
<mat-label *ngIf="!info.club">Are you apart of a club?</mat-label>
    <input class="major"  matInput placeholder="Are you apart of a club?" [formControl]="club" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" matTooltip="Clear" (click)="clearClub()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>

  </mat-form-field>
  <button mat-icon-button>
    <mat-icon matSuffix [matMenuTriggerFor]="emojiIconClub" class="emoji">😃
    </mat-icon>
  </button>
    <mat-menu #emojiIconClub="matMenu" class="emoji-menu">
      <emoji-picker class="light" (emoji-click)="addEmojiClub($event)" (click)="emojiPreventCloseClub($event);"></emoji-picker>
    </mat-menu>
</div>
       

        

          <!-- done button -->
          <div class="done">
            <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>
                    </div>
      </div>
      </div>
</div>

    </mat-tab>

<mat-tab >
  <ng-template mat-tab-label>
    <mat-icon><span class="material-icons-two-tone">
      photo_library
      </span></mat-icon>
    <div >Showcase</div>
  </ng-template>
 <!-- Image Preview -->
 <div class="rowShow">
  <!-- <div class="column"> -->
  <div *ngIf="clicked === false">
    <div class="row">
      <div class="snapshot">Add Showcase</div>
      <button mat-icon-button  matTooltip="Clear Image" [ngClass]="showCase.value ? 'show' : 'hide' " color="primary"
        (click)="clearPic1()">
        <i class="far fa-times-circle"></i>
      </button>
    </div>

    <div class="rowP_">
      <button class="cameraIcon" mat-fab  (click)="uploadFile()">
        <div class="material-icons Photo">
          add_a_photo

          <input #fileInput id="showCase" class="uploadD" accept=".png, .jpg, .jpeg" type="file"
            (change)="imagePreview($event)"  [formControl]="showCase" name="showCase"  class="hide"
            >
           
        </div>
      </button>
    </div>
  </div>




  <div class="imageBox" [ngClass]="showCase.value ? 'show' : 'hide' ">
    <img [src]="url" id="firstP" class="imagePreview" [ngClass]="showCase.value ? 'show' : 'hide' ">
  </div>

  <div class="doneShowCase">
    <button mat-raised-button color="primary" [disabled]="!showCase.value" type="submit" routerLink="/profile" class="button"
      (click)="onSubmitShowCase()">
   Update
    </button>
  </div>
</div>


</mat-tab>


  </mat-tab-group>


<!-- </form> -->