<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab  label="Next Courses Fall" class="courses">
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>

      <!-- 1 -->
  <div *ngFor="let info of infos">

      <div class="input">
        <i class="material-icons _icon" *ngIf="!CodePursuing.value">checklist</i>
        <i class="material-icons check" *ngIf="CodePursuing.value">checklist</i>

        <mat-form-field class="example-chip-list">
          <mat-label>{{info.CodePursuing}}</mat-label>

          <mat-select placeholder="Choose pursuing course" #codeInputP  [formControl]="CodePursuing" >
            <mat-option *ngFor="let codeP of CodePursuing.value" 
            (removed)="removeP(codeP)">
            {{codeP}}
          </mat-option>
        
    
            <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
              {{codeP}}
            </mat-option>



        </mat-select>

        </mat-form-field>
      </div>
<!-- 2 -->
<div class="input" *ngIf="info.CodePursuing || CodePursuing.value">
<i class="material-icons _icon" *ngIf="!CodePursuing2.value">checklist</i>
<i class="material-icons check" *ngIf="CodePursuing2.value">checklist</i>

<mat-form-field class="example-chip-list">
<mat-label>{{info.CodePursuing2}}</mat-label>

<mat-select placeholder="Choose pursuing course 2" #codeInputP [formControl]="CodePursuing2" >

<mat-option *ngFor="let codeP of CodePursuing2.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select>

</mat-form-field>
</div>
<!-- 3 -->
<div class="input" *ngIf="info.CodePursuing2 || CodePursuing2.value">
<i class="material-icons _icon" *ngIf="!CodePursuing3.value">checklist</i>
<i class="material-icons check" *ngIf="CodePursuing3.value">checklist</i>

<mat-form-field class="example-chip-list">
<mat-label>{{info.CodePursuing3}}</mat-label>

<mat-select placeholder="Choose pursuing course 3" #codeInputP [formControl]="CodePursuing3" >

<mat-option *ngFor="let codeP of CodePursuing3.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select>

</mat-form-field>
</div>
<!-- 4 -->
<div class="input" *ngIf="info.CodePursuing3 || CodePursuing3.value">
<i class="material-icons _icon" *ngIf="!CodePursuing4.value">checklist</i>
<i class="material-icons check" *ngIf="CodePursuing4.value">checklist</i>

<mat-form-field class="example-chip-list">
<mat-label>{{info.CodePursuing4}}</mat-label>

<mat-select placeholder="Choose pursuing course 4" #codeInputP [formControl]="CodePursuing4" >

<mat-option *ngFor="let codeP of CodePursuing4.value" 
  (removed)="removeP(codeP)">
  {{codeP}}
</mat-option>


  <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
    {{codeP}}
  </mat-option>
</mat-select>

</mat-form-field>
</div>

<!-- 5 -->
<div class="input" *ngIf="info.CodePursuing4 || CodePursuing4.value">
  <i class="material-icons _icon" *ngIf="!CodePursuing5.value">checklist</i>
  <i class="material-icons check" *ngIf="CodePursuing5.value">checklist</i>

  <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodePursuing5}}</mat-label>

    <mat-select placeholder="Choose pursuing course 5" #codeInputP [formControl]="CodePursuing5" >

      <mat-option *ngFor="let codeP of CodePursuing5.value" 
        (removed)="removeP(codeP)">
        {{codeP}}
      </mat-option>
    

        <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
          {{codeP}}
        </mat-option>
  </mat-select>

  </mat-form-field>
</div>


<!-- done button -->
<div class="done">
  <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
    (click)="onSubmit()" >
    Save
  </button>
</div>
</div>
</mat-tab>
  </mat-tab-group>