<!-- 21 -->
<mat-tab-group mat-align-tabs="center">
<mat-tab label="Completed Courses Third Year Fall" class="courses" >
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>
<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted21}}</mat-label>
    
    <mat-select placeholder="Choose completed course 21" #codeInput [formControl]="CodeCompleted21" >
    
    <mat-option *ngFor="let code of CodeCompleted21.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    </mat-select>
    </mat-form-field>
    </div>
    <!-- 22 -->
    <div class="input" *ngIf="info.CodeCompleted21 || CodeCompleted21.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted22}}</mat-label>
    
    <mat-select placeholder="Choose completed course 22" #codeInput [formControl]="CodeCompleted22" >
    
    <mat-option *ngFor="let code of CodeCompleted22.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    <!-- 23 -->
    <div class="input" *ngIf="info.CodeCompleted22 || CodeCompleted22.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted23}}</mat-label>
    
    <mat-select placeholder="Choose completed course 23" #codeInput [formControl]="CodeCompleted23" >
    
    <mat-option *ngFor="let code of CodeCompleted23.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    <!-- 24 -->
    <div class="input" *ngIf="info.CodeCompleted23 || CodeCompleted23.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted24}}</mat-label>
    
    <mat-select placeholder="Choose completed course 24" #codeInput [formControl]="CodeCompleted24" >
    
    <mat-option *ngFor="let code of CodeCompleted24.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    <!-- 25 -->
    <div class="input" *ngIf="info.CodeCompleted24 || CodeCompleted24.value">
    <i class="material-icons _icon">check</i>
    
    <mat-form-field class="example-chip-list">
    <mat-label>{{info.CodeCompleted25}}</mat-label>
    
    <mat-select placeholder="Choose completed course 25" #codeInput [formControl]="CodeCompleted25" >
    
    <mat-option *ngFor="let code of CodeCompleted25.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select>
    </mat-form-field>
    </div>
    
    
    <!-- done button -->
 <div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
</div>
</mat-tab>
</mat-tab-group>