<!-- 11 -->
<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab  label="Next Courses Summer" class="courses">
  <div class="centerTitle">Summer Semester <div class="fas fa-sun" style="color: #d89163;"></div> </div>

      <!-- 1 -->
  <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing13.value">checklist</i>
  <i class="material-icons check" *ngIf="CodePursuing13.value">checklist</i>
    
    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="info.CodePursuing13.length == 0">Next Course</mat-label>
    <mat-label>{{info.CodePursuing13}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course" #codeInputP [formControl]="CodePursuing13" >
    <mat-option *ngFor="let codeP of CodePursuing13.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing13"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext13()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    <mat-hint align="start" >Format: ABC101H1</mat-hint>
    <mat-hint align="end" >{{ (CodePursuing13Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 12 -->
    <div class="input" *ngIf="info.CodePursuing13 || CodePursuing13.value">
    <i class="material-icons _icon" *ngIf="!CodePursuing14.value">checklist</i>
  <i class="material-icons check" *ngIf="CodePursuing14.value">checklist</i>
    
    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="info.CodePursuing14.length == 0">Next Course</mat-label>
    <mat-label>{{info.CodePursuing14}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 2" #codeInputP [formControl]="CodePursuing14" >
    
    <mat-option *ngFor="let codeP of CodePursuing14.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing14"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext14()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- done button -->
<div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
  </div>
  </mat-tab>
    </mat-tab-group>