<!-- 6 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Completed Courses First Year Winter" class="courses" >
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>

      <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted6.value">check</i>
<i class="material-icons check" *ngIf="CodeCompleted6.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted6.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted6}}</mat-label>
    <!-- <mat-select placeholder="Choose completed course 6" #codeInput [formControl]="CodeCompleted6" >
    
    <mat-option *ngFor="let code of CodeCompleted6.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted6"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode6()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted6Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    
    
    <!-- 7 -->
    <div class="input" *ngIf="info.CodeCompleted6 || CodeCompleted6.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted7.value">check</i>
<i class="material-icons check" *ngIf="CodeCompleted7.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted7.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted7}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 7" #codeInput [formControl]="CodeCompleted7" >
    
    <mat-option *ngFor="let code of CodeCompleted7.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code" >
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted7"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode7()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    
    <!-- 8 -->
    <div class="input" *ngIf="info.CodeCompleted7 || CodeCompleted7.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted8.value">check</i>
<i class="material-icons check" *ngIf="CodeCompleted8.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted8.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted8}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 8" #codeInput [formControl]="CodeCompleted8" >
    
    <mat-option *ngFor="let code of CodeCompleted8.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code" >
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted8"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode8()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 9 -->
    <div class="input" *ngIf="info.CodeCompleted8 || CodeCompleted8.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted9.value">check</i>
<i class="material-icons check" *ngIf="CodeCompleted9.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted9.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted9}}</mat-label>
<!--     
    <mat-select placeholder="Choose completed course 9" #codeInput [formControl]="CodeCompleted9" >
    
    <mat-option *ngFor="let code of CodeCompleted9.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted9"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode9()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 10 -->
    <div class="input" *ngIf="info.CodeCompleted9 || CodeCompleted9.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted10.value">check</i>
<i class="material-icons check" *ngIf="CodeCompleted10.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted10.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted10}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 10" #codeInput [formControl]="CodeCompleted10" >
    
    <mat-option *ngFor="let code of CodeCompleted10.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
      {{code}}
    </mat-option>
</mat-select> -->
<input matInput maxlength="8" [formControl]="CodeCompleted10"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode10()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
</mat-form-field>
</div>
</div>


 <!-- done button -->
 <div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>

</mat-tab>
</mat-tab-group>
