<!-- 6 -->
<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab class="courses">
  <ng-template mat-tab-label>
    <mat-icon><span class="material-icons-two-tone">
      calendar_month
      </span></mat-icon>
    <div >Next Courses Winter</div>
  </ng-template>
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>
      <!-- 1 -->
  <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing6.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing6.value" (click)="save6()" matTooltip="Save Course">
 <i class="material-icons check">checklist</i>
 </button>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="!info.CodePursuing6">Next Course</mat-label>
    <mat-label>{{info.CodePursuing6}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 1" #codeInputP [formControl]="CodePursuing6" >
    
    <mat-option *ngFor="let codeP of CodePursuing6.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing6"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext6()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>

    <mat-hint align="start" >Format: ABC101H1</mat-hint>
    <mat-hint align="end" >{{ (CodePursuing6Length | async) }} / 8</mat-hint>
    </mat-form-field>


    </div>
    <!-- 7 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing7.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing7.value" (click)="save7()" matTooltip="Save Course">
  <i class="material-icons check" *ngIf="CodePursuing7.value">checklist</i>
    </button>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="!info.CodePursuing7">Next Course</mat-label>
    <mat-label>{{info.CodePursuing7}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 2" #codeInputP [formControl]="CodePursuing7" >
    
      <mat-option *ngFor="let codeP of CodePursuing7.value" 
        (removed)="removeP(codeP)">
        {{codeP}}
      </mat-option>
    
    
        <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
          {{codeP}}
        </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing7"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext7()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- 8 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing8.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing8.value" (click)="save8()" matTooltip="Save edit">
  <i class="material-icons check" *ngIf="CodePursuing8.value">checklist</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="!info.CodePursuing8">Next Course</mat-label>
    <mat-label>{{info.CodePursuing8}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 3" #codeInputP [formControl]="CodePursuing8" >
    
    <mat-option *ngFor="let codeP of CodePursuing8.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing8"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext8()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    <!-- 9 -->
    <div class="input" >
      <i class="material-icons _icon" *ngIf="!CodePursuing9.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing9.value" (click)="save9()" matTooltip="Save edit">
  <i class="material-icons check" *ngIf="CodePursuing9.value">checklist</i>
    </button>
      <mat-form-field class="example-chip-list">
        <mat-label *ngIf="!info.CodePursuing9">Next Course</mat-label>
        <mat-label>{{info.CodePursuing9}}</mat-label>
    
        <!-- <mat-select placeholder="Choose next course 4" #codeInputP [formControl]="CodePursuing9" >
    
          <mat-option *ngFor="let codeP of CodePursuing9.value" 
            (removed)="removeP(codeP)">
            {{codeP}}
          </mat-option>
        
    
            <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
              {{codeP}}
            </mat-option>
      </mat-select> -->
      <input matInput type="text" maxlength="8" [formControl]="CodePursuing9"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext9()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
      </mat-form-field>
    </div>
    <!-- 10 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing10.value">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing10.value" (click)="save10()" matTooltip="Save edit">
  <i class="material-icons check" *ngIf="CodePursuing10.value">checklist</i>
    </button>
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="!info.CodePursuing10">Next Course</mat-label>
    <mat-label>{{info.CodePursuing10}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 5" #codeInputP [formControl]="CodePursuing10" >
    
    <mat-option *ngFor="let codeP of CodePursuing10.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing10"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext10()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>

    <!-- done button -->
<div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Done</button>
    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodePursuing6.value && !CodePursuing7.value &&
      !CodePursuing8.value && !CodePursuing9.value && !CodePursuing10.value">
      Save All
    </button> -->
  </div>
  </div>
  </mat-tab>
    </mat-tab-group>