<!-- 31 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Completed Courses Fourth Year Fall" class="courses" >
  <div class="centerTitle">Fall Semester <div class="fas fa-leaf" style="color: saddlebrown;"></div> </div>

<div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted31.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted31.value">check</i>

    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted31.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted31}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 31" #codeInput [formControl]="CodeCompleted31" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted31"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode31()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted31Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 32 -->
    <div class="input" *ngIf="info.CodeCompleted31 || CodeCompleted31.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted32.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted32.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted32.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted32}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 32" #codeInput [formControl]="CodeCompleted32" > -->
<!--     
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted32"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode32()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- 33 -->
    <div class="input" *ngIf="info.CodeCompleted32 || CodeCompleted32.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted33.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted33.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted33.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted33}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 33" #codeInput [formControl]="CodeCompleted33" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted33"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode33()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- 34 -->
    <div class="input" *ngIf="info.CodeCompleted33 || CodeCompleted33.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted34.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted34.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted34.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted34}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 34" #codeInput [formControl]="CodeCompleted34" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted34"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode34()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    <!-- 35 -->
    <div class="input" *ngIf="info.CodeCompleted34 || CodeCompleted34.value">
    <i class="material-icons _icon" *ngIf="!CodeCompleted35.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted35.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted35.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted35}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 35" #codeInput [formControl]="CodeCompleted35" >
    
    <mat-option *ngFor="let code of CodeCompleted31.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    <mat-icon matChipRemove >cancel</mat-icon>
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted35"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode35()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    
    
    
    <!-- done button -->
 <div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
</div>
</mat-tab>
</mat-tab-group>