<!-- 11 -->
<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab  label="Next Courses Spring" class="courses">
  <div class="centerTitle">Spring Semester <div class="fas fa-seedling" style="color: cadetblue;"></div> </div>

      <!-- 1 -->
  <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodePursuing11.value">checklist</i>
  <i class="material-icons check" *ngIf="CodePursuing11.value">checklist</i>
    
    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="info.CodePursuing11.length == 0">Next Course</mat-label>
    <mat-label>{{info.CodePursuing11}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 1" #codeInputP [formControl]="CodePursuing11" >
    
    <mat-option *ngFor="let codeP of CodePursuing11.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing11"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearNext11()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    <mat-hint align="start" >Format: ABC101H1</mat-hint>
    <mat-hint align="end" >{{ (CodePursuing11Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 12 -->
    <div class="input" *ngIf="info.CodePursuing11 || CodePursuing11.value">
    <i class="material-icons _icon" *ngIf="!CodePursuing12.value">checklist</i>
  <i class="material-icons check" *ngIf="CodePursuing12.value">checklist</i>
    
    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="info.CodePursuing12.length == 0">Next Course</mat-label>
    <mat-label>{{info.CodePursuing12}}</mat-label>
    
    <mat-select placeholder="Choose next course 1" #codeInputP [formControl]="CodePursuing12" >
    
    <mat-option *ngFor="let codeP of CodePursuing12.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select>
    
    </mat-form-field>
    </div>
  <!-- done button -->
<div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>
  </div>
  </mat-tab>
    </mat-tab-group>