<!-- 11 -->
<mat-tab-group mat-align-tabs="center" class="c_r_">
    <!-- Completed Course -->
    
    <!-- Pursuing Courses -->
<mat-tab class="courses" disabled>
  <ng-template mat-tab-label>
    <mat-icon><span class="material-icons-two-tone">
      calendar_month
      </span></mat-icon>
    <div >Next Courses Summer</div>
  </ng-template>
  <div class="centerTitle">Summer Semester <div class="fas fa-sun" style="color: #d89163;"></div> </div>

      <!-- 1 -->
  <div >
<div class="input" >
    <i class="material-icons _icon" *ngIf="CodePursuing13.value?.length < 8">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing13.value?.length == 8" (click)="save13()" matTooltip="Save Course">
  <i class="material-icons check" >checklist</i>
    </button>
    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing13">Next Course</mat-label>
    <mat-label>{{info.CodePursuing13}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course" #codeInputP [formControl]="CodePursuing13" >
    <mat-option *ngFor="let codeP of CodePursuing13.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing13"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext13()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    <mat-hint align="start" >Format: ABC101H1</mat-hint>
    <mat-hint align="end" >{{ (CodePursuing13Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    <!-- 12 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="CodePursuing14.value?.length < 8">checklist</i>
  <button mat-icon-button type="button" *ngIf="CodePursuing14.value?.length == 8" (click)="save14()" matTooltip="Save Course">
  <i class="material-icons check" >checklist</i>
    </button>

    <mat-form-field class="example-chip-list">
  <mat-label *ngIf="!info.CodePursuing14">Next Course</mat-label>
    <mat-label>{{info.CodePursuing14}}</mat-label>
    
    <!-- <mat-select placeholder="Choose next course 2" #codeInputP [formControl]="CodePursuing14" >
    
    <mat-option *ngFor="let codeP of CodePursuing14.value" 
      (removed)="removeP(codeP)">
      {{codeP}}
    </mat-option>
    
    
      <mat-option *ngFor="let codeP of FilteredCodesP" [value]="codeP">
        {{codeP}}
      </mat-option>
    </mat-select> -->
    <input matInput type="text" maxlength="8" [formControl]="CodePursuing14"> 
    <button  matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset Value" type="button" (click)="clearNext14()">
      <mat-icon class="asthetic-adds">close</mat-icon>
    </button>
    </mat-form-field>
    </div>
    <!-- done button -->
<div class="done">
  <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button">Go To Profile</button>

    <!-- <button mat-raised-button color="primary"  type="button" routerLink="/profile" class="button"
      (click)="onSubmit()" [disabled]="!CodePursuing13.value && !CodePursuing14.value" >
      Save
    </button> -->
  </div>
  </div>
  </mat-tab>
    </mat-tab-group>