<!-- 26 -->
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Completed Courses Third Year Winter" class="courses" >
  <div class="centerTitle">Winter Semester <div class="fas fa-snowflake" style="color: #88c4f9;"></div> </div>
    <div *ngFor="let info of infos">
<div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted26.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted26.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted26.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted26}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 26" #codeInput [formControl]="CodeCompleted26" >
    
    <mat-option *ngFor="let code of CodeCompleted26.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted26"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode26()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
<mat-hint align="start" >Format: ABC101H1</mat-hint>
<mat-hint align="end" >{{ (CodeCompleted26Length | async) }} / 8</mat-hint>
    </mat-form-field>
    </div>
    
    
    <!-- 27 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted27.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted27.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted27.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted27}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 27" #codeInput [formControl]="CodeCompleted27" >
    
    <mat-option *ngFor="let code of CodeCompleted27.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted27"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode27()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    
    <!-- 28 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted28.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted28.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted28.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted28}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 28" #codeInput [formControl]="CodeCompleted28" >
    
    <mat-option *ngFor="let code of CodeCompleted28.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted28"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode28()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 29 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted29.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted29.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted29.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted29}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 29" #codeInput [formControl]="CodeCompleted29" >
    
    <mat-option *ngFor="let code of CodeCompleted29.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted29"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode29()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
    
    
    <!-- 30 -->
    <div class="input" >
    <i class="material-icons _icon" *ngIf="!CodeCompleted30.value">check</i>
    <i class="material-icons check" *ngIf="CodeCompleted30.value">check</i>
    
    <mat-form-field class="example-chip-list">
      <mat-label *ngIf="info.CodeCompleted30.length == 0">Completed Course</mat-label>
    <mat-label>{{info.CodeCompleted30}}</mat-label>
    
    <!-- <mat-select placeholder="Choose completed course 30" #codeInput [formControl]="CodeCompleted30" >
    
    <mat-option *ngFor="let code of CodeCompleted30.value" 
    (removed)="onRemoved(code)" [removable]="true">
    {{code}}
    
    </mat-option>
    
    <mat-option *ngFor="let code of FilteredCodes" [value]="code">
    {{code}}
    </mat-option>
    
    </mat-select> -->
    <input matInput maxlength="8" [formControl]="CodeCompleted30"> 
<button mat-button matSuffix mat-icon-button aria-label="Clear" matTooltip="Reset value" type="button" (click)="clearCode30()">
  <mat-icon class="asthetic-adds">close</mat-icon>
</button>
    </mat-form-field>
    </div>
</div>
        <!-- done button -->
 <div class="done">
    <button mat-raised-button color="primary"  type="submit" routerLink="/profile" class="button"
      (click)="onSubmit()" >
      Save
    </button>
  </div>

</mat-tab>
</mat-tab-group>