@media(min-width:1024px){
.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}}
@media(max-width:1024px){
  .main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
  }}
.activityM {
  display: flex;
  width: 100%;
  height: 100%;
}
.action-button {
  color: #2699fb;
  display: flex;
  justify-content: center;
}
.bio-name-age {
  display: flex;
}

.bio-box {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.bio-input {
  width: 90%;
  height: 100%;
}
.centerist{
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
    height: 100%;
}
@media(min-width:1024px){
  .center_{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }}
  @media(max-width:1024px){
    .center_{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      align-items: center;
    }}
  .center__{
    display: flex;
    justify-content: center;
    margin: 2% 0%;
  }
  @media(min-width:450px){
.centerR {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
  height: 100%;
  margin-top: 4%;
  text-align: center;
  align-items: center;
}}
@media(max-width:450px){
  .centerR {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: inherit;
    color: #7e7171;
    font-family: "Font Awesome 5 Free";
    height: 100%;
    margin-top: 4%;
    text-align: center;
    align-items: center;
  }}
    .centerGD{
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: inherit;
      color: #7e7171;
      font-family: "Font Awesome 5 Free";
      height: 100%;
      text-align: center;
    }
@media(min-width:450px){
.centerR_ {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
  height: 100%;
}}
@media(max-width:450px){
  .centerR_ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: inherit;
    color: #7e7171;
    font-family: "Font Awesome 5 Free";
    height: 100%;
  }}

.clear-holder {
  border-radius: 10% / 50%;
  opacity: 0.02;
}
.completed-courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.conversations {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
}
@media(min-width:1024px){
  .column{
    margin-right: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 99%;
    padding: 0% 15%;
    height: fit-content;
    box-sizing: border-box;
  }}
@media(max-width:1024px){
.column{
  margin-right: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 99%;
  padding: 0% 15%;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 22%;
}}
@media(min-width:1024px){
  .column1 {
      display: flex;
      justify-content: center;
      color: #7e7171;
      font-family: "Font Awesome 5 Free";
      font-size: large;
      flex-direction: column;
      height: 22%;
      margin-top: 17%;
  }}
  @media(max-width:1024px){
    .column1 {
        display: flex;
        justify-content: center;
        color: #7e7171;
        font-family: "Font Awesome 5 Free";
        font-size: inherit;
        flex-direction: column;
        margin-bottom: 12%;
    }}
@media (min-width: 410px) {
  .convo-text {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
}

.current {
  margin-left: 15%;
}
.fas{
  font-size: large;
}
.fit_{
  display: flex;
  margin: 0% 1%;
  justify-content: center;
  width: 100%;
 
  min-width: fit-content;
}
.fit{
  width:100%;
  height:100%;
}
.friends-format {
  display: flex;
  margin: 3% 9% 1% 5%;
}
.features {
  margin: 2% 5% 0% 5%;
}
.follow {
  margin-right: 3%;
}
.fName{
  display: flex;
  font-size: x-large;
  font-weight: 900;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
}
.gender {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 245);
}
.groups_{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 3%;
  background-color: #ebebf5;
}
.groups {
  width: 50px;
  height: 50px;
}
.groups-j {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
  box-sizing: border-box;
}
.hide-input {
  justify-content: center;
  display: flex;
  margin: 1% 0% 2% 0%;
  flex-direction: column;
  border: hidden;
 
  background-color: rgb(235, 235, 245);
}
.hide_{
  display: none;
}
@media (max-width: 1024px) {
  .hide {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hide {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .hideM{
    display: none;
  }
  }
  // For empty formcontrols
  .hiden{
    display: none;
  }
.Highlights {
  display: flex;
  height: 100%;
}
@media(min-width:1024px){
  .HighlightsM_ {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 2%;
  }}
  @media(max-width:1024px){
    .HighlightsM_ {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-right: 2%;
    }}
@media(min-width:1024px){
.HighlightsM {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 52%;
  margin-right: 2%;
}}
@media(max-width:1024px){
  .HighlightsM {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 2%;
  }}
.highlights-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.img{
  width: inherit;
  height: inherit;
  margin: 2% 0%;
}
.icon{
  color: rgb(173, 211, 236);
}
.large{
  font-size: small;
  padding-right: 1%;
}

@media(min-width:400px){
.left-side {
  display: flex;
  flex-direction: column;
  margin: 1% 0% 2% 1%;
  width: 35%;
  box-sizing: border-box;
  position: relative;
}}
@media(max-width:400px) {
  .left-side {
    display: flex;
    flex-direction: column;
    margin: 1% 0% 8% 1%;
    width: 35%;
    box-sizing: border-box;
    position: relative;
  }}
  .list{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    flex-direction: column;
    font-family: "Font Awesome 5 Free";
  }
mat-grid-list{
  display: flex;
  width: 100%;
}
.major-minor {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 440px) {
  .major-box {
    text-align: center;
    border-radius: 30px;
    margin: 0% 0% 1% 10%;
    color: #0e3379;
    width: 80%;
    height: 70%;
    font-size: 130%;
  }
}
@media (max-width: 440px) {
  .major-box {
    text-align: center;
    border-radius: 30px;
    margin: 0% 0% 1% 5%;
    color: #0e3379;
    width: 90%;
    height: 70%;
  }
}
::ng-deep .mat-tab-body-wrapper {
  display: flex;
  height: 100%;
}

::ng-deep .mat-tab-header{
  font-family: "Font Awesome 5 Free";
}
// scrollable mat group headers
::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container { 
  overflow: visible !important;
}
::ng-deep .mat-tab-label{
color: #7e7171;
font-family: "Font Awesome 5 Free";
font-weight: 900;
}
// Hides scroll bar
::ng-deep .mat-tab-header::-webkit-scrollbar {
  display: none;
}

  mat-tab-group {
    display: flex;
    height: 100%;
  }

.messageM {
  display: flex;
  font-family: "Font Awesome 5 Free";
  background-color: rgb(173, 211, 236);
  color: white;
}
@media(min-width:1024px){
.middle {
  display: flex;
  flex-direction: column;
  margin: 0% 1% 1% 3%;
  width: 69%;
 height: 84vh;
}}
@media(max-width:1024px){
  .middle {
    display: flex;
    flex-direction: column;
    margin: 1% 1% 1% 3%;
    width: 60%;
  height: 79vh;
  }}

  @media(max-height:400px){
    .middle {
      display: flex;
      flex-direction: column;
      margin: 1% 1% 1% 3%;
      width: 60%;
      height: 107vh;
    }}



::ng-deep .mat-chip-list-wrapper{
  margin: 0px !important;
  justify-content: center;
}
.number {
  width: 25%;
  background-color: #ebebf5;
  border: none;
  font-weight: bold;
}
.personal-acc {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  border: ridge;
  box-sizing: border-box;
}
.posts {
  display: flex;
  flex-direction: column;
// height: 100%;
  overflow-y: scroll;
  width:100%;
}
.postCard{
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 1% 0%;
}
.pic {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  height: 100%;
}
.pics{
  display: flex;
  height:100%
}
@media(min-width:1024px){
.profile-pic {
  display: flex;
  height: 11vw;
  justify-content: center;
}
}
@media(min-width:825px) and (max-width:1024px){
  .profile-pic {
    display: flex;
    height: 13vw;
    justify-content: center;
  }
  }
@media(max-width:825px)and (min-width:600px){
  .profile-pic {
    display: flex;
    height: 17vw;
    justify-content: center;
  }
  }
  @media(max-width:600px){
    .profile-pic {
      display: flex;
      height: 22vw;
      justify-content: center;
    }
    }

.relationship {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 245);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  width: 100%;

}
.row_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 0% 0% 1%;
  width: 100%;
  height: 100%;
}

.recent-post-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: ridge;
}
.scroll{
  overflow-y: scroll;
  margin-top: 3%;
}
.showCase {
  display: flex;
  height: 100%;
  width: 99%;
  overflow-y: scroll;
}
.show-case{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  border: groove;
}
.show-case1{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  border: groove;
  flex-direction: column;
  overflow-y: scroll;
}
.search-format {
  display: flex;
  flex-direction: column;
  margin: 4.85% 8% 0% 10%;
}
.settings-format {
  display: flex;
  margin: 3% 2% 1% 0%;
}
.spaceD {
  display: flex;
  width: 30%;
  justify-content: center;
  margin-right: 3%;
  background-color: cornflowerblue;
}
.spaceDM {
  display: flex;
  width: 30%;
  justify-content: center;
  margin-right: 3%;
  background-color: rgb(163, 188, 235);
}

.spaceMM {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  font-size: x-large;
    padding: 4% 0%;
  background-color: rgb(163, 188, 235);
}
.style{
  color: black;
  background-color: white;
}
.text-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media(max-width:1024px){
.text-2{
  display: flex;
  justify-content: center;
}
}
@media(min-width:1024px){
  .text-2{
    display: flex;
  }
  }
.text {
  display: flex;
  margin: 1% 1% 0% 4%;
  border-width: 2px;
  border-radius: 5%;
  background-color: rgb(235, 235, 245);
}
.text_cent {
  display: flex;
  margin: 2% 0% 1% 0%;
  color: #7e7171;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  justify-content: center;
}

.top-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;
}
.top-items {
  display: flex;
  flex-direction: row;
}
.tile{
  height: 100%; 
  width: 100%; 
  justify-content: center; 
  display: flex;
  flex-direction: column;
 
}
.title{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #ebebf5;
}
.title1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Font Awesome 5 Free';
  font-weight: 500;
    color: #7e7171;
}

.uNameMsg{
  display: flex;
  justify-content: center;
}
@media (min-width: 450px) {
  .user-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    color: #0b4bff;
    box-sizing: border-box;
    margin-right: 7%;
  }
}
@media (max-width: 450px) {
  .user-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #0b4bff;
    box-sizing: border-box;
    margin-right: 2%;
  }
}
.words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: white;
}
@media(min-width:435px){
.words1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  color: #7e7171;
  font-family: "Font Awesome 5 Free";
font-size: x-large;
}}
@media(max-width:435px){
  .words1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    color: #7e7171;
    font-family: "Font Awesome 5 Free";
  font-size: inherit;
  }}

