 <div class="spinner" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
</div>

<div *ngFor="let info of infos">
<div class="main-content"  *ngIf="(userId === info.Creator)">
  <!-- input pic & has this default pic before-->
  <div class="left-side">

    <div class="profile-pic" *ngIf="info.ProfilePicPath">
      <!-- need to get croppeded value -->
      <img class="pic" src="{{info.ProfilePicPath}}">
      <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> -->
    </div>

    <div class="profile-pic" *ngIf="!info.ProfilePicPath">
      <img src="../../assets/Pics/Skalarly 1.jpeg" class="pic" />
    </div>



    <div class="center">
      <div class="hide-input">
        <div class="uNameMsg">

          

          <div class="centerR_" >
            <!-- This is hard coded once user signs up -->
            
            @{{info.username}}

          </div>
    
         

        


        </div>
        <div class="centerGD" *ngIf="info.gender || info.birthday  ">
          <div *ngIf="info.gender">
            <!--  Male -->
            {{ info.gender}}
          </div>
          <div *ngIf="info.birthday">
            <!-- Eventually just have the age calculated out...maybe -->
            {{ info.birthday|date:"longDate" }}
          </div>

          <!-- <div *ngIf="date equals bd input"> <i class="material-icons icon">cake</i>
          Happy Birthday
          </div> -->


        </div>

      </div>

      <mat-divider class="margin"></mat-divider>
      <!-- Major/Minor -->
      <div class="major-minor" *ngIf="info.major || info.minor ">
        <!-- *ngIf="major.value" -->
        <div class="centerR" *ngIf="info.major ">
          <!-- Major -->
          <i class="fas fa-star row_icon" matTooltip="Major" style="color: #f8e563a6"></i>
            <div class="large">
              {{ info.major}}
              </div>
    

        </div>
        <div class="centerR" *ngIf="info.minor ">
          <!-- Minor -->
          <i class="fas fa-star-half-alt row_icon" matTooltip="Minor" style="color: silver"></i>
            <div class="large">
            {{ info.minor}}

            </div>
          
        </div>

      </div>
      <mat-divider class="margin" *ngIf="info.major  || info.minor">
      </mat-divider>
      <!-- Sport/Club -->
      <div class="major-minor" *ngIf="info.sport  || info.club">
        <div class=" centerR" *ngIf="info.sport ">
          <i class="fas fa-running" matTooltip="Sport" style="color: #bcbcee"></i>
          <!-- Sport -->
          {{ info.sport}}
        </div>
        <div class="centerR" *ngIf="info.club ">
          <!-- Club -->
          <i class="fas fa-user-friends" matTooltip="Club" style="color: #99a7d2"></i>
          {{ info.club}}
        </div>

      </div>
      <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " -->
      <mat-divider class="margin"></mat-divider>
      <div class="friendsCount">
        <div class="centerR">
          Followers 
          <!-- Counter -->
             <div class="centerNumber">
               
            {{followers.length}}
          
        </div>
        </div>
        <div class="centerR">
          Following
          <!-- Counter -->
          <div class="centerNumber">
               
            {{follow.length}}
          
        </div>
    
        </div>
      </div>

     
    </div>
    
  </div>



<!-- Middle -->
<div class="middle hide">
  
  <!-- User-Name -->
  <div class="top-middle">

    <!-- No Bio -->
    <!-- Pronouns Full name & age   *ngIf="fullname.value " -->
    
      <div class="text-2">


        <div class="fName">
       
          <div *ngIf="info.name" class="name">
            {{ info.name}}
           
          </div>
          <div *ngIf="info.pronouns" class="pronouns" matTooltip="Proper Pronouns">
            ({{ info.pronouns}})
              </div>
            
          

          <button *ngIf="info.bio.length > 50 " mat-icon-button class='bioHeart' (click)="onBio()" matTooltip="Display Bio">
          <!-- <i class="fab fa-readme"></i> -->
          <i class="far fa-heart"></i>
        </button>

        <div class="bio" *ngIf="info.bio.length <= 50" >
        <!-- <div class="bio_">Bio:</div>  -->
        <div>{{info.bio}}
        </div> 
        </div>
        </div>
        
      </div>
  

  </div>

  <div class="hide">
    <div class="HighlightsM">
      <!-- Hightlight Input box -->
      <!-- <p class="text_cent" *ngIf="groups.length != 0">Highlights</p> -->
      <div class="highlights-layout">

    

        <mat-tab-group class="column_1" >
  
          <mat-tab label="Completed Courses"  >
           
       

            <div class=" scroll">
              <mat-chip-list>
                <!-- *ngFor="let list of Com" -->
                <div class="list">
                  <mat-chip-list class="center__">
                    <div class="middleText">
                    <div class="titleC" *ngIf="info.CodeCompleted || info.CodeCompleted2 || info.CodeCompleted3|| info.CodeCompleted4|| info.CodeCompleted5
                    || info.CodeCompleted6 || info.CodeCompleted7 || info.CodeCompleted8|| info.CodeCompleted9|| info.CodeCompleted10">
                       First Year 
                    </div>
                    <span class="fas fa-leaf centerIcon" *ngIf="info.CodeCompleted || info.CodeCompleted2 || info.CodeCompleted3|| info.CodeCompleted4|| info.CodeCompleted5" style="color: saddlebrown; margin-top:4%">
                    </span>
                    <!-- disabled -->
                    <mat-chip *ngIf="info.CodeCompleted" class="style" color="primary" selected >
                      <!-- {{list}} -->
                 
                      {{ info.CodeCompleted }}
                    </mat-chip>

                      <mat-chip *ngIf="info.CodeCompleted2" class="style" color="primary" selected >
                        {{ info.CodeCompleted2 }}
                    </mat-chip>

                        <mat-chip *ngIf="info.CodeCompleted3" class="style" color="primary" selected >
                          {{ info.CodeCompleted3 }}
                    </mat-chip>

                          <mat-chip *ngIf="info.CodeCompleted4" class="style" color="primary" selected >
                            {{ info.CodeCompleted4 }}
                    </mat-chip>

                            <mat-chip *ngIf="info.CodeCompleted5" class="style" color="primary" selected >
                              {{ info.CodeCompleted5 }}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" *ngIf="info.CodeCompleted6 || info.CodeCompleted7 || info.CodeCompleted8|| info.CodeCompleted9|| info.CodeCompleted10" style="color: #88c4f9; margin-top:4%">
                    </span>
                              <mat-chip *ngIf="info.CodeCompleted6" class="style" color="primary" selected >
                                {{ info.CodeCompleted6 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted7" class="style" color="primary" selected >
                      {{ info.CodeCompleted7 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted8" class="style" color="primary" selected >
                      {{ info.CodeCompleted8 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted9" class="style" color="primary" selected >
                      {{ info.CodeCompleted9 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted10" class="style" color="primary" selected >
                      {{ info.CodeCompleted10 }}
                    </mat-chip>
                    <mat-divider *ngIf="info.CodeCompleted1 || info.CodeCompleted11 "></mat-divider>

                    </div>

                    <div>
                    <div class="middleText">
                    <div class="titleC"  *ngIf="info.CodeCompleted11 || info.CodeCompleted12 || info.CodeCompleted13|| info.CodeCompleted14 || info.CodeCompleted15
                    || info.CodeCompleted16 || info.CodeCompleted17 || info.CodeCompleted18 || info.CodeCompleted19 || info.CodeCompleted20" > 
                      Second Year
                    </div>
                    <span class="fas fa-leaf centerIcon" *ngIf="info.CodeCompleted11 || info.CodeCompleted12 || info.CodeCompleted13|| info.CodeCompleted14|| info.CodeCompleted15" style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="info.CodeCompleted11" class="style" color="primary" selected >
                      {{ info.CodeCompleted11 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted12" class="style" color="primary" selected >
                      {{ info.CodeCompleted12 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted13" class="style" color="primary" selected >
                      {{ info.CodeCompleted13 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted14" class="style" color="primary" selected >
                      {{ info.CodeCompleted14 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted15" class="style" color="primary" selected >
                      {{ info.CodeCompleted15 }}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon"  *ngIf="info.CodeCompleted16 || info.CodeCompleted17 || info.CodeCompleted18|| info.CodeCompleted19|| info.CodeCompleted20"  style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted16" class="style" color="primary" selected >
                      {{ info.CodeCompleted16 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted17" class="style" color="primary" selected >
                      {{ info.CodeCompleted17 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted18" class="style" color="primary" selected >
                      {{ info.CodeCompleted18 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted19" class="style" color="primary" selected >
                      {{ info.CodeCompleted19 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted20" class="style" color="primary" selected >
                      {{ info.CodeCompleted20 }}
                    </mat-chip>
                  </div>
                  </div>
                  <mat-divider *ngIf="info.CodeCompleted16 || info.CodeCompleted21 "></mat-divider>

                  <div class="middleText">
                    <div class="titleC" *ngIf="info.CodeCompleted21 || info.CodeCompleted22 || info.CodeCompleted23 || info.CodeCompleted24 || info.CodeCompleted25
                    || info.CodeCompleted26 || info.CodeCompleted27 || info.CodeCompleted28 || info.CodeCompleted29 || info.CodeCompleted30"> 
                      Third Year
                    </div>
                    <span class="fas fa-leaf centerIcon" *ngIf="info.CodeCompleted21 || info.CodeCompleted22 || info.CodeCompleted23 || info.CodeCompleted24 || info.CodeCompleted25" style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="info.CodeCompleted21" class="style" color="primary" selected >
                      {{ info.CodeCompleted21 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted22"  class="style" color="primary" selected >
                      {{ info.CodeCompleted22 }}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted23" class="style" color="primary" selected >
                      {{ info.CodeCompleted23 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted24"  class="style" color="primary" selected >
                      {{ info.CodeCompleted24 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted25" class="style" color="primary" selected >
                      {{ info.CodeCompleted25 }}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" *ngIf="info.CodeCompleted26 || info.CodeCompleted27 || info.CodeCompleted28 || info.CodeCompleted29 || info.CodeCompleted30" style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted26"  class="style" color="primary" selected >
                      {{ info.CodeCompleted26 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted27"  class="style" color="primary" selected >
                      {{ info.CodeCompleted27 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted28"  class="style" color="primary" selected >
                      {{ info.CodeCompleted28 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted29"  class="style" color="primary" selected >
                      {{ info.CodeCompleted29 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted30"  class="style" color="primary" selected >
                      {{ info.CodeCompleted30 }}
                    </mat-chip>
                  </div>
                </div>
                <mat-divider *ngIf="info.CodeCompleted31 || info.CodeCompleted40 "></mat-divider>

                    <div class="middleText">
                    <div class="titleC" *ngIf="info.CodeCompleted31 || info.CodeCompleted32 || info.CodeComplete33 || info.CodeCompleted34 || info.CodeCompleted35 ||
                    info.CodeCompleted36 || info.CodeCompleted37 || info.CodeComplete38 || info.CodeCompleted39 || info.CodeCompleted40 || info.CodeCompletedX"> 
                      Fourth Year<i class="fas fa-graduation-cap"></i>
                  </div>
                  <span class="fas fa-leaf centerIcon" *ngIf="info.CodeCompleted31 || info.CodeCompleted32 || info.CodeCompleted33 || info.CodeCompleted34 || info.CodeCompleted35" style="color: saddlebrown; margin-top:4%">
                  </span>
                    <mat-chip *ngIf="info.CodeCompleted31"  class="style" color="primary" selected >
                      {{ info.CodeCompleted31 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted32" class="style" color="primary" selected >
                      {{ info.CodeCompleted32 }}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted33" class="style" color="primary" selected >
                      {{ info.CodeCompleted33 }}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted34" class="style" color="primary" selected >
                      {{ info.CodeCompleted34 }}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted35" class="style" color="primary" selected >
                      {{ info.CodeCompleted35 }}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" *ngIf="info.CodeCompleted36 || info.CodeCompleted37 || info.CodeCompleted38 || info.CodeCompleted39 || info.CodeCompleted40 || info.CodeCompletedX" 
                    style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted36"  class="style" color="primary" selected >
                      {{ info.CodeCompleted36 }}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted37"  class="style" color="primary" selected >
                      {{ info.CodeCompleted37 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted38"   class="style" color="primary" selected >
                      {{ info.CodeCompleted38 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted39"   class="style" color="primary" selected >
                      {{ info.CodeCompleted39 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted40"   class="style" color="primary" selected >
                      {{ info.CodeCompleted40 }}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompletedX"  class="style" color="primary" selected >
                      {{ info.CodeCompletedX }}
                    </mat-chip>
                  </div>

              </div>

                  </mat-chip-list>
                </div>
              </mat-chip-list>
            </div>
          </mat-tab>

          <!-- "!((profile | async)?.CodePursuing) ? 'hide_' : 'completed-courses' " -->
          <mat-tab label="Next Courses">
           <!-- <div class="titleC"> In Progress <i class="fas fa-hourglass-half"></i>
          </div> -->

            <div class="words1">
            

              <!-- Courses -->
            </div>
            <div class="scroll">
              <mat-chip-list>
                <!-- *ngFor="let list of Pur" -->
                <div class="list">
                  <mat-chip-list  class="center__">
                    <div class="columnCoursesBox">
                      <!-- {{list}}-->
                      <div>
                      <span class="fas fa-leaf centerIcon" *ngIf="info.CodePursuing || info.CodePursuing2 || info.CodePursuing3 || info.CodePursuing4 || info.CodePursuing5"
                       style="color: saddlebrown;margin-top:4%">
                      </span>
                      <div class="centerIcon">
                      <mat-chip *ngIf="info.CodePursuing" class="style" color="primary" selected >
                      {{ info.CodePursuing }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing2" class="style" color="primary" selected >
                      {{ info.CodePursuing2 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing3" class="style" color="primary" selected >
                      {{ info.CodePursuing3 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing4" class="style" color="primary" selected >
                      {{ info.CodePursuing4 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing5" class="style" color="primary" selected >
                      {{ info.CodePursuing5 }}
                    </mat-chip>
                  </div>
                  <mat-divider *ngIf="info.CodePursuing6  "></mat-divider>
                  </div>
                  <div>
                    <span class="fas fa-snowflake centerIcon" *ngIf="info.CodePursuing6 || info.CodePursuing7 || info.CodePursuing8 || info.CodePursuing9 || info.CodePursuing10"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="info.CodePursuing6" class="style" color="primary" selected >
                      {{ info.CodePursuing6 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing7" class="style" color="primary" selected >
                      {{ info.CodePursuing7 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing8" class="style" color="primary" selected >
                      {{ info.CodePursuing8 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing9" class="style" color="primary" selected >
                      {{ info.CodePursuing9 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing10" class="style" color="primary" selected >
                      {{ info.CodePursuing10 }}
                    </mat-chip>
                  </div>
                  <mat-divider *ngIf="info.CodePursuing11 "></mat-divider>
                
                  </div>
                  <div>
                    <span class="fas fa-seedling centerIcon" *ngIf="info.CodePursuing11 || info.CodePursuing12" 
                    style="color: cadetblue; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="info.CodePursuing11" class="style" color="primary" selected >
                      {{ info.CodePursuing11 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing12" class="style" color="primary" selected >
                      {{ info.CodePursuing12 }}
                    </mat-chip>
                    <mat-divider *ngIf="info.CodePursuing13 "></mat-divider>
                    <span class="fas fa-sun centerIcon" *ngIf="info.CodePursuing13 || info.CodePursuing14" 
                    style="color: #d89163; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodePursuing13" class="style" color="primary" selected >
                      {{ info.CodePursuing13 }}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing14" class="style" color="primary" selected >
                      {{ info.CodePursuing14 }}
                    </mat-chip>
                  </div>
                  </div>
                </div>
                  </mat-chip-list >
                </div>
              </mat-chip-list>
            </div>

          </mat-tab>
          <!-- </ng-container> -->
        </mat-tab-group>

            
          </div>
        </div>
      
    <div class="activityM">
      <!-- Right side -->
      <!-- Recent Posts text  -->
      <div class="right-side" >
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Activity" >
                   
            <div class="posts" >
            
               <app-card-personal class="postCard" > 
              </app-card-personal>
            </div>
            <!-- <div class="column1" *ngIf="!(userIsAuthenticated && (userId === posts.Creator))">
              <div class="row"> No Posts Made</div><span class="far fa-mug-hot  iconEmpty" ></span> 
              </div> -->
 

          </mat-tab>
          <mat-tab label="Showcase">
            <!-- <div class="column1" *ngIf="!info.ShowCasePath">
              <div class="row"> No Showcases Added</div> <span class="fa-solid fa-hat-wizard iconEmpty" ></span>
            </div> -->
   
            <div class="showCase" >
  
              <div class="showCase_" *ngFor="let showCase of showCases">
          
                  <button mat-button (click)="imgClick()" class="column">
                  <img class="img" src={{showCase.ShowCasePath}} id="myImg" />
                  <!-- *ngFor="let showCase of showCases {{ShowCase}} -->
                </button>
                
                <div class="trashCan" *ngIf='(userId === showCase.Creator) && showCase'>
                  <button  mat-icon-button matTooltip="Delete ShowCase"
                    (click)='onDelete(showCase.id)'>
                    <i class="far fa-times-circle"></i>
                    </button>
                    </div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-button class="close" (click)="close()">Close</button>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
  <script>
    var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
    // Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
     // pop up showcase
 function imgClick() {
    modal.style.display = 'block';
    //  this.modalImg.src = this.src;
    console.log('hey good lookin');
  }
  // When the user clicks on <span> (x), close the modal
 function close() {
    modal.style.display = 'none';
    console.log('hey good gay guy');
  }
    </script>
</div>

              </div>
               <!-- *ngIf="showCases.length == 0" -->
               <mat-chip-list >
                <mat-chip color="accent" class="addShowcase" selected (click)="navigateToEditProfile()">
                Add Showcase
                </mat-chip>
                </mat-chip-list>
            </div>
            <!-- <div class="showCase" *ngIf="info.ShowCasePath">


              <div class="column">

                <img class="img" src={{info.ShowCasePath}} />
                <!-- *ngFor="let showCase of showCases {{ShowCase}} --

              </div>

            </div> -->
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
</div>
</div>

















<!--  Mobile -->
<!-- Side Info -->
<!-- <div *ngIf="!isLoading">
<mat-sidenav-container autosize class="side_nav_container">


  <mat-sidenav #sidenav position="start" class="side_nav">


    <div>
      <button type="button" mat-icon-button (click)="sidenav.close()">
      <i class="fas fa-angle-left"></i>
    </button>
    </div>
  
  




    <div class="center">
      <div class="hide-input">
        <div class="uNameMsg">

          

          <div class="centerR_">
            <!-- This is hard coded once user signs up --
            {{(Id |async)?.UserName}}

          </div>
          <div>
            <button class="icon" mat-icon-button routerLink="/messages">
              <span class="material-icons">
                chat
              </span>
            </button>
          </div>
         

        


        </div>
        <div class="centerGD" *ngIf="(profile | async)?.Gender.name || (profile | async )?.Birthday  ">
          <div *ngIf="(profile | async)?.Gender.name">
            <!--  Male --
            {{ (profile | async)?.Gender.name}}
          </div>
          <div *ngIf="(profile | async )?.Birthday">
            <!-- Eventually just have the age calculated out...maybe --
            {{ (profile | async )?.Birthday|date:"longDate" }}
          </div>

          <!-- <div *ngIf="date equals bd input"> <i class="fas fa-birthday-cake icon"></i>
          Happy Birthday
          </div> --


        </div>

      </div>

      <mat-divider class="margin"></mat-divider>
      <!-- Major/Minor --
      <div class="major-minor" *ngIf="(profile| async)?.Major || (profile| async)?.Minor ">
        <!-- *ngIf="major.value" --
        <div class="centerR" *ngIf="(profile| async)?.Major ">
          <!-- Major --
          <i class="fas fa-star large">{{ (profile | async)?.Major}}</i>

        </div>
        <div class="centerR" *ngIf="(profile| async)?.Minor ">
          <!-- Minor --
          <i class="far fa-star large">{{ (profile | async)?.Minor}}</i>
        </div>

      </div>
      <mat-divider class="margin" *ngIf="(profile| async)?.Major  || (profile| async)?.Minor">
      </mat-divider>
      <!-- Sport/Club --
      <div class="major-minor" *ngIf="(profile| async)?.Sport  || (profile| async)?.Club">
        <div class=" centerR" *ngIf="(profile| async)?.Sport ">
          <!-- Sport --
          {{ (profile | async)?.Sport}}
        </div>
        <div class="centerR" *ngIf="(profile| async)?.Club ">
          <!-- Club --
          {{ (profile | async)?.Club}}
        </div>

      </div>
      <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " --
      <mat-divider class="margin"></mat-divider>
      <div class="friendsCount">
        <div class="centerR">
          Followers
          <!-- Counter -->
          <!-- {{followers}} --
        </div>
        <div class="centerR">
          Following
          <!-- Counter -->
          <!-- {{follow}} --
        </div>
      </div>

     
    </div>









  
  </mat-sidenav>

  <mat-sidenav-content>
  
  <div class="middle">
  

    <!-- User-Name --
    <div class="top-middle">

      <!-- No Bio -->
      <!-- Pronouns Full name & age   *ngIf="fullname.value " --
   
        <div class="text-2">


          <div class="profile-pic" *ngIf="(profile | async)?.profPic">
            <!-- need to get croppeded value --
            <img class="pic" src="{{(profile | async)?.profPic}}">
            <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> --
          </div>
      
          <div class="profile-pic" *ngIf="!(profile | async)?.profPic">
            <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
          </div>




          <div class="fName">
           
            <!-- Chase Olsen --
            {{ (profile | async)?.Pronouns}}
            {{ (profile | async)?.Name}}
           
          </div>

        </div>
  

  

    </div>
    <div class="hideM info_btn_container">
      <button type="button" mat-button (click)="sidenav.open()" class="info_btn">
        More Info
      <i class="fas fa-angle-right"></i>
    </button>
    <mat-chip-list class="center_" aria-label="FollowBtn">
      <mat-chip class="messageM" (click)="followClicked()">


        {{ following ? "Unfollow" : "Follow" }}

        <!-- Switches to Unfollow btn option  --

      </mat-chip>
    </mat-chip-list>
    </div>
    

    <!-- MOBILE --

    <mat-tab-group dynamicHeight dynamicWidth mat-align-tabs="center" class="hideM">
      <mat-tab label="Highlights">
        <div class="HighlightsM">
          <!-- Hightlight Input box --
          <div class="highlights-layout">
            <div class="column1" *ngIf="groups.length == 0">
              <div class="row"> No Groups Joined</div><i class="far fa-frown centerR iconEmpty"></i>
            </div>

            <div class="groups-j" *ngIf="groups.length != 0">
              <div class="words">
                <div class="title">
                  <div class="title1">Groups Joined</div>

                </div>
                <div class="groups_">
                  <app-card-brief class="fit_" *ngFor="let group of groups">
                    {{group}}
                  </app-card-brief>
                </div>

              </div>
            </div>

            <div class="row_1">
              <div class="column1" *ngIf=" !((profile | async)?.CodeCompleted  || (profile | async)?.filteredCodesP)">
                <div class="row"> No Courses Added</div>
                <!-- <i class="far fa-frown centerR"></i> --
              </div>
              <!-- Hidden if neither are filled in --


              <div [ngClass]="(profile | async)?.CodeCompleted  ?  'completed-courses': 'hide_' ">
                <div class="words1">Completed

                  <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                    matBadge="{{(profile | async)?.CodeCompleted}}"></div>
                </div>

                <div class=" scroll">
                  <mat-chip-list>
                    <!-- *ngFor="let list of Com" --
                    <div class="list">
                      <div class="center__">
                        <mat-chip class="style" disabled>
                          <!-- {{list}} --
                          {{ (profile | async)?.CodeCompleted}}
                        </mat-chip>
                      </div>
                    </div>
                  </mat-chip-list>
                </div>

              </div>
              <div [ngClass]="(profile | async)?.CodePursuing ? 'completed-courses' : 'hide_' ">
                <div class="words1">Pursuing
                  <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                    matBadge="{{  (profile | async)?.CodePursuing }}"></div>
                </div>
                <div class="scroll">
                  <mat-chip-list>
                    <!-- *ngFor="let list of Pur" --
                    <div class="list">
                      <div class="center__">
                        <mat-chip class="style" disabled>
                          <!-- {{list}} --
                          {{ (profile | async)?.CodePursuing}}
                        </mat-chip>
                      </div>
                    </div>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Activity">
        <div class="column1" *ngIf="posts.length == 0">
          <div class="row"> No Posts Made</div><i class="far fa-frown centerR iconEmpty"></i>
        </div>

        <!-- Recent Posts text  --
        <div class="posts" *ngIf="posts.length !== 0">
          <app-card *ngFor="let post of posts">
            {{post}}
          </app-card>
        </div>
      </mat-tab>
      <!-- Snap shots --
      <mat-tab label="Showcase">
        <div class="column1" *ngIf="!(profile|async)?.ShowCase">
          <div class="row"> No Showcases Added</div><i class="fas fa-eye-slash centerR"></i>
        </div>
        <div class="showCase" *ngIf="(profile|async)?.ShowCase">

          <div class="column">
            <img class="img" src={{(profile|async)?.ShowCase}} />
            <!-- *ngFor="let showCase of showCases" --
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-sidenav-content>

 
</mat-sidenav-container>
</div> -->