<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div >
  <div *ngIf="(info.Creator !== userId) && (isLoading == false)" class="main-content"   >
    <!-- input pic & has this default pic before-->
    <div class="left-side" >

      <div class="profile-pic" *ngIf="info.ProfilePicPath">
        <!-- need to get croppeded value -->
        <img class="pic" src="{{info.ProfilePicPath}}">
        <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> -->
      </div>

      <div class="profile-pic" *ngIf="!info.ProfilePicPath">
        <img src="../../assets/Pics/Skalarly 1.jpeg" class="pic" />
      </div>

<!-- If private and arent friends yet -->



<!--  -->

      <div class="center" >
        <div class="hide-input">
          <!-- Not blocked -->
    
<!-- blocked -->
<div class="centerBlock" *ngIf="blockList === true">
<button  mat-icon-button [matMenuTriggerFor]="menu2" class="red">
<mat-icon>
<i class="fas fa-ellipsis-h"></i>
</mat-icon>
</button>
</div>
<mat-menu #menu2="matMenu">
<button mat-menu-item  (click)="unblockSkalar(info.username)" >
  <mat-icon class="fas fa-unlock-alt"></mat-icon>
  <span class="large"> Unblock {{info.username}} </span>
</button>
</mat-menu>
<!-- can block -->
<div class="centerBlock" *ngIf="blockList === false">
<button  mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>
    <i class="fas fa-ellipsis-h"></i>
  </mat-icon>
</button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item matTooltip="{{info.username}} will no longer be able 
  to view or interact with your content" (click)="blockSkalar(info.username)" >
  <mat-icon class="fas fa-ban"></mat-icon>
  <span class="large"> Block {{info.username}}  </span>
</button>
</mat-menu>
          <div class="uNameMsg">
            <div class="centerR_" *ngIf="info.username">
              <!-- This is hard coded once user signs up -->
              @{{info.username}}
            </div>
            <div>
              <button class="icon" mat-icon-button matTooltip='Message {{info.username}}' (click)="skalarMsg(info.username)" >
                <span class="material-icons">
                  chat
                </span>
              </button>
            </div>





          </div>
          <div class="centerGD" *ngIf="info.birthday" >
            <!-- <div *ngIf="info.gender">
              {{ info.gender}}
            </div> -->
            <div *ngIf="info.campus">
              {{ info.campus}}
            </div>
            <div *ngIf="info.birthday">
              <!-- Eventually just have the age calculated out...maybe -->
              {{ info.birthday|date:"longDate" }}
            </div>

            <!-- <div *ngIf="date equals bd input"> <i class="material-icons icon">cake</i>
          Happy Birthday
          </div> -->


          </div>

        </div>

        <mat-divider class="margin"></mat-divider>
        <!-- Major/Minor -->
        <div class="major-minor" *ngIf="info.major || info.minor ">
          <!-- *ngIf="major.value" -->
          <div class="centerR" *ngIf=" info.major ">
            <!-- Major -->
          <i class="fas fa-star row_icon" matTooltip="Major" style="color: #99a7d2"></i>
              <div class="large">
                {{ info.major}}
              </div>
      

          </div>
          <div class="centerR" *ngIf=" info.minor ">
            <!-- Minor -->
            <i class="fas fa-star-half-alt row_icon" matTooltip="Minor" style="color: #99a7d2"></i>
              <div class="large">
                {{ info.minor}}
              </div>
          </div>
        </div>
        <mat-divider class="margin" *ngIf=" info.major  || info.minor">
        </mat-divider>
        <!-- Sport/Club -->
        <div class="major-minor" *ngIf=" info.sport  || info.club">
          <div class=" centerR" *ngIf=" info.sport ">
          <i class="fas fa-running" matTooltip="Sport" style="color: #99a7d2"></i>
            <!-- Sport -->
            {{ info.sport}}
          </div>
          <div class="centerR" *ngIf=" info.club ">
            <!-- Club -->
          <i class="fas fa-user-friends" matTooltip="Club" style="color: #99a7d2"></i>
            {{ info.club}}
          </div>

        </div>
        <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " -->
        <mat-divider class="margin" *ngIf="info.sport  || info.club"></mat-divider>
        <div class="friendsCount" >
          <button mat-button (click)="showFriends('followers', info.Followers)" class="centerR">
            Followers
            <!-- Counter -->
            {{info.Followers}}
            
          </button>
          <button mat-button (click)="showFriends('following', info.Following)" class="centerR">
            Following
            <!-- Counter -->
            {{info.Following}}

          </button>
         <!-- move below following and follwer counts -->
         <div class="bio overflowy" *ngIf="info.bio " >
           
          <div>{{info.bio}}
          </div> 
          </div> 
        </div>


      </div>

    </div>



    <!-- Middle -->
    <div class="middle hide" *ngIf="authenticatedToView !== false">

      <!-- User-Name -->
      <div class="top-middle">

        <!-- No Bio -->
        <!-- Pronouns Full name & age   *ngIf="fullname.value " -->
       
          <div class="text-2" >


            <div class="fName">

              <div class="nameBox" *ngIf="info.name">
                <div class="name" >
                {{ info.name}}
                </div>
                <!-- <div *ngIf="info.pronouns" class="pronouns"  matTooltip="Proper Pronouns">
                  ({{ info.pronouns}})
                    </div> -->
              </div>
       
    
                <div class="center_" *ngIf="FOLLOWingYo == 'noMatch'">
              <mat-chip-list  class="center_" 
                aria-label="FollowBtn">
                <mat-chip color='warn' selected class="messageM" matTooltip="Follow"
                 (click)="followClicked(info.username)"  >
                 Follow
                </mat-chip>
                </mat-chip-list>
              </div>


              <div class="center_" *ngIf="FOLLOWingYo === 'true2' ">
                <mat-chip-list  class="center_"  
                aria-label="FollowBtn">
                <mat-chip  selected class="pendingColor" matTooltip="Unfollow"
                 (click)="onUnfololow(info.username)" >
                Pending 
                <!-- would be nice to show how long this has been requested but then need to pass date request was made -->
                {{pendingLength}}
                </mat-chip>
              </mat-chip-list>
              </div>

              <div class="center_" *ngIf="FOLLOWingYo === 'true1'">
                <mat-chip-list  class="center_"  
                aria-label="FollowBtn">
                <mat-chip  selected class="followingColor" matTooltip="Unfollow"
                 (click)="onUnfololow(info.username)" >
                 Following
                </mat-chip>
              </mat-chip-list>
              </div>

              <!-- blocking -->
              <div class="center_" *ngIf="blockList === true">
                <mat-chip-list  class="center_"  
                aria-label="FollowBtn">
                <mat-chip  selected class="blockingColor" matTooltip="Unblock"
                 (click)="unblockSkalar(info.username)" >
                 Blocking
                </mat-chip>
              </mat-chip-list>
              </div>
<!-- fix up -->
            <!-- <button *ngIf="info.bio.length > 50 " mat-icon-button class='bioHeart bio' (click)="onBio()"  matTooltip="Display Bio">

                <i class="far fa-heart"></i>
              </button> -->
           
<!-- Freindship made -->
<div *ngIf="FOLLOWingYo === 'true1'" class="bioUserName">
Friends since {{info.friendShip | date: 'mediumDate'}}
</div>
 
            </div>

          </div>
        

      </div>

      <div class="hide">
        <div class="HighlightsM">
          <div class="highlights-layout">


        <mat-tab-group class="column_1" >
  
          <mat-tab label="Completed Courses"  >
           
       

            <div class=" scroll">
                <!-- *ngFor="let list of Com" -->
                <div class="list">
                  <mat-chip-list class="center__">
                    <div class="columnCoursesBox">
                    <!-- <mat-card-title class="titleC_">
                      Accomplishments
                      </mat-card-title>
                      <mat-divider></mat-divider> -->

                    <div class="middleText">
                    <div class="titleC" *ngIf="infoCoursesC.CodeCompleted || infoCoursesC.CodeCompleted2 || infoCoursesC.CodeCompleted3|| infoCoursesC.CodeCompleted4|| infoCoursesC.CodeCompleted5
                    || infoCoursesC.CodeCompleted6 || infoCoursesC.CodeCompleted7 || infoCoursesC.CodeCompleted8|| infoCoursesC.CodeCompleted9|| infoCoursesC.CodeCompleted10"
                    > First Year 
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="First Semester"
                    *ngIf="infoCoursesC.CodeCompleted || infoCoursesC.CodeCompleted2 || infoCoursesC.CodeCompleted3|| infoCoursesC.CodeCompleted4|| infoCoursesC.CodeCompleted5" 
                     style="color: saddlebrown; margin-top:4%">
                    </span>
                    <!-- disabled -->
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted)">
                      <!-- {{list}} -->
                 
                      {{ infoCoursesC.CodeCompleted}}
                    </mat-chip>

                      <mat-chip *ngIf="infoCoursesC.CodeCompleted2" class="style fall" color="primary" selected
                      (click)="navigateToMainPage(infoCoursesC.CodeCompleted2)" >
                        {{ infoCoursesC.CodeCompleted2}}
                    </mat-chip>

                        <mat-chip *ngIf="infoCoursesC.CodeCompleted3" class="style fall" color="primary" selected
                        (click)="navigateToMainPage(infoCoursesC.CodeCompleted3)" >
                          {{ infoCoursesC.CodeCompleted3}}
                    </mat-chip>

                          <mat-chip *ngIf="infoCoursesC.CodeCompleted4" class="style fall" color="primary" selected 
                          (click)="navigateToMainPage(infoCoursesC.CodeCompleted4)">
                            {{ infoCoursesC.CodeCompleted4}}
                    </mat-chip>

                            <mat-chip *ngIf="infoCoursesC.CodeCompleted5" class="style fall" color="primary" selected 
                            (click)="navigateToMainPage(infoCoursesC.CodeCompleted5)">
                              {{ infoCoursesC.CodeCompleted5}}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Second Semester"
                    *ngIf="infoCoursesC.CodeCompleted6 || infoCoursesC.CodeCompleted7 || infoCoursesC.CodeCompleted8|| infoCoursesC.CodeCompleted9|| infoCoursesC.CodeCompleted10"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                              <mat-chip *ngIf="infoCoursesC.CodeCompleted6" class="style winter" color="primary" selected 
                              (click)="navigateToMainPage(infoCoursesC.CodeCompleted6)" >
                                {{ infoCoursesC.CodeCompleted6 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted7" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted7)">
                      {{ infoCoursesC.CodeCompleted7 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted8" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted8)">
                      {{ infoCoursesC.CodeCompleted8 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted9" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted9)">
                      {{ infoCoursesC.CodeCompleted9 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted10" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted10)">
                      {{ infoCoursesC.CodeCompleted10 }}
                    </mat-chip>
                    <mat-divider *ngIf="infoCoursesC.CodeCompleted11 || infoCoursesC.CodeCompleted16 "></mat-divider>
          </div>
          <div>
          <div class="middleText">
                    <div class="titleC" 
                    *ngIf="infoCoursesC.CodeCompleted11 || infoCoursesC.CodeCompleted12 || infoCoursesC.CodeCompleted13|| infoCoursesC.CodeCompleted14 || infoCoursesC.CodeCompleted15
                    || infoCoursesC.CodeCompleted16 || infoCoursesC.CodeCompleted17 || infoCoursesC.CodeCompleted18 || infoCoursesC.CodeCompleted19 || infoCoursesC.CodeCompleted20"> Second Year
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="Third Semester"
                     *ngIf="infoCoursesC.CodeCompleted11 || infoCoursesC.CodeCompleted12 || infoCoursesC.CodeCompleted13|| infoCoursesC.CodeCompleted14|| infoCoursesC.CodeCompleted15"
                     style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted11" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted11)">
                      {{ infoCoursesC.CodeCompleted11 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted12" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted12)">
                      {{ infoCoursesC.CodeCompleted12 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted13" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted13)">
                      {{ infoCoursesC.CodeCompleted13 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted14" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted14)">
                      {{ infoCoursesC.CodeCompleted14}}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted15" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted15)">
                      {{ infoCoursesC.CodeCompleted15}}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Fourth Semester"
                    *ngIf="infoCoursesC.CodeCompleted16 || infoCoursesC.CodeCompleted17 || infoCoursesC.CodeCompleted18|| infoCoursesC.CodeCompleted19|| infoCoursesC.CodeCompleted20"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted16" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted16)">
                      {{ infoCoursesC.CodeCompleted16}}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted17" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted17)">
                      {{ infoCoursesC.CodeCompleted17 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted18" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted18)">
                      {{ infoCoursesC.CodeCompleted18 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted19" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted19)">
                      {{ infoCoursesC.CodeCompleted19 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted20" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted20)">
                      {{ infoCoursesC.CodeCompleted20 }}
                    </mat-chip>
                  </div>
                  </div>
                  <mat-divider *ngIf="infoCoursesC.CodeCompleted21 || infoCoursesC.CodeCompleted26 "></mat-divider>
                  <div class="middleText">

                    <div class="titleC" 
                    *ngIf="infoCoursesC.CodeCompleted21 || infoCoursesC.CodeCompleted22 || infoCoursesC.CodeCompleted23 || infoCoursesC.CodeCompleted24 || infoCoursesC.CodeCompleted25
                    || infoCoursesC.CodeCompleted26 || infoCoursesC.CodeCompleted27 || infoCoursesC.CodeCompleted28 || infoCoursesC.CodeCompleted29 || infoCoursesC.CodeCompleted30"> Third Year
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="Fifth Semester"
                     *ngIf="infoCoursesC.CodeCompleted21 || infoCoursesC.CodeCompleted22 || infoCoursesC.CodeCompleted23 || infoCoursesC.CodeCompleted24 || infoCoursesC.CodeCompleted25" style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted21" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted21)">
                      {{ infoCoursesC.CodeCompleted21 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted22"  class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted22)">
                      {{ infoCoursesC.CodeCompleted22 }}
                    </mat-chip>

                    <mat-chip  *ngIf="infoCoursesC.CodeCompleted23" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted23)">
                      {{ infoCoursesC.CodeCompleted23 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted24"  class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted24)">
                      {{ infoCoursesC.CodeCompleted24 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted25" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted25)">
                      {{ infoCoursesC.CodeCompleted25 }}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Sixth Semester"
                    *ngIf="infoCoursesC.CodeCompleted26 || infoCoursesC.CodeCompleted27 || infoCoursesC.CodeCompleted28 || infoCoursesC.CodeCompleted29 || infoCoursesC.CodeCompleted30"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted26"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted26)">
                      {{ infoCoursesC.CodeCompleted26 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted27"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted27)">
                      {{ infoCoursesC.CodeCompleted27 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted28"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted28)">
                      {{ infoCoursesC.CodeCompleted28 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted29"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted29)">
                      {{ infoCoursesC.CodeCompleted29 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted30"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted30)">
                      {{ infoCoursesC.CodeCompleted30 }}
                    </mat-chip>
                  </div>
                </div>
                <mat-divider *ngIf="infoCoursesC.CodeCompleted31 || infoCoursesC.CodeCompleted36 "></mat-divider>

                  <div class="middleText">
                    <div class="titleC" *ngIf="infoCoursesC.CodeCompleted31 || infoCoursesC.CodeCompleted32 || infoCoursesC.CodeComplete33 || infoCoursesC.CodeCompleted34 || infoCoursesC.CodeCompleted35 ||
                    infoCoursesC.CodeCompleted36 || infoCoursesC.CodeCompleted37 || infoCoursesC.CodeComplete38 || infoCoursesC.CodeCompleted39 || infoCoursesC.CodeCompleted40 || infoCoursesC.CodeCompletedX"> Fourth Year<i class="fas fa-graduation-cap"></i>
                  </div>
                  <span class="fas fa-leaf centerIcon" matTooltip="Seventh Semester"
                   *ngIf="infoCoursesC.CodeCompleted31 || infoCoursesC.CodeCompleted32 || infoCoursesC.CodeCompleted33 || infoCoursesC.CodeCompleted34 || infoCoursesC.CodeCompleted35" style="color: saddlebrown; margin-top:4%">
                  </span>
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted31"  class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted31)">
                      {{ infoCoursesC.CodeCompleted31 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted32" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted32)">
                      {{ infoCoursesC.CodeCompleted32 }}
                    </mat-chip>

                    <mat-chip  *ngIf="infoCoursesC.CodeCompleted33" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted33)">
                      {{ infoCoursesC.CodeCompleted33 }}
                    </mat-chip>

                    <mat-chip  *ngIf="infoCoursesC.CodeCompleted34" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted34)">
                      {{ infoCoursesC.CodeCompleted34 }}
                    </mat-chip>

                    <mat-chip  *ngIf="infoCoursesC.CodeCompleted35" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted35)">
                      {{ infoCoursesC.CodeCompleted35 }}
                    </mat-chip>
                    
                    <span class="fas fa-snowflake centerIcon" matTooltip="Eigth Semester"
                    *ngIf="infoCoursesC.CodeCompleted36 || infoCoursesC.CodeCompleted37 || infoCoursesC.CodeCompleted38 || infoCoursesC.CodeCompleted39 || infoCoursesC.CodeCompleted40 || infoCoursesC.CodeCompletedX" 
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="infoCoursesC.CodeCompleted36"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted36)">
                      {{ infoCoursesC.CodeCompleted36 }}
                    </mat-chip>

                    <mat-chip  *ngIf="infoCoursesC.CodeCompleted37"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted37)">
                      {{ infoCoursesC.CodeCompleted37 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted38"   class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted38)">
                      {{ infoCoursesC.CodeCompleted38 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted39"   class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted39)">
                      {{ infoCoursesC.CodeCompleted39 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompleted40"   class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompleted40)">
                      {{ infoCoursesC.CodeCompleted40 }}
                    </mat-chip>

                    <mat-chip *ngIf="infoCoursesC.CodeCompletedX"  class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesC.CodeCompletedX)">
                      {{ infoCoursesC.CodeCompletedX }}
                    </mat-chip>
                  </div>
                </div>
                </div>
                  </mat-chip-list>
                </div>

            </div>
          </mat-tab>

          <!-- "!((profile | async)?.CodePursuing) ? 'hide_' : 'completed-courses' " -->
          <mat-tab label="Next Courses">
           <!-- <div class="titleC"> In Progress <i class="fas fa-hourglass-half"></i>
          </div> -->

            <div class="words1">
              <!-- Courses -->

            </div>
            <div class="scroll">

                <!-- *ngFor="let list of Pur" -->
                <div class="list">
                  <mat-chip-list  class="center__">
                    <div class="columnCoursesBox">
                      <!-- <mat-card-title class="titleC_">
                        Seasonal Semesters
                        </mat-card-title>
                        <mat-divider></mat-divider> -->
                      <div>
                      <span class="fas fa-leaf centerIcon" matTooltip="Fall Semester"
                       *ngIf="infoCoursesP.CodePursuing || infoCoursesP.CodePursuing2 || infoCoursesP.CodePursuing3 || infoCoursesP.CodePursuing4 || infoCoursesP.CodePursuing5" 
                      style="color: saddlebrown; margin-top:4%">
                      </span>
                      <div class="centerIcon">
                      <mat-chip *ngIf="infoCoursesP.CodePursuing" class="style fall" color="primary" selected 
                      (click)="navigateToMainPage(infoCoursesP.CodePursuing)">
                      {{ infoCoursesP.CodePursuing }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing2" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing2)">
                      {{ infoCoursesP.CodePursuing2 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing3" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing3)">
                      {{ infoCoursesP.CodePursuing3 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing4" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing4)">
                      {{ infoCoursesP.CodePursuing4 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing5" class="style fall" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing5)">
                      {{ infoCoursesP.CodePursuing5 }}
                    </mat-chip>
                    </div>
                  <mat-divider *ngIf="infoCoursesP.CodePursuing6 "></mat-divider>

                    </div>
                    <div>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Winter Semester"
                     *ngIf="infoCoursesP.CodePursuing6 || infoCoursesP.CodePursuing7 || infoCoursesP.CodePursuing8 || infoCoursesP.CodePursuing9 || infoCoursesP.CodePursuing10" 
                    style="color: #88c4f9; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="infoCoursesP.CodePursuing6" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing6)">
                      {{ infoCoursesP.CodePursuing6 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing7" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing7)">
                      {{ infoCoursesP.CodePursuing7 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing8" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing8)">
                      {{ infoCoursesP.CodePursuing8 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing9" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing9)">
                      {{ infoCoursesP.CodePursuing9 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing10" class="style winter" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing10)">
                      {{ infoCoursesP.CodePursuing10 }}
                    </mat-chip>
                  </div>
                  <mat-divider *ngIf="infoCoursesP.CodePursuing11 || infoCoursesP.CodePursuing12 "></mat-divider>

                </div>
                <div>
                     <span class="fas fa-seedling centerIcon" matTooltip="Spring Semester"
                     *ngIf="infoCoursesP.CodePursuing11 || infoCoursesP.CodePursuing12" 
                     style="color: cadetblue; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="infoCoursesP.CodePursuing11" class="style spring" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing11)">
                      {{ infoCoursesP.CodePursuing11 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing12" class="style spring" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing12)">
                      {{ infoCoursesP.CodePursuing12 }}
                    </mat-chip>
                    <mat-divider *ngIf="infoCoursesP.CodePursuing13 || infoCoursesP.CodePursuing14"></mat-divider>
                    <span class="fas fa-sun" matTooltip="Summer Semester"
                    *ngIf="infoCoursesP.CodePursuing13 || infoCoursesP.CodePursuing14" 
                    style="color: #d89163; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing13" class="style summer" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing13)">
                      {{ infoCoursesP.CodePursuing13 }}
                    </mat-chip>
                    <mat-chip *ngIf="infoCoursesP.CodePursuing14" class="style summer" color="primary" selected 
                    (click)="navigateToMainPage(infoCoursesP.CodePursuing14)">
                      {{ infoCoursesP.CodePursuing14 }}
                    </mat-chip>
                  </div>
                </div>
              </div>
                  </mat-chip-list >
                </div>
         
            </div>

          </mat-tab>
          <!-- </ng-container> -->
        </mat-tab-group>

            
          </div>
        </div>
        <div class="activityM">
          <!-- Right side -->
          <!-- Recent Posts text  -->
          <div class="right-side" >
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Activity" >
                <ng-template mat-tab-label>
                  <mat-icon> <span class="material-icons-two-tone">
                     category
                     <!-- apps -->
                     </span>
                   </mat-icon>
                   <div >Activity</div>
                 
                 </ng-template>
                <!-- <div class="column1" *ngIf=" posts.length == 0 ">
                  <div class="row"> No Posts Made</div><span class="fa-duotone fa-hat-wizard centerR iconEmpty"></span>
                </div> -->
                <div class="posts" >
                  <app-card class="postCard" >
                  </app-card>
                </div>
              </mat-tab>
              <mat-tab label="Showcase"  >
                <ng-template mat-tab-label>
                  <mat-icon><span class="material-icons-two-tone">
                    photo_library
                    </span></mat-icon>
          <div >Showcase</div>
    
                 </ng-template>
                <!-- <div class="column1"  *ngIf="!showCase.ShowCasePath">
                  <div class="row"> No Showcases Added</div> <span
                    class="fa-solid fa-hat-wizard centerR iconEmpty"></span>
                </div>  -->
                <div class="showCase" >
                  <div *ngIf="showCases.length == 0" class="noPosts_">
                    <i class="fas fa-ghost ghost"></i>
                    <div class="noPosts">
                   No showcases made
                    </div>
                  </div>
                  <div class="showMore" *ngIf="countVisibility >= 1">
                    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
                        <!-- <i class="fas fa-chevron-circle-down"></i> -->
                        <i class="fas fa-caret-up"></i>
                  
                    </mat-chip>
                    </div>
                 <div class="showCase_" *ngFor="let showCase of showCases">
                  
                  <div class="column" *ngIf="showCase.ShowCasePath">
                    <input type="image" (click)="imgClick(showCase.ShowCasePath)" class="img" src={{showCase.ShowCasePath}} id="myImg"/>
                    <!-- *ngFor="let showCase of showCases {{ShowCase}} -->
                  </div>
                  
                  
              
                  <video *ngIf="showCase.VideoPath" class="column"  src="{{showCase.VideoPath}}"  controls autoload>
                  </video>

                 

                </div>
                <div class="showMore" *ngIf="showCases.length == 6">
                  <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
                      <!-- <i class="fas fa-chevron-circle-down"></i> -->
                      <i class="fas fa-caret-down"></i>
                  </mat-chip>
                  </div>
                <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  <!-- Should make background black to only see image/video -->
  <img class="modal-content" src='' id="img01">
</div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
<!-- private account and not friends yet -->
<div *ngIf="authenticatedToView === false"  class="middle hide">
  <h2 class="private">Private Account</h2>
  <div class="privateIcon"><i class="fas fa-user-lock"></i></div>
  <div class="center_" *ngIf="FOLLOWingYo == 'noMatch'">
    <mat-chip-list  class="center_" 
      aria-label="FollowBtn">
      <mat-chip color='warn' selected class="messageM" matTooltip="Follow"
       (click)="followClicked(info.username)"  >
       Follow
      </mat-chip>
      </mat-chip-list>
    </div>
  
  
    <div class="center_" *ngIf="FOLLOWingYo === 'true2' ">
      <mat-chip-list  class="center_"  
      aria-label="FollowBtn">
      <mat-chip  selected class="pendingColor" matTooltip="Unfollow"
       (click)="onUnfololow(info.username)" >
      Pending
      </mat-chip>
    </mat-chip-list>
    </div>
    <!-- able to block skalar -->
    <button  mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
        <i class="fas fa-ellipsis-h"></i>
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item matTooltip=' {{info.username}} will no longer be able 
      to view or interact with your content' (click)="blockSkalar(info.username)"
      *ngIf="this.blockList === false" class="centerBlock">
      <i class="fas fa-ban"></i>Block Skalar</button>
      <!-- unblock -->
      <button mat-menu-item matTooltip="Unblock {{info.username}} " (click)="unblockSkalar(info.username)"
      *ngIf="this.blockList === true" class="centerBlock">
     Unblock</button>
    </mat-menu>
  </div>
    </div>
  </div>
</div>
















<!--  Mobile -->
<!-- Side Info -->
<!-- <div *ngIf="!isLoading">
  <mat-sidenav-container autosize class="side_nav_container">


    <mat-sidenav #sidenav position="start" class="side_nav">


      <div>
        <button type="button" mat-icon-button (click)="sidenav.close()">
          <i class="fas fa-angle-left"></i>
        </button>
      </div>






      <div class="center">
        <div class="hide-input">
          <div class="uNameMsg">



            <div class="centerR_">
              <!-- This is hard coded once user signs up --
              {{(Id |async)?.UserName}}

            </div>
            <div>
              <button class="icon" mat-icon-button routerLink="/messages">
                <span class="material-icons">
                  chat
                </span>
              </button>
            </div>





          </div>
          <div class="centerGD" *ngIf="(profile | async)?.Gender.name || (profile | async )?.Birthday  ">
            <div *ngIf="(profile | async)?.Gender.name">
              <!--  Male --
              {{ (profile | async)?.Gender.name}}
            </div>
            <div *ngIf="(profile | async )?.Birthday">
              <!-- Eventually just have the age calculated out...maybe --
              {{ (profile | async )?.Birthday|date:"longDate" }}
            </div>

            <!-- <div *ngIf="date equals bd input"> <i class="fas fa-birthday-cake icon"></i>
          Happy Birthday
          </div> --


          </div>

        </div>

        <mat-divider class="margin"></mat-divider>
        <!-- Major/Minor --
        <div class="major-minor" *ngIf="(profile| async)?.Major || (profile| async)?.Minor ">
          <!-- *ngIf="major.value" --
          <div class="centerR" *ngIf="(profile| async)?.Major ">
            <!-- Major --
            <i class="fas fa-star large">{{ (profile | async)?.Major}}</i>

          </div>
          <div class="centerR" *ngIf="(profile| async)?.Minor ">
            <!-- Minor --
            <i class="far fa-star large">{{ (profile | async)?.Minor}}</i>
          </div>

        </div>
        <mat-divider class="margin" *ngIf="(profile| async)?.Major  || (profile| async)?.Minor">
        </mat-divider>
        <!-- Sport/Club --
        <div class="major-minor" *ngIf="(profile| async)?.Sport  || (profile| async)?.Club">
          <div class=" centerR" *ngIf="(profile| async)?.Sport ">
            <!-- Sport --
            {{ (profile | async)?.Sport}}
          </div>
          <div class="centerR" *ngIf="(profile| async)?.Club ">
            <!-- Club --
            {{ (profile | async)?.Club}}
          </div>

        </div>
        <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " --
        <mat-divider class="margin"></mat-divider>
        <div class="friendsCount">
          <div class="centerR">
            Followers
            <!-- Counter -->
            <!-- {{followers}} --
          </div>
          <div class="centerR">
            Following
            <!-- Counter -->
            <!-- {{follow}} --
          </div>
        </div>


      </div>










    </mat-sidenav>

    <mat-sidenav-content>

      <div class="middle">


        <!-- User-Name --
        <div class="top-middle">

          <!-- No Bio -->
          <!-- Pronouns Full name & age   *ngIf="fullname.value " --

          <div class="text-2">


            <div class="profile-pic" *ngIf="(profile | async)?.profPic">
              <!-- need to get croppeded value --
              <img class="pic" src="{{(profile | async)?.profPic}}">
              <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> --
            </div>

            <div class="profile-pic" *ngIf="!(profile | async)?.profPic">
              <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
            </div>




            <div class="fName">

              <!-- Chase Olsen --
              {{ (profile | async)?.Pronouns}}
              {{ (profile | async)?.Name}}

            </div>

          </div>




        </div>
        <div class="hideM info_btn_container">
          <button type="button" mat-button (click)="sidenav.open()" class="info_btn">
            More Info
            <i class="fas fa-angle-right"></i>
          </button>
          <mat-chip-list class="center_" aria-label="FollowBtn">
            <mat-chip class="messageM" (click)="followClicked()">


              {{ following ? "Unfollow" : "Follow" }}

              <!-- Switches to Unfollow btn option  --

            </mat-chip>
          </mat-chip-list>
        </div>


        <!-- MOBILE --

        <mat-tab-group dynamicHeight dynamicWidth mat-align-tabs="center" class="hideM">
          <mat-tab label="Highlights">
            <div class="HighlightsM">
              <!-- Hightlight Input box --
              <div class="highlights-layout">
                <div class="column1" *ngIf="groups.length == 0">
                  <div class="row"> No Groups Joined</div><i class="far fa-frown centerR iconEmpty"></i>
                </div>

                <div class="groups-j" *ngIf="groups.length != 0">
                  <div class="words">
                    <div class="title">
                      <div class="title1">Groups Joined</div>

                    </div>
                    <div class="groups_">
                      <app-card-brief class="fit_" *ngFor="let group of groups">
                        {{group}}
                      </app-card-brief>
                    </div>

                  </div>
                </div>

                <div class="row_1">
                  <div class="column1"
                    *ngIf=" !((profile | async)?.CodeCompleted  || (profile | async)?.filteredCodesP)">
                    <div class="row"> No Courses Added</div>
                    <!-- <i class="far fa-frown centerR"></i> -->
                  <!-- </div> -->
                  <!-- Hidden if neither are filled in --


                  <div [ngClass]="(profile | async)?.CodeCompleted  ?  'completed-courses': 'hide_' ">
                    <div class="words1">Completed

                      <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                        matBadge="{{(profile | async)?.CodeCompleted}}"></div>
                    </div>

                    <div class=" scroll">
                      <mat-chip-list>
                        <!-- *ngFor="let list of Com" --
                        <div class="list">
                          <div class="center__">
                            <mat-chip class="style" disabled>
                              <!-- {{list}} --
                              {{ (profile | async)?.CodeCompleted}}
                            </mat-chip>
                          </div>
                        </div>
                      </mat-chip-list>
                    </div>

                  </div>
                  <div [ngClass]="(profile | async)?.CodePursuing ? 'completed-courses' : 'hide_' ">
                    <div class="words1">Pursuing
                      <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                        matBadge="{{  (profile | async)?.CodePursuing }}"></div>
                    </div>
                    <div class="scroll">
                      <mat-chip-list>
                        <!-- *ngFor="let list of Pur" --
                        <div class="list">
                          <div class="center__">
                            <mat-chip class="style" disabled>
                              <!-- {{list}} --
                              {{ (profile | async)?.CodePursuing}}
                            </mat-chip>
                          </div>
                        </div>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Activity">
            <div class="column1" *ngIf="posts.length == 0">
              <div class="row"> No Posts Made</div><i class="far fa-frown centerR iconEmpty"></i>
            </div>

            <!-- Recent Posts text  --
            <div class="posts" *ngIf="posts.length !== 0">
              <app-card *ngFor="let post of posts">
                {{post}}
              </app-card>
            </div>
          </mat-tab>
          <!-- Snap shots --
          <mat-tab label="Showcase">
            <div class="column1" *ngIf="!(profile|async)?.ShowCase">
              <div class="row"> No Showcases Added</div><i class="fas fa-eye-slash centerR"></i>
            </div>
            <div class="showCase" *ngIf="(profile|async)?.ShowCase">

              <div class="column">
                <img class="img" src={{(profile|async)?.ShowCase}} />
                <!-- *ngFor="let showCase of showCases" --
              </div>

            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav-content>


  </mat-sidenav-container>
</div> -->