<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div *ngFor="let info of infos" >
  <div *ngIf="info.Creator !== userId" class="main-content"   >
    <!-- input pic & has this default pic before-->
    <div class="left-side" >

      <div class="profile-pic" *ngIf="info.ProfilePicPath">
        <!-- need to get croppeded value -->
        <img class="pic" src="{{info.ProfilePicPath}}">
        <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> -->
      </div>

      <div class="profile-pic" *ngIf="!info.ProfilePicPath">
        <img src="../../assets/Pics/Skalarly 1.jpeg" class="pic" />
      </div>



      <div class="center">
        <div class="hide-input">
          <div class="uNameMsg">



            <div class="centerR_" *ngIf="info.username">
              <!-- This is hard coded once user signs up -->
              @{{info.username}}
            </div>
            <div>
              <button class="icon" mat-icon-button matTooltip="Message Skalar" (click)="skalarMsg(info.username)" >
                <span class="material-icons">
                  chat
                </span>
              </button>
            </div>





          </div>
          <div class="centerGD" *ngIf=" info.gender || info.birthday  ">
            <div *ngIf="info.gender">
              <!--  Male -->
              {{ info.gender}}
            </div>
            <div *ngIf="info.birthday">
              <!-- Eventually just have the age calculated out...maybe -->
              {{ info.birthday|date:"longDate" }}
            </div>

            <!-- <div *ngIf="date equals bd input"> <i class="material-icons icon">cake</i>
          Happy Birthday
          </div> -->


          </div>

        </div>

        <mat-divider class="margin"></mat-divider>
        <!-- Major/Minor -->
        <div class="major-minor" *ngIf="info.major || info.minor ">
          <!-- *ngIf="major.value" -->
          <div class="centerR" *ngIf=" info.major ">
            <!-- Major -->
          <i class="fas fa-star row_icon" matTooltip="Major" style="color: #99a7d2"></i>
              <div class="large">
                {{ info.major}}
              </div>
      

          </div>
          <div class="centerR" *ngIf=" info.minor ">
            <!-- Minor -->
            <i class="fas fa-star-half-alt row_icon" matTooltip="Minor" style="color: #99a7d2"></i>
              <div class="large">
                {{ info.minor}}
              </div>
          </div>
        </div>
        <mat-divider class="margin" *ngIf=" info.major  || info.minor">
        </mat-divider>
        <!-- Sport/Club -->
        <div class="major-minor" *ngIf=" info.sport  || info.club">
          <div class=" centerR" *ngIf=" info.sport ">
          <i class="fas fa-running" matTooltip="Sport" style="color: #99a7d2"></i>
            <!-- Sport -->
            {{ info.sport}}
          </div>
          <div class="centerR" *ngIf=" info.club ">
            <!-- Club -->
          <i class="fas fa-user-friends" matTooltip="Club" style="color: #99a7d2"></i>
            {{ info.club}}
          </div>

        </div>
        <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " -->
        <mat-divider class="margin" *ngIf="info.sport  || info.club"></mat-divider>
        <div class="friendsCount" >
          <div class="centerR">
            Followers
            <!-- Counter -->
            {{followers.length}}
            
          </div>
          <div class="centerR">
            Following
            <!-- Counter -->
            {{follow.length}}

          </div>
        </div>


      </div>

    </div>



    <!-- Middle -->
    <div class="middle hide">

      <!-- User-Name -->
      <div class="top-middle">

        <!-- No Bio -->
        <!-- Pronouns Full name & age   *ngIf="fullname.value " -->
       
          <div class="text-2" >


            <div class="fName">

              <div *ngIf="info.name" class="name">
                {{ info.name}}
                <div *ngIf="info.pronouns" class="pronouns"  matTooltip="Proper Pronouns">
                  ({{ info.pronouns}})
                    </div>
              </div>
       

                <div class="center_" *ngIf="Following === false">
              <mat-chip-list  class="center_" 
                aria-label="FollowBtn">
                <mat-chip color='warn' selected class="messageM" matTooltip="Follow"
                 (click)="followClicked(info.username)"  >
                 Follow
                </mat-chip>
                </mat-chip-list>
              </div>

              <div class="center_" *ngIf="Following === true">
                <!--  -->
                <mat-chip-list  class="center_"  *ngFor="let follow of following"
                aria-label="FollowBtn">
                <mat-chip  selected class="followingColor" matTooltip="Unfollow"
                 (click)="onUnfololow(follow._id)" >
                 Following
                </mat-chip>
              </mat-chip-list>

              <button *ngIf="info.bio.length > 50 " mat-icon-button class='bioHeart' (click)="onBio()"  matTooltip="Display Bio">
                <!-- <i class="fab fa-readme"></i> -->
                <i class="far fa-heart"></i>
              </button>

            

              </div>

              <div class="bio" *ngIf="info.bio.length <= 50 " >
                <!-- <div class="bio_">Bio:</div>  -->
                <div>{{info.bio}}
                </div> 
                </div>


            </div>

          </div>
        

      </div>

      <div class="hide">
        <div class="HighlightsM">
          <div class="highlights-layout">


        <mat-tab-group class="column_1" >
  
          <mat-tab label="Completed Courses"  >
           
       

            <div class=" scroll">
                <!-- *ngFor="let list of Com" -->
                <div class="list">
                  <mat-chip-list class="center__">
                    <div class="columnCoursesBox">
                    <!-- <mat-card-title class="titleC_">
                      Accomplishments
                      </mat-card-title>
                      <mat-divider></mat-divider> -->

                    <div class="middleText">
                    <div class="titleC" *ngIf="info.CodeCompleted || info.CodeCompleted2 || info.CodeCompleted3|| info.CodeCompleted4|| info.CodeCompleted5
                    || info.CodeCompleted6 || info.CodeCompleted7 || info.CodeCompleted8|| info.CodeCompleted9|| info.CodeCompleted10"
                    > First Year 
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="First Semester"
                    *ngIf="info.CodeCompleted || info.CodeCompleted2 || info.CodeCompleted3|| info.CodeCompleted4|| info.CodeCompleted5" 
                     style="color: saddlebrown; margin-top:4%">
                    </span>
                    <!-- disabled -->
                    <mat-chip *ngIf="info.CodeCompleted" class="style fall" color="primary" selected >
                      <!-- {{list}} -->
                 
                      {{ info.CodeCompleted | uppercase}}
                    </mat-chip>

                      <mat-chip *ngIf="info.CodeCompleted2" class="style fall" color="primary" selected >
                        {{ info.CodeCompleted2 | uppercase}}
                    </mat-chip>

                        <mat-chip *ngIf="info.CodeCompleted3" class="style fall" color="primary" selected >
                          {{ info.CodeCompleted3 | uppercase}}
                    </mat-chip>

                          <mat-chip *ngIf="info.CodeCompleted4" class="style fall" color="primary" selected >
                            {{ info.CodeCompleted4 | uppercase}}
                    </mat-chip>

                            <mat-chip *ngIf="info.CodeCompleted5" class="style fall" color="primary" selected >
                              {{ info.CodeCompleted5 | uppercase}}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Second Semester"
                    *ngIf="info.CodeCompleted6 || info.CodeCompleted7 || info.CodeCompleted8|| info.CodeCompleted9|| info.CodeCompleted10"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                              <mat-chip *ngIf="info.CodeCompleted6" class="style winter" color="primary" selected >
                                {{ info.CodeCompleted6 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted7" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted7 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted8" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted8 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted9" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted9 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted10" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted10 | uppercase}}
                    </mat-chip>
                    <mat-divider *ngIf="info.CodeCompleted11 || info.CodeCompleted16 "></mat-divider>
          </div>
          <div>
          <div class="middleText">
                    <div class="titleC" 
                    *ngIf="info.CodeCompleted11 || info.CodeCompleted12 || info.CodeCompleted13|| info.CodeCompleted14 || info.CodeCompleted15
                    || info.CodeCompleted16 || info.CodeCompleted17 || info.CodeCompleted18 || info.CodeCompleted19 || info.CodeCompleted20"> Second Year
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="Third Semester"
                     *ngIf="info.CodeCompleted11 || info.CodeCompleted12 || info.CodeCompleted13|| info.CodeCompleted14|| info.CodeCompleted15"
                     style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="info.CodeCompleted11" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted11 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted12" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted12 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted13" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted13 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted14" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted14 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted15" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted15 | uppercase}}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Fourth Semester"
                    *ngIf="info.CodeCompleted16 || info.CodeCompleted17 || info.CodeCompleted18|| info.CodeCompleted19|| info.CodeCompleted20"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted16" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted16 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted17" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted17 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted18" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted18 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted19" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted19 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted20" class="style winter" color="primary" selected >
                      {{ info.CodeCompleted20 | uppercase}}
                    </mat-chip>
                  </div>
                  </div>
                  <mat-divider *ngIf="info.CodeCompleted21 || info.CodeCompleted26 "></mat-divider>
                  <div class="middleText">

                    <div class="titleC" 
                    *ngIf="info.CodeCompleted21 || info.CodeCompleted22 || info.CodeCompleted23 || info.CodeCompleted24 || info.CodeCompleted25
                    || info.CodeCompleted26 || info.CodeCompleted27 || info.CodeCompleted28 || info.CodeCompleted29 || info.CodeCompleted30"> Third Year
                    </div>
                    <span class="fas fa-leaf centerIcon" matTooltip="Fifth Semester"
                     *ngIf="info.CodeCompleted21 || info.CodeCompleted22 || info.CodeCompleted23 || info.CodeCompleted24 || info.CodeCompleted25" style="color: saddlebrown; margin-top:4%">
                    </span>
                    <div class="middleText">
                    <mat-chip *ngIf="info.CodeCompleted21" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted21 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted22"  class="style fall" color="primary" selected >
                      {{ info.CodeCompleted22 | uppercase}}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted23" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted23 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted24"  class="style fall" color="primary" selected >
                      {{ info.CodeCompleted24 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted25" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted25 | uppercase}}
                    </mat-chip>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Sixth Semester"
                    *ngIf="info.CodeCompleted26 || info.CodeCompleted27 || info.CodeCompleted28 || info.CodeCompleted29 || info.CodeCompleted30"
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted26"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted26 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted27"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted27 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted28"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted28 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted29"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted29 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted30"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted30 | uppercase}}
                    </mat-chip>
                  </div>
                </div>
                <mat-divider *ngIf="info.CodeCompleted31 || info.CodeCompleted36 "></mat-divider>

                  <div class="middleText">
                    <div class="titleC" *ngIf="info.CodeCompleted31 || info.CodeCompleted32 || info.CodeComplete33 || info.CodeCompleted34 || info.CodeCompleted35 ||
                    info.CodeCompleted36 || info.CodeCompleted37 || info.CodeComplete38 || info.CodeCompleted39 || info.CodeCompleted40 || info.CodeCompletedX"> Fourth Year<i class="fas fa-graduation-cap"></i>
                  </div>
                  <span class="fas fa-leaf centerIcon" matTooltip="Seventh Semester"
                   *ngIf="info.CodeCompleted31 || info.CodeCompleted32 || info.CodeCompleted33 || info.CodeCompleted34 || info.CodeCompleted35" style="color: saddlebrown; margin-top:4%">
                  </span>
                    <mat-chip *ngIf="info.CodeCompleted31"  class="style fall" color="primary" selected >
                      {{ info.CodeCompleted31 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted32" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted32 | uppercase}}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted33" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted33 | uppercase}}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted34" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted34 | uppercase}}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted35" class="style fall" color="primary" selected >
                      {{ info.CodeCompleted35 | uppercase}}
                    </mat-chip>
                    
                    <span class="fas fa-snowflake centerIcon" matTooltip="Eigth Semester"
                    *ngIf="info.CodeCompleted36 || info.CodeCompleted37 || info.CodeCompleted38 || info.CodeCompleted39 || info.CodeCompleted40 || info.CodeCompletedX" 
                     style="color: #88c4f9; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodeCompleted36"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted36 | uppercase}}
                    </mat-chip>

                    <mat-chip  *ngIf="info.CodeCompleted37"  class="style winter" color="primary" selected >
                      {{ info.CodeCompleted37 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted38"   class="style winter" color="primary" selected >
                      {{ info.CodeCompleted38 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted39"   class="style winter" color="primary" selected >
                      {{ info.CodeCompleted39 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompleted40"   class="style winter" color="primary" selected >
                      {{ info.CodeCompleted40 | uppercase}}
                    </mat-chip>

                    <mat-chip *ngIf="info.CodeCompletedX"  class="style winter" color="primary" selected >
                      {{ info.CodeCompletedX | uppercase}}
                    </mat-chip>
                  </div>
                </div>
                </div>
                  </mat-chip-list>
                </div>

            </div>
          </mat-tab>

          <!-- "!((profile | async)?.CodePursuing) ? 'hide_' : 'completed-courses' " -->
          <mat-tab label="Next Courses">
           <!-- <div class="titleC"> In Progress <i class="fas fa-hourglass-half"></i>
          </div> -->

            <div class="words1">
              <!-- Courses -->

            </div>
            <div class="scroll">

                <!-- *ngFor="let list of Pur" -->
                <div class="list">
                  <mat-chip-list  class="center__">
                    <div class="columnCoursesBox">
                      <!-- <mat-card-title class="titleC_">
                        Seasonal Semesters
                        </mat-card-title>
                        <mat-divider></mat-divider> -->
                      <div>
                      <span class="fas fa-leaf centerIcon" matTooltip="Fall Semester"
                       *ngIf="info.CodePursuing || info.CodePursuing2 || info.CodePursuing3 || info.CodePursuing4 || info.CodePursuing5" 
                      style="color: saddlebrown; margin-top:4%">
                      </span>
                      <div class="centerIcon">
                      <mat-chip *ngIf="info.CodePursuing" class="style fall" color="primary" selected >
                      {{ info.CodePursuing | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing2" class="style fall" color="primary" selected >
                      {{ info.CodePursuing2 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing3" class="style fall" color="primary" selected >
                      {{ info.CodePursuing3 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing4" class="style fall" color="primary" selected >
                      {{ info.CodePursuing4 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing5" class="style fall" color="primary" selected >
                      {{ info.CodePursuing5 | uppercase}}
                    </mat-chip>
                    </div>
                  <mat-divider *ngIf="info.CodePursuing6 "></mat-divider>

                    </div>
                    <div>
                    <span class="fas fa-snowflake centerIcon" matTooltip="Winter Semester"
                     *ngIf="info.CodePursuing6 || info.CodePursuing7 || info.CodePursuing8 || info.CodePursuing9 || info.CodePursuing10" 
                    style="color: #88c4f9; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="info.CodePursuing6" class="style winter" color="primary" selected >
                      {{ info.CodePursuing6 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing7" class="style winter" color="primary" selected >
                      {{ info.CodePursuing7 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing8" class="style winter" color="primary" selected >
                      {{ info.CodePursuing8 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing9" class="style winter" color="primary" selected >
                      {{ info.CodePursuing9 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing10" class="style winter" color="primary" selected >
                      {{ info.CodePursuing10 | uppercase}}
                    </mat-chip>
                  </div>
                  <mat-divider *ngIf="info.CodePursuing11 || info.CodePursuing12 "></mat-divider>

                </div>
                <div>
                     <span class="fas fa-seedling centerIcon" matTooltip="Spring Semester"
                     *ngIf="info.CodePursuing11 || info.CodePursuing12" 
                     style="color: cadetblue; margin-top:4%">
                    </span>
                    <div class="centerIcon">
                    <mat-chip *ngIf="info.CodePursuing11" class="style spring" color="primary" selected >
                      {{ info.CodePursuing11 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing12" class="style spring" color="primary" selected >
                      {{ info.CodePursuing12 | uppercase}}
                    </mat-chip>
                    <mat-divider *ngIf="info.CodePursuing13 || info.CodePursuing14"></mat-divider>
                    <span class="fas fa-sun" matTooltip="Summer Semester"
                    *ngIf="info.CodePursuing13 || info.CodePursuing14" 
                    style="color: #d89163; margin-top:4%">
                    </span>
                    <mat-chip *ngIf="info.CodePursuing13" class="style summer" color="primary" selected >
                      {{ info.CodePursuing13 | uppercase}}
                    </mat-chip>
                    <mat-chip *ngIf="info.CodePursuing14" class="style summer" color="primary" selected >
                      {{ info.CodePursuing14 | uppercase}}
                    </mat-chip>
                  </div>
                </div>
              </div>
                  </mat-chip-list >
                </div>
         
            </div>

          </mat-tab>
          <!-- </ng-container> -->
        </mat-tab-group>

            
          </div>
        </div>
        <div class="activityM">
          <!-- Right side -->
          <!-- Recent Posts text  -->
          <div class="right-side" >
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Activity" >
                <ng-template mat-tab-label>
                  <mat-icon> <span class="material-icons-two-tone">
                     category
                     <!-- apps -->
                     </span>
                   </mat-icon>
                   <div >Activity</div>
                 
                 </ng-template>
                <!-- <div class="column1" *ngIf=" posts.length == 0 ">
                  <div class="row"> No Posts Made</div><span class="fa-duotone fa-hat-wizard centerR iconEmpty"></span>
                </div> -->
                <div class="posts" >
                  <app-card class="postCard" >
                  </app-card>
                </div>
              </mat-tab>
              <mat-tab label="Showcase"  >
                <ng-template mat-tab-label>
                  <mat-icon><span class="material-icons-two-tone">
                    photo_library
                    </span></mat-icon>
          <div >Showcase</div>
    
                 </ng-template>
                <!-- <div class="column1"  *ngIf="!showCase.ShowCasePath">
                  <div class="row"> No Showcases Added</div> <span
                    class="fa-solid fa-hat-wizard centerR iconEmpty"></span>
                </div>  -->
                <div class="showCase" >
                  <div *ngIf="showCases.length == 0" class="noPosts_">
                    <i class="fas fa-ghost ghost"></i>
                    <div class="noPosts">
                   No showcases made
                    </div>
                  </div>
                 <div class="showCase_" *ngFor="let showCase of showCases">
                  <div class="showMore" *ngIf="countVisibility >= 1">
                    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeedBack()">Previous
                        <!-- <i class="fas fa-chevron-circle-down"></i> -->
                        <i class="fas fa-caret-up"></i>
                  
                    </mat-chip>
                    </div>
                  <div class="column" *ngIf="showCase.ShowCasePath">
                    <input type="image" (click)="imgClick(showCase.ShowCasePath)" class="img" src={{showCase.ShowCasePath}} id="myImg"/>
                    <!-- *ngFor="let showCase of showCases {{ShowCase}} -->
                  </div>
                  
                  
              
                  <video *ngIf="showCase.VideoPath" class="column"  src="{{showCase.VideoPath}}"  controls autoload>
                  </video>

                  <div class="showMore" *ngIf="showCase.length == 6">
                    <mat-chip color="warn" selected class="showMoreBtn" matTooltip="Display More" (click)="onClickFeed()">Show More
                        <!-- <i class="fas fa-chevron-circle-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </mat-chip>
                    </div>

                </div>
                <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <button mat-icon-button class="close" (click)="close()">
    <i class="far fa-times-circle"></i>
  </button>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" src='' id="img01">
</div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

















<!--  Mobile -->
<!-- Side Info -->
<!-- <div *ngIf="!isLoading">
  <mat-sidenav-container autosize class="side_nav_container">


    <mat-sidenav #sidenav position="start" class="side_nav">


      <div>
        <button type="button" mat-icon-button (click)="sidenav.close()">
          <i class="fas fa-angle-left"></i>
        </button>
      </div>






      <div class="center">
        <div class="hide-input">
          <div class="uNameMsg">



            <div class="centerR_">
              <!-- This is hard coded once user signs up --
              {{(Id |async)?.UserName}}

            </div>
            <div>
              <button class="icon" mat-icon-button routerLink="/messages">
                <span class="material-icons">
                  chat
                </span>
              </button>
            </div>





          </div>
          <div class="centerGD" *ngIf="(profile | async)?.Gender.name || (profile | async )?.Birthday  ">
            <div *ngIf="(profile | async)?.Gender.name">
              <!--  Male --
              {{ (profile | async)?.Gender.name}}
            </div>
            <div *ngIf="(profile | async )?.Birthday">
              <!-- Eventually just have the age calculated out...maybe --
              {{ (profile | async )?.Birthday|date:"longDate" }}
            </div>

            <!-- <div *ngIf="date equals bd input"> <i class="fas fa-birthday-cake icon"></i>
          Happy Birthday
          </div> --


          </div>

        </div>

        <mat-divider class="margin"></mat-divider>
        <!-- Major/Minor --
        <div class="major-minor" *ngIf="(profile| async)?.Major || (profile| async)?.Minor ">
          <!-- *ngIf="major.value" --
          <div class="centerR" *ngIf="(profile| async)?.Major ">
            <!-- Major --
            <i class="fas fa-star large">{{ (profile | async)?.Major}}</i>

          </div>
          <div class="centerR" *ngIf="(profile| async)?.Minor ">
            <!-- Minor --
            <i class="far fa-star large">{{ (profile | async)?.Minor}}</i>
          </div>

        </div>
        <mat-divider class="margin" *ngIf="(profile| async)?.Major  || (profile| async)?.Minor">
        </mat-divider>
        <!-- Sport/Club --
        <div class="major-minor" *ngIf="(profile| async)?.Sport  || (profile| async)?.Club">
          <div class=" centerR" *ngIf="(profile| async)?.Sport ">
            <!-- Sport --
            {{ (profile | async)?.Sport}}
          </div>
          <div class="centerR" *ngIf="(profile| async)?.Club ">
            <!-- Club --
            {{ (profile | async)?.Club}}
          </div>

        </div>
        <!-- [ngClass]="sport.value & club.value  ? 'hiden' : 'margin' " --
        <mat-divider class="margin"></mat-divider>
        <div class="friendsCount">
          <div class="centerR">
            Followers
            <!-- Counter -->
            <!-- {{followers}} --
          </div>
          <div class="centerR">
            Following
            <!-- Counter -->
            <!-- {{follow}} --
          </div>
        </div>


      </div>










    </mat-sidenav>

    <mat-sidenav-content>

      <div class="middle">


        <!-- User-Name --
        <div class="top-middle">

          <!-- No Bio -->
          <!-- Pronouns Full name & age   *ngIf="fullname.value " --

          <div class="text-2">


            <div class="profile-pic" *ngIf="(profile | async)?.profPic">
              <!-- need to get croppeded value --
              <img class="pic" src="{{(profile | async)?.profPic}}">
              <!-- <img *ngFor="let id of ids" src="{{id.profilePic}}" class="pic" /> --
            </div>

            <div class="profile-pic" *ngIf="!(profile | async)?.profPic">
              <img src="../../assets/Pics/WhiteSquareInAppLogo.jpg" class="pic" />
            </div>




            <div class="fName">

              <!-- Chase Olsen --
              {{ (profile | async)?.Pronouns}}
              {{ (profile | async)?.Name}}

            </div>

          </div>




        </div>
        <div class="hideM info_btn_container">
          <button type="button" mat-button (click)="sidenav.open()" class="info_btn">
            More Info
            <i class="fas fa-angle-right"></i>
          </button>
          <mat-chip-list class="center_" aria-label="FollowBtn">
            <mat-chip class="messageM" (click)="followClicked()">


              {{ following ? "Unfollow" : "Follow" }}

              <!-- Switches to Unfollow btn option  --

            </mat-chip>
          </mat-chip-list>
        </div>


        <!-- MOBILE --

        <mat-tab-group dynamicHeight dynamicWidth mat-align-tabs="center" class="hideM">
          <mat-tab label="Highlights">
            <div class="HighlightsM">
              <!-- Hightlight Input box --
              <div class="highlights-layout">
                <div class="column1" *ngIf="groups.length == 0">
                  <div class="row"> No Groups Joined</div><i class="far fa-frown centerR iconEmpty"></i>
                </div>

                <div class="groups-j" *ngIf="groups.length != 0">
                  <div class="words">
                    <div class="title">
                      <div class="title1">Groups Joined</div>

                    </div>
                    <div class="groups_">
                      <app-card-brief class="fit_" *ngFor="let group of groups">
                        {{group}}
                      </app-card-brief>
                    </div>

                  </div>
                </div>

                <div class="row_1">
                  <div class="column1"
                    *ngIf=" !((profile | async)?.CodeCompleted  || (profile | async)?.filteredCodesP)">
                    <div class="row"> No Courses Added</div>
                    <!-- <i class="far fa-frown centerR"></i> -->
                  <!-- </div> -->
                  <!-- Hidden if neither are filled in --


                  <div [ngClass]="(profile | async)?.CodeCompleted  ?  'completed-courses': 'hide_' ">
                    <div class="words1">Completed

                      <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                        matBadge="{{(profile | async)?.CodeCompleted}}"></div>
                    </div>

                    <div class=" scroll">
                      <mat-chip-list>
                        <!-- *ngFor="let list of Com" --
                        <div class="list">
                          <div class="center__">
                            <mat-chip class="style" disabled>
                              <!-- {{list}} --
                              {{ (profile | async)?.CodeCompleted}}
                            </mat-chip>
                          </div>
                        </div>
                      </mat-chip-list>
                    </div>

                  </div>
                  <div [ngClass]="(profile | async)?.CodePursuing ? 'completed-courses' : 'hide_' ">
                    <div class="words1">Pursuing
                      <div class="counter" matBadgePosition="after" matBadgeOverlap="false"
                        matBadge="{{  (profile | async)?.CodePursuing }}"></div>
                    </div>
                    <div class="scroll">
                      <mat-chip-list>
                        <!-- *ngFor="let list of Pur" --
                        <div class="list">
                          <div class="center__">
                            <mat-chip class="style" disabled>
                              <!-- {{list}} --
                              {{ (profile | async)?.CodePursuing}}
                            </mat-chip>
                          </div>
                        </div>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Activity">
            <div class="column1" *ngIf="posts.length == 0">
              <div class="row"> No Posts Made</div><i class="far fa-frown centerR iconEmpty"></i>
            </div>

            <!-- Recent Posts text  --
            <div class="posts" *ngIf="posts.length !== 0">
              <app-card *ngFor="let post of posts">
                {{post}}
              </app-card>
            </div>
          </mat-tab>
          <!-- Snap shots --
          <mat-tab label="Showcase">
            <div class="column1" *ngIf="!(profile|async)?.ShowCase">
              <div class="row"> No Showcases Added</div><i class="fas fa-eye-slash centerR"></i>
            </div>
            <div class="showCase" *ngIf="(profile|async)?.ShowCase">

              <div class="column">
                <img class="img" src={{(profile|async)?.ShowCase}} />
                <!-- *ngFor="let showCase of showCases" --
              </div>

            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav-content>


  </mat-sidenav-container>
</div> -->